{% load i18n %}
{% load config %}
{% config "enable_shares" as c_enable_shares %}
{% vocabulary "subscription" as v_subscription %}
{% vocabulary "subscription_pl" as v_subscription_pl %}
{% vocabulary "share_pl" as v_share_pl %}
{% vocabulary "member_pl" as v_member_pl %}
<hr/>
<h5>
    {% trans "Administration" %}
</h5>
<ul class="admin-menu nav flex-column">
    {% if operation_group or area_admin %}
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                {% trans "Daten Administration" %}
            </a>
        </li>
    {% endif %}
    {% if operation_group %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#subman">
                {% blocktrans %}{{ v_subscription }} Management{% endblocktrans %}
                <i class="fas fa-angle-right">
                </i>
            </a>
            <div class="collapse" id="subman">
                <ul class="nav flex-column subadmin-menu">
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sub-mgmt-waitinglist' %}">
                                {% trans "Warteliste" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sub-mgmt-changelist' %}">
                                {% trans "Grössen Änderungen" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sub-mgmt-canceledlist' %}">
                                {% trans "Kündigungsliste" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group and has_extra_subscriptions %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sub-mgmt-extra-waitinglist' %}">
                                {% trans "Zusatzabos Warteliste" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group and has_extra_subscriptions %}
                        <li class="nav-item">
                            <a class="nav-link"href="{% url 'sub-mgmt-extra-canceledlist' %}">
                                {% trans "Zusatzabos Kündigungsliste" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'future' %}">
                                {% trans "Zukunftsblick" %}
                            </a>
                        </li>
                    {% endif %}
                    {% for menu in admin_subscription_menus %}
                        {% include menu %}
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
    {% if operation_group%}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#memberman">
                {% blocktrans %}{{ v_member_pl }} Management{% endblocktrans %}
                <i class="fas fa-angle-right">
                </i>
            </a>
            <div class="collapse" id="memberman">
                <ul class="nav flex-column subadmin-menu">
                    {% if operation_group%}
                        <li class="nav-item">
                            <a class="nav-link"href="{% url 'member-mgmt-canceledlist' %}">
                                 {% blocktrans %}{{ v_member_pl }} Kündigungsliste{% endblocktrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}
    {% if operation_group and c_enable_shares %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#shareman">
                {% blocktrans %}{{ v_share_pl }} Management{% endblocktrans %}
                <i class="fas fa-angle-right">
                </i>
            </a>
            <div class="collapse" id="shareman">
                <ul class="nav flex-column subadmin-menu">

                    {% if operation_group%}
                        <li class="nav-item">
                            <a class="nav-link"href="{% url 'share-mgmt-canceledlist' %}">
                                 {% blocktrans %}{{ v_share_pl }} Kündigungsliste{% endblocktrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}
    {% if can_filter_members or can_filter_subscriptions or  depot_admin|length > 0 or area_admin|length > 0 %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#filterman">
                {% trans "Filter" %}
                <i class="fas fa-angle-right">
                </i>
            </a>
            <div class="collapse" id="filterman">
                <ul class="nav flex-column subadmin-menu">
                    {% if can_filter_members or can_filter_subscriptions %}
                        <li class="nav-item inline">
                            {% if can_filter_members %}
                                <a class="nav-link inline" href="{% url 'filters' %}">
                                    {% vocabulary "member_pl" %}
                                </a>
                                |
                            {% endif %}
                            {% if can_filter_subscriptions %}
                                <a class="nav-link inline"href="{% url 'filter-subs' %}">
                                    {% vocabulary "subscription_pl" %}
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% for depot in depot_admin %}
                        <li class="nav-item inline">
                            <a class="nav-link inline"href="{%  url 'filter-depot' depot.id %}">
                                {% vocabulary "member_pl" %}
                            </a>
                            |
                            <a class="nav-link inline" href="{% url 'filter-subs-depot' depot.id %}">
                                {% blocktrans with dn=depot.name %}{{ v_subscription_pl }} im {{ dn }}{% endblocktrans %}
                            </a>
                        </li>
                    {% endfor %}
                    {% for area in area_admin %}
                        <li class="nav-item">
                            <a class="nav-link"href="{% url 'filter-area' area.id %}">
                                {% vocabulary "member_pl" %} {% trans "in" %} {{ area.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
    {% if can_send_mails %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mail' %}">
                {% trans "Mails verschicken" %}
            </a>
        </li>
    {% endif %}
    {% if operation_group %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#lists">
                {% trans "Listen" %}
                <i class="fas fa-angle-right">
                </i>
            </a>
            <div class="collapse" id="lists">
                <ul class="nav flex-column admin-menu subadmin-menu">
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists-depot-amountoverview' %}">
                                {% trans "Mengen Übersicht" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link"href="{% url 'lists-depotlist' %}">
                                {% vocabulary "depot" %}-{% trans "Listen" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if operation_group %}
                        <li class="nav-item">
                            <a class="nav-link"href="{% url 'lists-depot-overview' %}">
                                {% vocabulary "depot" %} {% trans "Übersicht" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}
    {% if operation_group %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'export' %}">
                {% trans "Exporte" %}
            </a>
        </li>
    {% endif %}
    {% for menu in admin_menus %}
        {% include menu %}
    {% endfor %}
</ul>
