{% load i18n %}
{% load config %}
{% vocabulary "subscription" as v_subscription %}
<ul class="main-menu nav flex-column">
    <li>
        <h5>
            {% blocktrans with fn=user.member.first_name %}Dein Menu {{ fn }}{% endblocktrans %}
        </h5>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ menu.subscription }}" href="{% url 'sub-detail' %}">
            {{ v_subscription }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ menu.jobs }}" href="{% url 'jobs' %}">
            {% trans "Einsätze" %}
        </a>
        {% if menu.jobs == 'active' %}
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'memberjobs' %}">
                        {% trans "Meine Einsätze" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobs-all' %}">
                        {% trans "Aktuelle und vergangene Einsätze" %}
                    </a>
                </li>
            </ul>
        {% endif %}
    </li>
    {% if show_deliveries %}
        <li class="nav-item">
            <a class="nav-link {{ menu.deliveries }}" href="{% url 'deliveries' %}">
                {% trans "Lieferungen" %}
            </a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {{ menu.area }}" href="{% url 'areas' %}">
            {% trans "Tätigkeitsbereiche" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ menu.personalInfo }}" href="{% url 'profile' %}">
            {% trans "Personalien" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ menu.contact }}" href="{% url 'contact' %}">
            {% trans "Kontakt" %}
        </a>
    </li>
    {% for user_menu in user_menus %}
        {% include user_menu %}
    {% endfor %}
    <li class="separator">
    </li>
    <li class="nav-item main-menu-small">
        <a class="nav-link yellow" href="http://{% config "server_url" %}">
            {% config "server_url" %}
        </a>
    </li>
    <li class=" nav-item main-menu-small">
        <a class="nav-link yellow" href="{% url 'logout' %}">
            {% trans "Abmelden" %}
        </a>
    </li>
</ul>
