{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% load juntagrico.menu %}
{% show_deliveries request as b_show_deliveries %}
{% user_menus as l_user_menus %}
{% vocabulary "subscription" as v_subscription %}
<ul class="main-menu nav flex-column">
    <li>
        <h5>
            {% blocktrans with fn=request.user.member.first_name %}Dein Menu {{ fn }}{% endblocktrans %}
        </h5>
    </li>
    {% hook 'user_menu' %}
    {% for user_menu in l_user_menus %}
        {% include user_menu %}
    {% endfor %}
    <li class="separator">
    </li>
    <li class="nav-item main-menu-small">
        <a class="nav-link yellow" href="http://{% config "server_url" %}">
            {% config "server_url" %}
        </a>
    </li>
    <li class=" nav-item main-menu-small">
        <a class="nav-link yellow" href="{% url 'logout' %}">
            {% trans "Abmelden" %}
        </a>
    </li>
</ul>
