{% for parts in parts_by_date %}
    <div class="parts-for-date">
        <span class="pre date" title="{{ grouper_title }}">{{ parts.grouper|date:"Y-m-d" }}:</span>
        {% for part in parts.list %}
            <div class="{% if part.is_extra %} show-extra{% else %} show-normal{% endif %}">
                <input type="checkbox" form="form-sub-{{ subscription.id }}" checked="checked"
                       name="parts[]" id="form-part-{{ part.id }}" class="form-check-input"
                       value="{{ part.id }}">
                <label for="form-part-{{ part.id }}" class="form-check-label">
                    <span class="pre">{{ part }}{% if not forloop.last %},{% endif %}</span>
                </label>
            </div>
        {% endfor %}
    </div>
{% endfor %}