{% extends "base.html" %}

{% block content %}
	<h3>Der Hintergrund</h3>
	ortoloco ist Ende 2009 im Rahmen der "MontagsWerkstatt", dem Forum zu alternativen Wirtschaftsformen, in Zürich entstanden. Die Idee ist inspiriert von P.M.'s Buch "Neustart Schweiz" und basiert auf der Vision, eines vielfältigen (Land-)Wirtschaftsbetriebes mit integrierten Elementen wie beispielsweise Hofbäckerei, Käserei, Pastaproduktion, Textilien, Kindergarten. Gemäss den eigenen Fähigkeiten und Interessen engagieren sich die Beteiligten im Betrieb und decken so einen grossen Teil ihrer Bedürfnisse innerhalb nachbarschaftlicher Strukturen ab. Somit könnten sich längerfristig ganze Quartiere anstatt der Einzelhaushalte in ähnlicher Weise gemeinsam organisieren. Nach diesem Modell könnte die regionale Nahrungsmittelversorgung auch grossräumig in die Stadtplanung einbezogen werden. <br/><br/>

	Bereits sind in und aus ortoloco Projektgruppen aktiv, die Kräuter, Beeren, Pilze und Brot produzieren. So wird die Vision Schritt für Schritt zur Realität. <br/><br/>

	"Solidarische Landwirtschaft" und "regionale Vertragslandwirtschaft (RVL)" sind zwar neu für Zürich, nicht aber in der Westschweiz. Die "Agriculture contractuelle de proximité" ist seit Jahrzehnten ein bewährtes Modell der direkten Zusammenarbeit von ProduzentInnen und KonsumentInnen. Mittlerweile versorgen sich über 6000 Menschen in der Schweiz in einer dieser partizipativen Formen mit Gemüse. 
	
{% endblock %}
