{% extends "base.html" %}

{% block content %}
	<h3>Medienecho</h3>
	<table class="table medias">
		{% with lastYear=0 %}
		{% for media in medias %}
	  		<tr{% ifchanged media.year %} class="newYear"{% endifchanged %}>
	  			<td class="year">
                    {% ifchanged media.year %}
                        {{ media.year }}
                    {% endifchanged %}
	  			</td>
	  			<td><a target="_blank" href="/medias/{{media.mediafile}}">{{media.name}}</a></td>
	  		</tr>
		{% endfor %}
		{% endwith %}
	</table>
{% endblock %}
