{% load i18n %}
<div class="assignment-progress assignment-progress-text">
    {% if assignments.subscription %}
        {% with sub=assignments.subscription %}
            {# TODO: Adapt text for subscriptions with multiple members #}
            {% blocktrans with c=sub.assignment_count|floatformat r=sub.required_assignments|floatformat %}
                Du hast diese Saison bisher {{ c }} von den {{ r }} benötigten Einsätzen gemacht.
            {% endblocktrans %}
            {% if sub.required_core_assignments > 0 %}
                {% blocktrans with c=sub.core_assignment_count|floatformat r=sub.required_core_assignments|floatformat %}
                    Davon {{ c }} von {{ r }} in einem Kernbereich.
                {% endblocktrans %}
            {% endif %}
            {% if sub.future_assignment_count %}
                {% blocktrans with c=sub.future_assignment_count|floatformat %}{{ c }} weitere Einsätze hast du schon geplant.{% endblocktrans %}
            {% endif %}
        {% endwith %}
    {% else %}
        {% with member=assignments.member %}
            {# TODO: Fix the german for c=1 #}
            {% blocktrans with c=member.assignment_count|floatformat %}
                Du hast diese Saison {{ c }} Einsätze gemacht.
            {% endblocktrans %}
            {% if member.future_assignment_count %}
                {% blocktrans with c=member.future_assignment_count|floatformat %}{{ c }} weitere Einsätze hast du schon geplant.{% endblocktrans %}
            {% endif %}
        {% endwith %}
    {% endif %}
</div>
