{% load i18n %}
<div class="assignment-progress assignment-progress-text">
    {% if assignments.subscription %}
        {% with sub=assignments.subscription %}
            {% if assignments.future is None %}
                {% if sub.co_members.count %}
                    {% blocktrans with c=sub.assignment_count|floatformat count p=sub.assignment_count %}
                        Ihr habt diese Saison bisher {{ c }} Einsatz gemacht oder geplant.
                    {% plural %}
                        Ihr habt diese Saison bisher {{ c }} Einsätze gemacht oder geplant.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with c=sub.assignment_count|floatformat count p=sub.assignment_count %}
                        Du hast diese Saison bisher {{ c }} Einsatz gemacht oder geplant.
                    {% plural %}
                        Du hast diese Saison bisher {{ c }} Einsätze gemacht oder geplant.
                    {% endblocktrans %}
                {% endif %}
            {% else %}
                {% if sub.co_members.exists %}
                    {% blocktrans with c=sub.assignment_count|floatformat count p=sub.assignment_count %}
                        Ihr habt diese Saison bisher {{ c }} Einsatz gemacht.
                    {% plural %}
                        Ihr habt diese Saison bisher {{ c }} Einsätze gemacht.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with c=sub.assignment_count|floatformat count p=sub.assignment_count %}
                        Du hast diese Saison bisher {{ c }} Einsatz gemacht.
                    {% plural %}
                        Du hast diese Saison bisher {{ c }} Einsätze gemacht.
                    {% endblocktrans %}
                {% endif %}
            {% endif %}
            {% if sub.required_core_assignments > 0 %}
                {% blocktrans with c=sub.core_assignment_count|floatformat %}
                    Davon {{ c }} in Kernbereichen.
                {% endblocktrans %}
            {% endif %}
            {% if sub.co_members.exists %}
                {% blocktrans with r=sub.required_assignments|floatformat %}
                    Ihr benötigt insgesamt {{ r }}.
                {% endblocktrans %}
            {% else %}
                {% blocktrans with r=sub.required_assignments|floatformat %}
                    Du benötigst insgesamt {{ r }}.
                {% endblocktrans %}
            {% endif %}
            {% if sub.required_core_assignments > 0 %}
                {% blocktrans with r=sub.required_core_assignments|floatformat %}
                    Davon {{ r }} in Kernbereichen.
                {% endblocktrans %}
            {% endif %}
            {% if sub.future_assignment_count %}
                <br>
                {% blocktrans with c=sub.future_assignment_count|floatformat count p=sub.future_assignment_count %}
                    {{ c }} weiterer Einsatz ist schon geplant.
                {% plural %}
                    {{ c }} weitere Einsätze sind schon geplant.
                {% endblocktrans %}
            {% endif %}
        {% endwith %}
    {% else %}
        {% with member=assignments.member %}
            {% blocktrans with c=member.assignment_count|floatformat count p=member.assignment_count %}
                Du hast diese Saison {{ c }} Einsatz gemacht.
            {% plural %}
                Du hast diese Saison {{ c }} Einsätze gemacht.
            {% endblocktrans %}
            {% if member.future_assignment_count %}
                <br>
                {% blocktrans with c=member.future_assignment_count|floatformat count p=member.future_assignment_count %}
                    {{ c }} weiteren Einsatz hast du schon geplant.
                {% plural %}
                    {{ c }} weitere Einsätze hast du schon geplant.
                {% endblocktrans %}
            {% endif %}
        {% endwith %}
    {% endif %}
</div>
