db.sqlite
venv/*
*.pyc
static/medias/medias
static/medias/downloads
static/medias/photologue/photos
static/admin/*
.idea
static/medias/photologue/temp
settings_local.py
*.bak
ssl/*
my_settings_local.py
