__pycache__/*
.coverage
.docs/*
.idea
.venv/*
.vscode/*
*.bak
*.bat
*.db
*.pdf
*.pyc
**/*.egg-info
**/dist
/.project
db.sqlite
my_settings_local.py
settings_local.py
ssl/*
static/*
static/medias/photologue/temp
testsettings2.py
venv/*
_build