RewriteEngine On
RewriteCond %{HTTP_HOST}  ^my.ortoloco.ch$ [NC]
RewriteRule ^(.*)$ http://my.ortoloco.ch/my/home [L,R=302]

RewriteCond %{HTTP_HOST} ^(.*)$ [NC]
RewriteCond %{HTTP_HOST} !^(.*)\.(.*)\. [NC]
RewriteRule ^ HTTP%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]