include LICENSE
include README.rst
recursive-include juntagrico/static *
recursive-include juntagrico/templates *
recursive-include juntagrico/locale *
recursive-include juntagrico/fixtures *
include requirements.txt
global-exclude *.pyc
exclude manage.py
exclude settings/*
exclude urls/*
recursive-exclude juntagrico_test_addon *
prune *bin
