Django==1.10.5
Pillow==4.0.0
argparse==1.4.0
distribute==0.7.3
dj-database-url==0.4.2
dj-static==0.0.6
django-tinymce==2.6.0
django-subdomains==2.1.0
gunicorn==19.6.0
html5lib==1.0b8
pyPdf==1.13
reportlab==3.3.0
static==1.1.1
wsgiref==0.1.2
xhtml2pdf==0.0.6
django-impersonate==1.1
boto==2.45.0
django-storages==1.5.2
XlsxWriter==0.9.6
django-polymorphic==1.0.2
django-imagekit==3.3
django-toolbelt==0.0.1
MySQL-python==1.2.5
psycopg2==2.5.1
-r my_ortoloco/personalisation/personal_requirements.txt
