Django>=1.9.7
Pillow>=3.2.0
argparse>=1.4.0
distribute>=0.7.3
dj-database-url>=0.4.1
dj-static>=0.0.6
django-tinymce>=2.3.0
django-subdomains>=2.1.0
gunicorn>=19.6.0
html5lib>=1.0b8
pyPdf>=1.13
reportlab>=3.3.0
six>=1.10.0
static>=1.1.1
wsgiref>=0.1.2
xhtml2pdf>=0.0.6
django-impersonate>=1.0.1
boto>=2.29.1
django-storages>=1.1.8
XlsxWriter>=0.9.2
django-polymorphic>=0.8.1
django-imagekit>=3.3
-r my_ortoloco/personalisation/personal_requirements_upgrade.txt
