Django==1.6
Pillow==2.7.0
South==0.7.6
argparse==1.2.1
distribute==0.7.3
dj-database-url==0.2.2
dj-static==0.0.5
django-photologue==2.6.1
django-tinymce==1.5.1
gunicorn==17.5
html5lib==1.0b3
pyPdf==1.13
reportlab==2.7
six==1.4.1
static==0.4
wsgiref==0.1.2
xhtml2pdf==0.0.5
django-impersonate==0.8.1
