{% load juntagrico.common %}
{% load i18n %}
<ul>
    {% for participant in participants %}
        <li class="participant">
            <span class="participant-name">{{ participant }}</span>
            {% if participant.slots > 1 %}
                <span class="participant-count">(+{{ participant.slots|add:"-1" }})</span>
            {% endif %}
            {% if participant.is_first_job %}
                <span class="badge badge-success participant-first-time">
                    {% blocktrans %}Erster Einsatz{% endblocktrans %}
                </span>
            {% elif participant.is_first_job_in_area %}
                <span class="badge badge-success participant-first-time-in-area">
                    {% blocktrans %}Erster Einsatz im Tätigkeitsbereich{% endblocktrans %}
                </span>
            {% elif participant.is_first_job_of_type %}
                <span class="badge badge-success participant-first-time-of-type">
                    {% blocktrans %}Erster Einsatz dieser Art{% endblocktrans %}
                </span>
            {% endif %}
            <span class="participant-job-extras">
            {% for extra in job.all_participant_extras|get_item:participant %}
                {{ extra.extra_type.display_full|safe }}
            {% endfor %}
            </span>
            {% if can_edit_assignments %}
                {% spaceless %}
                    <a class="edit-assignment" href="#" data-url="{% url 'assignment-edit' job.id participant.id %}">
                        <i class="fas fa-pen"></i>
                    </a>
                {% endspaceless %}
            {% endif %}
            {% if can_contact or participant.reachable_by_email %}
                {% spaceless %}
                    <a class="contact-member" href="{% url 'email-to-member' participant.id %}">
                        <i class="far fa-envelope"></i>
                    </a>
                {% endspaceless %}
            {% endif %}
        </li>
    {% endfor %}
</ul>

{# button to contact all #}
{% if can_contact %}
    {% block send_mail %}
        <a href="{% url 'email-to-job' job.id %}" class="btn btn-secondary">
            <i class="fa fa-envelope"></i>
            {% trans "Allen ein E-Mail senden" %}
        </a>
    {% endblock %}
{% endif %}

{# Modal for editing assignment #}
{% if can_edit_assignments %}
    {% include "./modal_edit_assignment.html" with name='edit_assignment' %}
{% endif %}
