{% load i18n %}
{% load config %}
{% for p in products %}
    <div class="form-group row">
        <label class="col-md-3">
            {% if forloop.first %}
                {% blocktrans %}{{ v_subscription }}-Grösse{% endblocktrans %}
            {% endif %}
        </label>
        <div class="col-md-9">
            {{ p.name }}
            <br/>
            {{ p.description|linebreaksbr }}
        </div>
    </div>
    {% for subscription_size in p.sizes.all %}
        <div class="form-group row offset-md-4">
            <div class="col-md-9">
                {{ subscription_size.long_name }}
                <br/>
                {{ subscription_size.description|linebreaksbr }}
            </div>
        </div>
        {% for type in subscription_size.types.all %}
            {% if type.visible %}
                <div class="form-group row">
                    <div class="col-md-9 offset-md-4">
                        <div class="row align-items-center h-100 no-gutters">
                            <div class="col-md-2">
                                <span class="switch switch-sm">
                                    <input type="radio" class="switch" name="subscription" value="{{ type.id }}" id="type{{ type.id }}" {% if selected_subscription == type.id %}checked="checked"{% endif %}/>
                                    <label for="type{{ type.id }}">
                                    </label>
                                </span>
                            </div>
                            <label for="type{{ type.id }}" class="col-md-10">
                                {% if type.long_name.strip %}
                                    {{ type.long_name }}
                                    <br/>
                                {% endif %}
                                {% if type.description.strip %}
                                    {{ type.description|linebreaksbr }}
                                    <br/>
                                {% endif %}
                                {% vocabulary "price" %}: {{ type.price }} {% config "currency" %}
                                {% if c_enable_shares %}
                                    <br/>
                                    {% vocabulary "share_pl" %}: {{ type.shares }}
                                {% endif %}
                                <br/>
                                {% trans "Arbeitseinsätze" %}: {{ type.required_assignments }}
                                {% if hours_used %}
                                    {% trans "Stunden" %}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
