{% extends "juntagrico/signup/invitation/new.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}

{% block intro %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% block intro_1 %}
        <p class="capfirst">
            {% blocktrans with inviter=invitee.invited_by %}{{ inviter }} hat dich bei {{ v_d_enriched_organisation }} eingeladen.{% endblocktrans %}
        </p>
    {% endblock %}

    {% if must_wait %}
        <div class="alert alert-warning">
            {% blocktrans trimmed with v_this_subscription_dat=vocabulary.this_subscription_dat v_your_subscription=vocabulary.your_subscription %}
                Du kannst die Einladung annehmen, trittst {{ v_this_subscription_dat }} aber erst bei, nachdem {{ v_your_subscription }} endet.
            {% endblocktrans %}
            {% if next_possible_join_date %}
                <br>
                <span class="capfirst">
                    {% blocktrans trimmed with date=next_possible_join_date|date %}
                        Beitritt frühestens ab: {{ date }}
                    {% endblocktrans %}
                </span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block account %}
    {% csrf_token %}
{% endblock %}
