{% extends "juntagrico/signup/base.html" %}
{% load juntagrico.common %}
{% load juntagrico.snippets %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}

{% block title %}
    {% blocktrans %}Einladung{% endblocktrans %}
{% endblock %}

{% block intro %}
    {% include "./snippets/intro.html" %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% block account %}
            {% crispy account_form %}
        {% endblock %}

        {% if membership_form %}
            <h4 class="mt-5 capfirst">
                {% blocktrans trimmed with v_membership=vocabulary.membership %}
                    {{ v_membership }} beantraten
                {% endblocktrans %}
            </h4>

            {% block membership_intro %}
                {% include "juntagrico/subscription/create/snippets/membership_intro.html" %}
            {% endblock %}

            {% crispy membership_form %}
        {% endif %}

        {% if share_form %}
            <h4 class="mt-5 capfirst">
                {% blocktrans trimmed with v_share_pl=vocabulary.share_pl %}
                    {{ v_share_pl }} bestellen
                {% endblocktrans %}
            </h4>

            {% block share_intro %}
                <p>
                    {% include "juntagrico/my/share/snippets/intro.html" %}
                </p>
            {% endblock %}

            {% block share_requirements %}
                <ul>
                    {% if share_form.initial.of_member > 0 %}
                        <li>
                            {% blocktrans trimmed with inviter=invitee.invited_by v_share=vocabulary.share v_shares=vocabulary.share_pl count count=share_form.initial.of_member %}
                                {{ inviter }} hat für dich {{ count }} {{ v_share }} vorgesehen.
                            {% plural %}
                                {{ inviter }} hat für dich {{ count }} {{ v_shares }} vorgesehen.
                            {% endblocktrans %}
                        </li>
                    {% endif %}

                    {% if invitee.required_shares_for_subscription > 0 %}
                        <li>
                            {% blocktrans trimmed with v_the_subscription_acc=vocabulary.the_subscription_acc v_share=vocabulary.share v_shares=vocabulary.share_pl count count=invitee.required_shares_for_subscription %}
                                Für {{ v_the_subscription_acc }} wird deinerseits mindestens {{ count }} {{ v_share }} benötigt.
                            {% plural %}
                                Für {{ v_the_subscription_acc }} werden deinerseits mindestens {{ count }} {{ v_shares }} benötigt.
                            {% endblocktrans %}
                        </li>
                    {% endif %}

                    {% if required_shares_for_membership %}
                        <li>
                            {% block intro_share_membership %}
                                {% include "juntagrico/my/share/snippets/intro_for_membership.html" with required=required_shares_for_membership %}
                            {% endblock %}
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}

            {% crispy share_form %}
        {% endif %}
        <input type="submit" class="btn btn-lg btn-primary" value="{% trans 'Einladung verbindlich annehmen' %}">
    </form>
{% endblock %}
