{% extends "../base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.snippets %}

{% block page_title %}
    <h3>
        {% trans "Gekündigte Konten" %}
    </h3>
{% endblock %}

{% block content %}
    {% action_date request %}
    {% include '../member/snippets/toggle_buttons.html' %}
    {{ block.super }}
{% endblock %}

{% block list %}
    {% config 'enable_membership' as c_enable_membership %}
    {% config 'enable_shares' as c_enable_shares %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "share_pl" as v_share_pl %}
    <table id="filter-table" class="list table">
        <thead>
            <tr>
                <th class="filter">
                    {% vocabulary "member" %}
                </th>
                <th class="filter">
                    {% trans "Kündigungsdatum" %}
                </th>
                <th class="filter">
                    {% trans "Enddatum" %}
                </th>
                {% if c_enable_membership %}
                    <th class="filter">
                        {% blocktrans with v_membership=vocabulary.membership %}Aktive {{ v_membership }}{% endblocktrans %}
                    </th>
                {% endif %}
                {% if c_enable_shares %}
                    <th class="filter">
                        {% blocktrans %}Aktive {{ v_share_pl }}{% endblocktrans %}
                    </th>
                {% endif %}
                <th class="filter">
                    {% blocktrans %}Aktive/r/s {{ v_subscription }}{% endblocktrans %}
                </th>
                <th>
                    {% trans "Aktionen" %}
                </th>
                <th class="filter">
                    {% trans "Notizen" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for member in object_list %}
                <tr>
                    <td>
                        {% include './snippets/display_linked.html' %}
                        <div class="d-none member_id{% if not member.has_subscription and not member.share_count and not member.membership %} deactivatable{% endif %}">
                            {{ member.id }}{# spaces are required here #}
                        </div>
                    </td>
                    <td>
                        {{ member.cancellation_date|date:"Y-m-d" }}
                    </td>
                    <td>
                        {{ member.end_date|date:"Y-m-d" }}
                    </td>
                    {% if c_enable_membership %}
                        <td>
                            {{ member.membership|yesno:'(J),(N)' }}
                        </td>
                    {% endif %}
                    {% if c_enable_shares %}
                        <td>
                            {{ member.share_count }}
                            {{ member.share_count|yesno:'(J),(N)' }}
                        </td>
                    {% endif %}
                    <td>
                        {{ member.has_subscription|yesno:'(J),(N)' }}
                    </td>
                    <td>
                        {% if member.has_subscription %}
                            <span>
                                {% blocktrans trimmed %}
                                    {{ v_subscription }} muss zuerst deaktiviert werden.
                                {% endblocktrans %}
                            </span>
                        {% elif member.share_count %}
                            <span>
                                {% blocktrans trimmed %}
                                    {{ v_share_pl }} müssen zuerst deaktiviert werden.
                                {% endblocktrans %}
                            </span>
                        {% elif member.membership %}
                            <span>
                                {% blocktrans trimmed with v_membership=vocabulary.membership %}
                                    {{ v_membership }} muss zuerst deaktiviert werden.
                                {% endblocktrans %}
                            </span>
                        {% else %}
                            <a href="{% url 'manage-member-deactivate-single' member.id %}" class="btn btn-danger">
                                {% trans "deaktivieren" %}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ member.notes }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block datatable_constructor %}
    {{ block.super }}
    {% if perms.juntagrico.change_share %}
    config.layout.topStart.features.buttons.push(
        id_action_button(
            '<i class="bi bi-person-dash"></i> {% trans "Deaktivieren" %}',
            '{% url 'manage-member-deactivate' %}',
            '{% csrf_token %}', 
            '.deactivatable', 'member_ids',
            [
                {% vocabulary "member" as v_member %}
                '{% blocktrans %}1 {{ v_member }} deaktivieren?{% endblocktrans %}',
                {% vocabulary "member_pl" as v_member_pl %}
                '{% blocktrans %}Diese {count} {{ v_member_pl }} deaktivieren?{% endblocktrans %}'
            ]
        )
    )
    {% endif %}
{% endblock %}

