{% extends "./show.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% load juntagrico.snippets %}


{% block list_head %}
    <th class="filter">
        {% trans "Kontakt" %}
    </th>
    {% if can_remove_member %}
        <th>
            {% trans "Aktionen" %}
        </th>
    {% endif %}
{% endblock %}

{% block list_foot %}
    <th>
        {% trans "Kontakt" %}
    </th>
    {% if can_remove_member %}
        <th>
            {% trans "Aktionen" %}
        </th>
    {% endif %}
{% endblock %}

{% block list_entry %}
    <td>
        {# TODO: display email and phone number in own column #}
        {% include './snippets/display_linked.html' %}
    </td>
    {% if can_remove_member %}
        <td>
            <a href="{% url 'manage-area-member-remove' area.id member.id %}" class="btn btn-outline-danger"
               onclick="return confirm('{% trans "Bist du sicher?" %}')">
                {% trans "Entfernen" %}
            </a>
        </td>
    {% endif %}
{% endblock %}
