{% extends "mails/email.html" %}
{% block content %}
    Hallo lieber Buchhalter
    <br/><br/>
    Folgender Loco hat einen Anteilschein Bestellt<br/>
    {{loco.get_name}}<br/>
    {{loco.addr_street}}<br/>
    {{loco.addr_zipcode}} {{loco.addr_location}}<br/>
    {{loco.email}}<br/>
    {{loco.get_phone}}<br/>
    <br/>
    Bitte sobald er bezahlt und ausgestellt ist bitte hier eintragen<br/>
    <a href="{{serverurl}}/admin/my_ortoloco/anteilschein/{{anteilschein.id}}/change/">{{serverurl}}/admin/my_ortoloco/anteilschein/{{anteilschein.id}}/change/</a>
    <br/><br/>
    Viel Spass beim Erfassen
{% endblock %}