{% extends mail_template %}
{% load config %}
{% block content %}
    Achtung: <br/>

    Dein {% config "organisation_name" %}-Arbeitseinsatz <b>"{{ job.type.displayed_name }}"</b> findet neu zu folgenden Zeiten <b>{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</b> statt.
    <br/><br/>
    Details:
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th style="text-align: left; padding-right: 5px;font-size: 14px; font-family: 'Courier New',monospace;">Job:</th>
            <td style="font-size: 14px; font-family: 'Courier New',monospace;">{{ job.type.description }}</td>
        </tr>
        <tr>
            <th style="text-align: left; padding-right: 5px;font-size: 14px; font-family: 'Courier New',monospace;">Zeit:</th>
            <td style="font-size: 14px; font-family: 'Courier New',monospace;">{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</td>
        </tr>
        <tr>
            <th style="text-align: left; padding-right: 5px;font-size: 14px; font-family: 'Courier New',monospace;">Teilnehmer:</th>
            <td style="font-size: 14px; font-family: 'Courier New',monospace;">{{ participants }}</td>
        </tr>
        <tr>
            <th style="text-align: left; padding-right: 5px;font-size: 14px; font-family: 'Courier New',monospace;">Ort:</th>
            <td style="font-size: 14px; font-family: 'Courier New',monospace;">{{ job.type.location }}</td>
        </tr>
    </table><br/>

    Wir freuen uns, dich zu sehen und zählen auf dich!<br/><br/>

    Herzlich grüsst,<br/>
    dein {% config "organisation_name" %}-Team
{% endblock %}
