{% extends mail_template %}
{% load config %}
{% block content %}
    Hallo lieber Buchhalter
    <br/><br/>
    Folgender {% config "member_string" %} hat einen Anteilschein Bestellt<br/>
    {{member.get_name}}<br/>
    {{member.addr_street}}<br/>
    {{member.addr_zipcode}} {{member.addr_location}}<br/>
    {{member.email}}<br/>
    {{member.get_phone}}<br/>
    <br/>
    Bitte sobald er bezahlt und ausgestellt ist bitte hier eintragen<br/>
    <a href="{{serverurl}}/admin/juntagrico/anteilschein/{{share.id}}/change/">{{serverurl}}/admin/juntagrico/anteilschein/{{share.id}}/change/</a>
    <br/><br/>
    Viel Spass beim Erfassen
{% endblock %}
