{% extends "mails/email.html" %}
{% block content %}
    Wir freuen uns, dich bei ortoloco begrüssen zu dürfen. Soeben hat dich '{{ name }}' zu ihrem/seinem Gemüseabo hinzugefügt und für dich {{ anteilsscheine }} Share(e) erworben. Wenn du damit einverstanden bist, ortoloco-GenossenschafterIn zu werden und <a target="_blank" href="{{ serverurl }}/static/others/160910_-_Statuten_ortoloco.pdf">die Statuten</a> und <a target="_blank" href="{{ serverurl }}/static/others/160910_-_Betriebsreglement_ortoloco.pdf">das Betriebsreglement</a> gelesen hast, dann klicke bitte <a href="{{ serverurl }}/my/bestaetigung/{{ hash }}">hier zur Bestätigung</a>.

    <br/><br/>
    Unter <a href="http://my.ortoloco.ch">my.ortoloco.ch</a> kannst du dich ab sofort für Arbeitseinsätze anmelden und vieles mehr.
    <br/><br/>
    Email: {{ username }}<br/>
    Passwort: {{ password }} (bitte setze dir <a href="{{ serverurl }}/my/passwort">hier</a> gleich ein neues Passwort)
    <br/><br/>
    Weitere Infos wirst du bald erhalten. Bei Fragen oder Unklarheiten einfach melden: <br/>
    <a href="mailto:info@ortoloco.ch">info@ortoloco.ch</a>
    <br/><br/>
    Herzlich grüsst,<br/>
    die ortoloco-Betriebsgruppe
{% endblock %}
