{% load juntagrico.snippets %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% load i18n %}

{% include "./part_list.html" %}

{% block documents %}
    {% documents "extrasub" as c_documents %}
    {% for name, link in c_documents %}
        <div>{% ext_link name link %}</div>
    {% endfor %}
{% endblock %}

{% if subscription and not subscription.inactive %}
    <div class="mt-3">
        {% if subscription.primary_member == member %}
            {% if not subscription.canceled %}
                <a href="{% url 'part-order' subscription.id %}" class="btn btn-primary mb-3">
                    {% trans "Weitere Bestandteile bestellen" %}
                </a>
                {% if has_extra %}
                    <a href="{% url 'extra-order' subscription.id %}" class="btn btn-outline-primary mb-3">
                        {% trans "Zusatzabos bestellen" %}
                    </a>
                {% endif %}
                {% if member.subscriptions.not_terminated.count > 1 %}
                    <a href="{% url 'sub-cancel' subscription.id %}" class="btn btn-danger mb-3">
                        {% blocktrans %}Diese/n/s {{ v_subscription }} künden{% endblocktrans %}
                    </a>
                {% else %}
                    <a href="{% url 'cancel' %}" class="btn btn-danger mb-3">
                        {% blocktrans %}Kündigung{% endblocktrans %}
                    </a>
                {% endif %}
            {% else %}
                {% vocabulary "subscription_pl" as v_subscription_pl %}
                <i>{% blocktrans %}Für gekündigte {{ v_subscription_pl }} können keine Bestellungen getätigt werden.{% endblocktrans %}</i>
            {% endif %}
        {% else %}
            <i>{% blocktrans %}Nur {{ v_subscription }}-VerwalterIn kann Bestellungen tätigen.{% endblocktrans %}</i>
        {% endif %}
    </div>
{% endif %}
