{% load juntagrico.snippets %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% load i18n %}

{% if parts.exists %}
    <table class="table subscription-table">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Status" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for part in parts.sorted %}
            {% with remaining=part.remaining_trial_days %}
                <tr>
                    <td>
                        {{ part }}
                        {% if part.is_trial %}<span class="badge badge-info">{% trans "Probe" %}</span>{% endif %}
                    </td>
                    <td>
                        {% if remaining > 0 %}
                            {{ part.state_text }}
                            <div>
                                {% blocktrans trimmed count remaining=remaining %}
                                    Noch {{ remaining }} Tag
                                {% plural %}
                                    Noch {{ remaining }} Tage
                                {% endblocktrans %}
                            </div>
                        {% elif remaining <= 0 %}
                            <span class="badge badge-danger">{% trans "abgelaufen" %}</span>
                        {% else %}
                            {{ part.state_text }}
                        {% endif %}
                    </td>
                    <td>
                        {% if part.cancellation_date %}
                            {% blocktrans trimmed with cd=part.cancellation_date %}
                                Gekündigt am {{ cd }}
                            {% endblocktrans %}
                            {% if part.deactivation_date %}
                                <br>
                                {% blocktrans trimmed with dd=part.deactivation_date %}
                                    Noch aktiv bis am {{ dd }}
                                {% endblocktrans %}
                            {% endif %}
                        {% else %}
                            {% with ad=part.activation_date %}
                                {% if part.active %}
                                    {% if remaining > 0 %}
                                        {% blocktrans trimmed %}
                                            Aktiv seit {{ ad }}
                                        {% endblocktrans %}
                                        <br>
                                    {% endif %}
                                {% elif ad %}
                                    {% blocktrans trimmed %}
                                        Wird aktiv am {{ ad }}
                                    {% endblocktrans %}
                                    <br>
                                {% endif %}
                            {% endwith %}
                            {% if not no_actions and subscription.primary_member == member %}
                                {% if part.is_trial %}
                                    {% if not part.follow_up_parts.exists %}
                                        <div>{% trans "Willst du weitermachen?" %}</div>
                                        {% include "./buttons/trial.html" %}
                                    {% endif %}
                                {% elif part.is_extra %}
                                    {% if part.state != 'canceled' and  part.state != 'inactive' %}
                                        <a href="{% url 'part-cancel' part.id %}" class="btn btn-danger"
                                        onclick="return confirm('{% trans "Bist du sicher, dass du dieses Zusatzabo kündigen möchtest?" %}')">
                                            {% trans "kündigen" %}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if can_change_part %}
                                        <a href="{% url 'part-change' part.id %}" class="btn btn-primary">
                                            {% trans "ändern" %}
                                        </a>
                                    {% endif %}
                                    {% if part.subscription.future_parts.is_normal.count == 1 %}
                                        {% if part.subscription.state != 'canceled' and  part.subscription.state != 'inactive' %}
                                            <a href="{% url 'sub-cancel' subscription.id %}" class="btn btn-danger">
                                                {% blocktrans %}{{ v_subscription }} komplett künden{% endblocktrans %}
                                            </a>
                                        {% endif %}
                                    {% elif part.subscription.future_parts.is_normal.count > 1 %}
                                        <a href="{% url 'part-cancel' part.id %}" class="btn btn-danger"
                                        onclick="return confirm('{% trans "Bist du sicher, dass du diesen Bestandteil kündigen möchtest?" %}')">
                                            {% trans "kündigen" %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>
        {% trans "Keine" %}
    </div>
{% endif %}
