{% extends "./show.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.share %}

{% block page_title %}
    {% vocabulary "share_pl" as v_share_pl %}
    <h3>
        {% blocktrans %}Unbezahlte {{ v_share_pl }}{% endblocktrans %}
    </h3>
{% endblock %}

{% block head %}
{% endblock %}

{% block inner_list_head %}
    {% config "enable_membership" as c_enable_membership %}
    <th class="filter">
        {% trans "Bestellt am" %}
    </th>
    {% if c_enable_membership %}
        <th class="filter">
            {% blocktrans with v_membership=vocabulary.membership %}Benötigt für {{ v_membership }}{% endblocktrans %}
        </th>
    {% endif %}
    <th class="filter">
        {% vocabulary "subscription" as v_subscription %}
        {% blocktrans %}Benötigt für {{ v_subscription }}{% endblocktrans %}
    </th>
{% endblock %}

{% block inner_list_foot %}
    {% config "enable_membership" as c_enable_membership %}
    <th>
        {% trans "Bestellt am" %}
    </th>
    {% if c_enable_membership %}
        <th>
            {% blocktrans with v_membership=vocabulary.membership %}Benötigt für {{ v_membership }}{% endblocktrans %}
        </th>
    {% endif %}
    <th>
        {% vocabulary "subscription" as v_subscription %}
        {% blocktrans %}Benötigt für {{ v_subscription }}{% endblocktrans %}
    </th>
{% endblock %}

{% block entries %}
    {% config "enable_membership" as c_enable_membership %}
    {% regroup object_list by member as shares_list %}
    {% for member, shares in shares_list %}
        {% for share in shares %}
            <tr>
                <td data-order="{{ job.identifier }}">
                    {% include './snippets/display_linked.html' %}
                </td>
                <td>
                    {% include 'juntagrico/manage/member/snippets/display_linked.html' %}
                </td>
                <td>
                    {{ share.creation_date|date:"Y-m-d" }}
                </td>
                {% if c_enable_membership %}
                    <td>
                        {{ share|required_for_membership:forloop.counter }}
                    </td>
                {% endif %}
                <td>
                    {% required_for_subscription share forloop.counter %}
                </td>
                <td>
                    {{ share.notes }}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block datatable_constructor_extra %}
    config.ordering = true
    config.order = []
{% endblock %}
