{% extends "../base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.share %}

{% block page_title %}
    {% vocabulary "share_pl" as v_share_pl %}
    <h3>
        {% blocktrans %}Unbezahlte {{ v_share_pl }}{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% include '../member/snippets/toggle_buttons.html' %}
    {{ block.super }}
{% endblock %}

{% block list %}
    <table id="filter-table" class="list table" style="display: table;">
        <thead>
            <tr>
                <th class="filter">
                    {% vocabulary "share" %}
                </th>
                <th class="filter">
                    {% trans "Bestellt am" %}
                </th>
                <th class="filter">
                    {% trans "Kontakt" %}
                </th>
                <th class="filter">
                    {% vocabulary "subscription" as v_subscription %}
                    {% blocktrans %}Benötigt für ein/e/n {{ v_subscription }}{% endblocktrans %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% regroup object_list by member as shares_list %}
            {% for member, shares in shares_list %}
                {% for share in shares %}
                    <tr>
                        <td class="share_id">
                            <a href="{% url 'admin:juntagrico_share_change' share.id %}">
                                {{ share }}
                            </a>
                        </td>
                        <td>
                            {{ share.creation_date|date:"Y-m-d" }}
                        </td>
                        <td>
                            {% include 'juntagrico/manage/member/snippets/display_linked.html' %}
                        </td>
                        <td>
                            {% required_for_subscription share forloop.counter %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
