{% extends "no_menu_base.html" %}
{% load i18n %}
{% load config %}
{% load crispy_forms_tags %}
{% block all_page_title %}
    {% vocabulary "co_member" as v_co_member %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% blocktrans %}{{ v_co_member }} hinzufügen{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "member_pl" as v_member_pl %}
    {% vocabulary "member_type_pl" as v_member_type_pl %}
    {% vocabulary "co_member" as v_co_member %}
    {% vocabulary "co_member_pl" as v_co_member_pl %}
    <div class="offset-md-2 col-md-8">
        <div class="row mb-4">
            <div class="col-md-12">
                {% blocktrans trimmed %}
                Du kannst weitere {{ v_subscription }}-BezieherInnen als {{ v_co_member }} hinzufügen. Fülle bitte die
                untenstehenden Felder aus
                und klicke anschliessend auf "{{ v_co_member }} hinzufügen".
                {% endblocktrans %}
                <br/>
                {% blocktrans trimmed %}
                Falls du keine {{ v_co_member_pl }} hinzufügen möchtest, klicke auf "Überspringen".<br>
                Wenn du alle {{ v_co_member_pl }} hinzugefügt hast, klicke auf "Keine weiteren {{ v_co_member_pl }} hinzufügen".
                {% endblocktrans %}
            </div>
        </div>

        <form action="" method="post" id="new_member" novalidate>
            {% crispy form %}
        </form>

        {% if co_members|length > 0 %}
            <h4>{{ v_co_member_pl }}</h4>
            {% for co_member in co_members %}
                <p>{{ co_member.first_name }} {{ co_member.last_name }}
                    {% if not co_member.pk %}<a href="?edit={{forloop.counter}}" class="edit"><i class="fas fa-pen"></i></a>{% endif %}
                    <a href="?remove={{forloop.counter}}" class="delete"><i class="fas fa-trash"></i></a>
                </p>
            {% endfor %}
            <a href="?next" class="btn btn-success">
                {% trans "Fertig" %}
            </a>
        {% endif %}
    </div>
{% endblock %}
