{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% load crispy_forms_tags %}
{% block all_page_title %}
    {% vocabulary "co_member" as v_co_member %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% blocktrans %}{{ v_co_member }} hinzufügen{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "member_pl" as v_member_pl %}
    {% vocabulary "member_type_pl" as v_member_type_pl %}
    {% vocabulary "co_member" as v_co_member %}
    {% vocabulary "co_member_pl" as v_co_member_pl %}
    <div class="offset-md-2 col-md-8">
        <div class="row mb-4">
            <div class="col-md-12">
                {% blocktrans trimmed %}
                Du kannst weitere {{ v_subscription }}-Bezieher als {{ v_co_member }} hinzufügen. Fülle bitte die
                untenstehenden Felder aus
                und klicke anschliessend auf "{{ v_co_member }} hinzufügen".
                {% endblocktrans %}
                <br/>
                {% blocktrans trimmed %}
                Bei bestehenden {{ v_member_pl }} reicht es, die Emailadresse einzutragen. Alle anderen Felder
                werden in diesem Falle ignoriert.
                {% endblocktrans %}
                <br/>
                {% blocktrans trimmed %}
                Sobald du alle {{ v_co_member_pl }} hinzugefügt hast, klicke auf "Weiter".
                {% endblocktrans %}
            </div>
        </div>

        <form action="" method="post" id="new_member">
            {% crispy memberform %}
        </form>
    </div>
{% endblock %}
