{% extends "no_menu_base.html" %}
{% load i18n %}
{% load config %}
{% block all_page_title %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% trans "Wähle dein Startdatum" %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    {% vocabulary "subscription" as v_subscription %}
    <div class="offset-md-2 col-md-8">
        <div class="row mb-4">
            <div class="col-md-12">
                {% trans "Info" %}:
                {% blocktrans trimmed with sd=start_date|date:"d.m.Y" %}
                Normalerweise ist der {{ v_subscription }}-Start der Start eines Geschäftsjahres. Das nächste
                Startdatum wäre der <b>{{ sd }}</b>.
                Es kann jedoch vorkommen, dass unter dem Jahr 1 {{ v_subscription }} frei wird. Würdest du
                gerne schon früher einsteigen falls 1 {{ v_subscription }} frei wird, dann kannst du das
                Startdatum unten anpassen.
                {% endblocktrans %}
            </div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div id="start_date" class="form-group row">
                <label class="col-md-3">
                    {% trans "Gewünschtes Startdatum" %}
                </label>
                <div class="col-md-9">
                    <label>
                        {{ subscriptionform.start_date }}
                        {% blocktrans trimmed %}
                        Gilt nur insofern 1 {{ v_subscription }}
                        zum gewünschten Datum frei ist.
                        {% endblocktrans %}
                    </label>
                    {% if subscriptionform.start_date.errors %}
                        <div class="alert alert-danger">
                            {% trans "Das gewählte Startdatum ist nicht gültig" %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-success">
                        {% trans "Weiter" %}
                    </button>
                    <a href="{% url 'cs-cancel' %}" class="btn">
                        {% trans "Abbrechen" %}
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
