{% extends "base.html" %}
{% load config %}
{% block all_page_title %}
    <div class="col-md-3"> 
            &nbsp;
    </div>
    <div class="col-md-9 juntagrico">
        <h3>Wähle dein Depot</h3>
    </div>
{% endblock %}

{% block allcontent %}
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <form action="" method="post" class="form-horizontal createsubscription">
            {% csrf_token %}
            <div id="depot_container" class="form-group">
                <label class="col-md-3 control-label" for="depot">Depot</label>

                <div class="col-md-9 controls">
                    <select name="depot" id="depot" class="form-control">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>
                    {% if requires_map %}
                        <div id="map-canvas"></div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-offset-4 form-actions">
                <button type="submit" class="btn btn-success">Weiter</button>
                <a href="/my/create/subscription/cancel" class="btn">Abbrechen</a>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var member_addr = '{{ member.addr_street }}+{{ member.addr_zipcode }}+{{ member.addr_location }}';

        var destinations = [];
        var depots = [];
        {% for depot in depots %}
            {% if depot.has_geo %}
                destinations.push("{{ depot.addr_street }}+{{ depot.addr_zipcode }}+{{ depot.addr_location }}");
                depots.push({
                    name: '{{ depot.name }}',
                    addr_street: '{{ depot.addr_street }}',
                    addr_zipcode: '{{ depot.addr_zipcode }}',
                    addr_location: '{{ depot.addr_location }}',
                    latitude: '{{ depot.latitude }}',
                    longitude: '{{ depot.longitude }}',
                    code: '{{ depot.code }}'
                });
            {% endif %}
        {% endfor %}
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={% config "google_api_key" %}"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initCreateSubscription.js"></script>
{% endblock %}
