{% extends "base.html" %}
{% load config %}
{% block all_page_title %}
    <div class="col-md-3"> 
            &nbsp;
    </div>
    <div class="col-md-9 juntagrico">
        <h3>{% vocabulary "share_pl" %} erwerben</h3>
    </div>
{% endblock %}

{% block allcontent %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br/>
        {% if share_error %}
            <div class="alert alert-danger">Du brauchst entweder mehr {% vocabulary "share_pl" %} für das gewählte{% vocabulary "subscription" %} oder eine deiner Eingaben ist keine postitive Zahl.(x &#8713; &#8469;) </div>
        {% endif %}

        Infos:

        Um {% vocabulary "member_type" %} {% enriched_organisation "G" %} zu werden, musst du mindestens einen {% vocabulary "share" %} ({% config "currency" %} {% config "share_price" %}) erwerben.
        Bei Austritt aus {% enriched_organisation "D" %} bekommst du deinen {% vocabulary "share" %} zurück erstattet.
        {% if selected_subscription > -1 %}
        Für das von dir ausgewählte{% vocabulary "subscription" %} brauchst du insgesamt {{ total_shares }} {% vocabulary "share_pl" %}. Du kannst natürlich noch mehr erwerben. <br/>
        {% else %}
        Als {% vocabulary "member_type" %} ohne{% vocabulary "subscription" %} benötigst du einen {% vocabulary "share" %}. Du kannst natürlich noch mehr erwerben. <br/>
        {% endif %}
        {% if has_com_members %}
        Teile die restlichen benötigten {{ required_shares }} {% vocabulary "share_pl" %} unter dir und deinen {% vocabulary "co_member_pl" %} auf.
        {% endif %}
        <br/><br/>

        <form action="" method="post" class="form-horizontal createsubscription">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-3 control-label">Deine {% vocabulary "share_pl" %}</label>

                <div class="col-md-3 controls">
                    <label for="shares">
                        <input type="text" name="shares_mainmember" id="shares" class="col-md-1 form-control" value="{{ required_shares }}"/><br/>
                    </label>                    
                </div>
                
                <label class="col-md-6 control-label">
                    {% if member.active_shares.count == 0 %}
                    Ein {% vocabulary "share" %} ist automatisch dir zugeteilt und wird hier nicht angezeigt
                    {% else %}
                    Du hast bereits {{member.active_shares.count}} {% vocabulary "share_pl" %}
                    {% endif %}
                </label>
            </div>
            {% for co_member in co_members %}
            <div class="form-group">
                <label class="col-md-3 control-label">{{ co_member.first_name }} {{ co_member.last_name }}</label>

                <div class="col-md-3 controls">
                    <label for="shares">
                        <input type="text" name="{{ co_member.email }}" id="shares" class="col-md-1 form-control" value="0"/><br/>
                    </label>                    
                </div>
                <label class="col-md-6 control-label">besitzt bereits {{ co_member.active_shares.count }} {% vocabulary "share_pl" %}</label>
            </div>
            {% endfor %}

            <div class="col-md-offset-4 form-actions">
                <button type="submit" class="btn btn-success">Bestellen</button>
                <a href="/my/create/subscription/cancel" class="btn">Abbrechen</a>
            </div>
        </form>
    </div>

{% endblock %}


