{% extends "base.html" %}

{% block content %}
<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
<script type="text/javascript" src="/static/external/jquery.fancybox.pack.js"></script>

<h3>{{ object.title }}</h3>
<div class="galleryDate">Galerie vom {{ object.date_added|date:"d.m.Y" }}</div>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<ul class="thumbnails photo-gallery">
    {% for photo in object.public.reverse %}
    <li class="gallery-photo col-md-4">
        <a class="thumbnail fancybox" rel="{{object.title_slug}}" href="{{ photo.image.url }}" title="{{photo.caption}}">
        	<img src="{{ photo.image.url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/>
        </a>
    </li>
    {% endfor %}
</ul>
<br/>
<div>
	<a href="{% url 'pl-gallery-list' 1 %}">Zurück zu allen Galerien</a>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(".thumbnail").fancybox({
			openEffect	: 'none',
			closeEffect	: 'none'
		});
	});
</script>
{% endblock %}
