{% extends "juntagrico/form.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}{{ v_subscription }}-Bestandteil ändern{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% if form %}
        <h4>{% trans "Wähle einen neuen Bestandteil" %}</h4>
        {{ block.super }}
    {% else %}
        <h4>{% trans "Bestandteil kann nicht geändert werden" %}</h4>
        <p>{% trans "Es sind keine anderen Typen definiert." %}</p>
    {% endif %}
{% endblock %}