{% extends "juntagrico/form.html" %}
{% load static %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% if extra %}
            {% trans "Zusatzabos bestellen" %}
        {% else %}
            {% vocabulary "subscription" as v_subscription %}
            {% blocktrans %}{{ v_subscription }}-Bestandteile bestellen{% endblocktrans %}
        {% endif %}
    </h3>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/bootstrap-input-spinner.js' %}"></script>
    <script>
        $("input[type='number'][name^='amount']").change(function(){
            // highlight card, if value != 0
            $(this).closest('.card').toggleClass('bg-primary', parseInt(this.value) !== 0)
        }).change()
        $("input[type='number']").inputSpinner({groupClass : 'subscription-order'});
    </script>
{% endblock %}
