.myortoloco_logo {
	background: url(/static/img/myortoloco.png) 0 0px;
	display: inline-block;
	width: 300px;
	height: 45px;
	margin-bottom: 25px;
}

.jobs .date {
    width: 200px;
}

.sharees, .senderContact {
    margin-top: 5px;
}

.jobstatus {
    margin-right: -7px;
}