.myortoloco_logo {
    background: url(/static/img/myortoloco.png) 0 0px;
    display: inline-block;
    width: 300px;
    height: 45px;
    margin-bottom: 25px;
}

.next-jobs {
    margin-top: 5px;
}

.next-jobs .time {
    margin-bottom: 10px;
    font-size: 14px;
}

.jobs .date {
    width: 150px;
}

.jobs .status {
    padding-left: 30px;
}

.jobs .full {
    opacity: 0.2;
}

#jobs .list {
    width: 100%;
}

#jobs_header, #filter-locos_header {
    margin-bottom: 20px;
}

#filter-locos a {
    color: white;
    text-decoration: underline;
}

#jobs_footer, #filter-locos_footer {
    margin-top: 20px;
}

#jobs_page_prev, #jobs_page_next, #filter-locos_page_prev, #filter-locos_page_next {
    display: none !important;
}

#jobs th, #filter-locos th {
    background-color: #4c9434;
    color: white;
}

#jobs .table-sort {
    font-family: Arial;
    font-size: 12;
}

.text-label {
    margin-top: 5px;
}

.jobstatus {
    margin-right: -7px;
}

.ortoloco {
    margin-top: 0;
}

.myortoloco {
    margin-top: 80px;
}

.ortoloco h3 {
    margin-top: -10px;
}

.createabo .control-label {
    font-size: 18px;
    font-weight: bold;
}

.createabo label {
    font-weight: normal;
}

.createabo #depot {
    margin-bottom: 3px;
}

#map-canvas {
    width: 580px;
    height: 400px;
}

#depot #map-canvas {
    margin-left: 180px;
    width: 400px;
    height: 440px;
}

.politoloco {
    height: 30px;
    background: url('/static/img/erbse_x_politoloco.png') repeat-x;
}

.high-label {
    line-height: 35px;
}

.high-label input[type=checkbox] {
    margin-top: 9px;
}

.form-group > div {
    padding-top: 7px;
}

.file-upload {
    line-height: 30px;
}

.file-upload-button {
    display: inline-block;
    position: relative;
}

.file-upload-button > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#filter-table {
    width: 1000px;
}

#filter-table table {
    font-size: 10px;
}

textarea#recipients {
    width: 100%;
}
textarea#recipients[disabled=disabled] {
    background: transparent;
    border: none;
    cursor: default;
}

#edit-recipients-action {
    font-size: smaller;
}
#edit-recipients-action::before {
    content : "(";
}
#edit-recipients-action::after {
    content : ")";
}

.nav li.inline a {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
}

.nav li.inline a:hover {
    background: none;
}

table.future {
    width: 100%;
    margin-top: 50px;
}

table.future th{
    text-align: left;
}

table.future td{
    line-height: 30px;
}

.loco-job-comments {
    font-style: italic;
}

#filter-table {
    width: 100%;
}

#filter-table table {
    width: 100%;
}