.myortoloco_logo {
	background: url(/static/img/myortoloco.png) 0 0px;
	display: inline-block;
	width: 300px;
	height: 45px;
	margin-bottom: 25px;
}

.jobs .date {
    width: 200px;
}

.jobs .status {
    padding-left: 30px;
}

.jobs .full {
    opacity: 0.2;
}

#jobs .list {
    width: 100%;
}

#jobs_header {
    margin-bottom: 20px;
}

#jobs_footer {
    margin-top: 20px;
}

#jobs_page_prev, #jobs_page_next {
    display: none !important;
}

#jobs th {
    background-color: #4c9434;
    color: white;
}

#jobs .table-sort {
    font-family: Arial;
    font-size: 12;
}

.sharees, .senderContact {
    margin-top: 5px;
}

.jobstatus {
    margin-right: -7px;
}

.ortoloco {
    margin-top: 0;
}

.myortoloco {
    margin-top: 80px;
}

.ortoloco h3 {
    margin-top: -10px;
}

.createabo .control-label{
    font-size: 18px;
    font-weight: bold;
}

.createabo #depot {
    margin-bottom: 3px;
}