{% extends "management_lists/man_list_base.html" %}
{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>
        {% vocabulary "assignment_pl" %}
    </h3>
{% endblock %}
{% block management_cmd %}
    {% include 'management_lists/snippets/email_sender.html' %}
    <div>
        <span class="switch switch-sm">
            <input class="switch" type="checkbox" id="show_co_members" checked="checked">
            <label for="show_co_members">{% trans "MitabonnentInnen anzeigen" %}</label>
        </span>
        <span class="switch switch-sm">
            <input class="switch" type="checkbox" id="show_phone_numbers" checked="checked">
            <label for="show_phone_numbers">{% trans "Telefonnummern anzeigen" %}</label>
        </span>
    </div>
{% endblock %}
{% block list %}
    {% show_core as b_show_core %}
    {% requires_core as b_requires_core %}
    {% vocabulary "assignment_pl" as v_assignment_pl %}
    {% vocabulary "subscription" as v_subscription %}
    <table id="filter-table" class="list table" data-dom="Q">
        <thead>
            <tr>
                <th class="filter">
                    {% trans "BezieherInnen" %}
                </th>
                <th class="search-builder-column">
                    {% trans "Startdatum" %}
                </th>
                <th class="search-builder-column">
                    {% blocktrans %}{{ v_subscription }}-Status{% endblocktrans %}
                </th>
                <th class="search-builder-column">
                    {% vocabulary "assignment_pl" %}
                </th>
                <th class="search-builder-column">
                    {% blocktrans %}{{ v_assignment_pl }} benötigt{% endblocktrans %}
                </th>
                <th class="search-builder-column">
                    {% blocktrans %}{{ v_assignment_pl }} Status{% endblocktrans %}
                </th>
                {% if b_show_core and b_requires_core %}
                        <th class="search-builder-column">
                            {% blocktrans %}{{ v_assignment_pl }} Kernbereich{% endblocktrans %}
                        </th>
                        <th class="search-builder-column">
                            {% blocktrans %}{{ v_assignment_pl }} Kernbereich benötigt{% endblocktrans %}
                        </th>
                        <th class="search-builder-column">
                            {% blocktrans %}{{ v_assignment_pl }} Kernbereich Status{% endblocktrans %}
                        </th>
                 {% endif %}
                <th class="d-none">
                    {% trans "Emails" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in management_list %}
                {% with other_recipients=subscription.other_recipients %}
                    <tr>
                        <td class="members">
                            {% spaceless %}
                                {% if subscription.primary_member %}
                                    <a href="{% url 'admin:juntagrico_member_change' subscription.primary_member.id %}">
                                        <strong>{{ subscription.primary_member }}</strong>
                                    </a>
                                {% else %}
                                    {% trans "! Haupt-BezieherIn ist nicht definiert" %}
                                {% endif %}
                            {% endspaceless %}
                            {% with phone=subscription.primary_member.get_phone %}
                                <a href="tel:{{ phone }}" class="phone-number">{{ phone }}</a>
                            {% endwith %}
                            {% for recipient in other_recipients %}
                                <div class="co-member">
                                <a href="{% url 'admin:juntagrico_member_change' recipient.id %}">{{ recipient }}</a>
                                {% with phone=recipient.get_phone %}
                                    <a href="tel:{{ phone }}" class="phone-number">{{ phone }}</a>
                                {% endwith %}
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {{ subscription.activation_date|date:"Y-m-d" }}
                        </td>
                        <td>
                            <a href="{% url 'admin:juntagrico_subscription_change' subscription.id %}">
                                {{ subscription.state_text }}
                            </a>
                            {% if subscription.canceled %}
                                -
                                {% blocktrans with cd=subscription.cancellation_date|date:"Y-m-d" %}
                                    Gekündigt am {{cd}}
                                {% endblocktrans %}
                            {% endif %}
                        </td>
                        <td>
                            {{ subscription.assignment_count|floatformat:-2 }}
                        </td>
                        <td>
                            {{ subscription.required_assignments|floatformat:0 }}
                        </td>
                        <td>
                            {{ subscription.assignments_progress|floatformat:0 }}%
                        </td>
                        {% if b_show_core and b_requires_core %}
                            <td>
                                {{ subscription.core_assignment_count|floatformat:-2 }}
                            </td>
                            <td>
                                {{ subscription.required_core_assignments|floatformat:0 }}
                            </td>
                            <td>
                                {{ subscription.core_assignments_progress|floatformat:0 }}%
                            </td>
                        {% endif %}
                        <td class="email d-none">
                            {% for recipient in other_recipients %}
                                {{ recipient.email }},
                            {% endfor %}
                            {{ subscription.primary_member.email }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $("#show_co_members").ToggleButton('.co-member')
            $("#show_phone_numbers").ToggleButton('.phone-number')
        })
    </script>
{% endblock %}