{% extends "management_lists/man_list_base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    <h3>
        {% trans "Zusatz-Abo Kündigungsliste" %}
    </h3>
{% endblock %}
{% block list %}
    <table id="filter-table" class="list table" style="display: table;">
        <thead>
            <tr>
                <th class="filter">
                    {% trans "Typ" %}
                </th>
                <th class="filter">
                    {% trans "Kontakt" %}
                </th>
                <th class="filter">
                    {% trans "Email" %}
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for extrasubscription in management_list %}
                <tr>
                    <td>
                        {{ extrasubscription.type.name }}
                    </td>
                    <td>
                        {{ extrasubscription.main_subscription.primary_member.first_name }} {{ extrasubscription.main_subscription.primary_member.last_name }}
                    </td>
                    <td>
                        <form id="extrasubscription{{ extrasubscription.id }}" method="post" action="{% url 'mail' %}">
                            {% csrf_token %}
                            <input type="hidden" name="recipients"value="{{ extrasubscription.main_subscription.primary_member.email }}"/>
                            <input type="hidden" name="recipients_count" value="1"/>
                            <a href="#"onclick="$('#extrasubscription{{ extrasubscription.id }}').submit();" class="email">
                                {{ extrasubscription.main_subscription.primary_member.email }}
                            </a>
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'extra-deactivate' extrasubscription.id %}"class="btn btn-success">
                            {% trans "deaktivieren" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
