{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% block body_extra_classes %}wide-layout{% endblock %}
{% block content %}
    {% block management_cmd %}
    {% endblock %}
    <div id="managementlist" class="row mt-3 mb-6">
        <div class="col-md-12">
            {% block list %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/datatables/datatables.min.js' %}">
    </script>
    {% block init_script %}
        <script type="text/javascript">
            // Assuming default ids
            $(function(){
                let table = $("#filter-table").DataTable({"ordering": true});
                $("#email-sender").EmailButton(table)
            })
        </script>
    {% endblock %}
    {% block extrascripts %}
    {% endblock %}
{% endblock %}
