{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% block body_extra_classes %}wide-layout{% endblock %}
{% block content %}
    {% block management_cmd %}
    {% endblock %}
    <div id="managementlist" class="row mt-3 mb-6">
        <div class="col-md-12">
            {% block list %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/datatables/datatables.min.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'juntagrico/external/require.min.js' %}" data-main="{% static 'juntagrico/js/initManList.js' %}">
    </script>
    {% block extrascripts %}
    {% endblock %}
{% endblock %}
