{% extends "templates/photologue/photo_detail.html" %}

{% load photologue_tags %}

{% block content %}

<h3>{{ object.title }}</h3>
<div class="row">
	<div class="col-md-1">
		{% if object.public_galleries %}
		{% for gallery in object.public_galleries %}
		    {%previous_in_gallery object gallery%}
		{% endfor %}
		{% endif %}
	</div>	
	<div class="col-md-6">
		<div class="gallery-photo">
		    <a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ object.title }}"/></a>
		    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
		</div>
	</div>
	<div class="col-md-1">
		{% if object.public_galleries %}
		{% for gallery in object.public_galleries %}
		    {%next_in_gallery object gallery%}
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}
