{% load i18n %}
<div class="modal" id="{{ name }}_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {% block content %}
                <div class="modal-header">
                    <h5 class="modal-title">{% block title %}{{ title }}{% endblock %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block body %}
                        <div class="spinner-grow" id="{{ name }}_loader" role="status">
                            <span class="sr-only">{% trans "Lädt..." %}</span>
                        </div>
                        <div id="{{ name }}_content"></div>
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block cancel %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Abbrechen" %}</button>
                    {% endblock %}
                    {% block buttons %}
                        <input type="button" class="btn btn-primary" value="{% trans "Ok" %}">
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
</div>
