{% extends "juntagrico/signup/base.html" %}
{% load juntagrico.common %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}

{% block title %}
    {% blocktrans with v_share_pl=vocabulary.share_pl %}{{ v_share_pl }} erwerben{% endblocktrans %}
{% endblock %}

{% block intro %}
    <p>
        {% include "juntagrico/my/share/snippets/intro.html" %}
    </p>

    {% if required_shares.for_membership %}
        <p>
            {% block intro_membership %}
                {% include "juntagrico/my/share/snippets/intro_for_membership.html" with required=required_shares.for_membership %}
            {% endblock %}
        </p>
    {% endif %}

    {% if required_shares.for_subscription %}
        <p>
            {% block intro_subscriptions %}
                {% blocktrans trimmed with v_subscription=vocabulary.subscription v_share=vocabulary.share v_share_pl=vocabulary.share_pl count count=required_shares.for_subscription %}
                    Für die von dir ausgewählten {{ v_subscription }}-Bestandteile brauchst du insgesamt {{ count }} {{ v_share }}.
                {% plural %}
                    Für die von dir ausgewählten {{ v_subscription }}-Bestandteile brauchst du insgesamt {{ count }} {{ v_share_pl }}.
                {% endblocktrans %}
                {% if required_shares.for_subscription > 1 and form.co_members %}
                    {% blocktrans trimmed with v_co_member_pl=vocabulary.co_member_pl %}
                        Diese kannst du unter dir und deinen {{ v_co_member_pl }} verteilen.
                    {% endblocktrans %}
                {% endif %}
            {% endblock %}
        </p>
    {% endif %}

    {% if required_shares.for_signup > required_shares.for_membership %}
        <p>
            {% block intro_signup %}
                {% blocktrans trimmed with v_share=vocabulary.share v_share_pl=vocabulary.share_pl count count=required_shares.for_signup %}
                    Für die Anmeldung benötigst du mindestens {{ count }} {{ v_share }}.
                {% plural %}
                    Für die Anmeldung benötigst du mindestens {{ count }} {{ v_share_pl }}.
                {% endblocktrans %}
            {% endblock %}
        </p>
    {% endif %}

    {% if required_shares.for_membership or required_shares.for_subscription or required_shares.for_signup %}
        <p>
            {% block intro_additional %}
                {% blocktrans trimmed with v_share_pl=vocabulary.share_pl %}
                    Du kannst natürlich noch mehr {{ v_share_pl }} erwerben.
                {% endblocktrans %}
            {% endblock %}
        </p>
    {% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/bootstrap-input-spinner.js' %}">
    </script>
    <script type="text/javascript">
        $("input[type='number']").inputSpinner();
    </script>
{% endblock %}
