<html lang="de">
<head>
	<title>Ortoloco</title>
	<meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ortoloco.css" rel="stylesheet">
    <link href="/static/css/myortoloco.css" rel="stylesheet">
</head>
<body>
    <div class="container ortoloco">	
    	<div class="erbsetop"></div>
    	<div class="erbseleft"></div>
    	<div class="erbseright"></div>
    	<div class="erbsebottom"></div>
    	<div class="row">
    		<div class="span4">
    			<a href="/home.html"><span class="myortoloco_logo"></span></a>

					<ul class="nav nav-pills nav-stacked">
						<li class="{{ menu.home }}">
							<a href="/myortoloco/home.html">Aktuelles</a>
						</li>
						<li class="{{ menu.personalInfo }}">
							<a href="/myortoloco/personal_info.html">Personalien</a>
						</li>
						<li class="{{ menu.password }}">
							<a href="/myortoloco/password.html">Passwort</a>
						</li>
						<li class="{{ menu.account }}">
							<a href="/myortoloco/account">Kontostand</a>
						</li>
						<li class="{{ menu.abonnement }}">
							<a href="/myortoloco/abonnement.html">Abo</a>
						</li>
						<li class="{{ menu.participation }}">
							<a href="/myortoloco/participation.html">Mitarbeit</a>
						</li>
						<li class="{{ menu.contact }}">
							<a href="/myortoloco/contact.html">Kontakt</a>
						</li>
						<li class="{{ menu.ortoloco }}">
							<a href="/web/home.html">ortoloco.ch</a>
						</li>
						<li class="{{ menu.logout }}">
							<a href="/logout">Abmelden</a>
						</li>
					</ul>

                    <div id="news" class="well">
                        Meine Jobs:
                        <br/>
                        TODO
                    </div>
    		</div>
    		<div class="span8">
				{% block content %}
				{% endblock %}
			</div>
	</div>
</body>