{% load juntagrico.config %}
{% load i18n %}
{% vocabulary "depot" as v_depot %}
{% if subscription.future_depot %}
    <div class="alert alert-warning">
        {% include "juntagrico/my/depot/snippets/change_pending_info.html" %}
    </div>
{% endif %}
<a href="{% url 'depot' subscription.depot.id %}">
    {{ subscription.depot.name }}
</a>
<br>
{% blocktrans %}Name auf der {{ v_depot }}-Liste:{% endblocktrans %}
{% include "juntagrico/snippets/subscription/recipients.html" %}
<br>
{% if not subscription.inactive %}
    {% if subscription.primary_member == member %}
        <a href="{% url 'depot-change' subscription.id %}" class="btn btn-primary mt-3">
            {% blocktrans %}{{ v_depot }} wechseln{% endblocktrans %}
        </a>
        <a href="{% url 'nickname-change' subscription.id %}" class="btn btn-outline-primary mt-3">
            {% blocktrans %}Namen auf der Liste ändern{% endblocktrans %}
        </a>
    {% else %}
        <i>
            {% blocktrans trimmed %}
            Nur {{ v_subscription }}-VerwalterIn kann Depot wechseln.
            {% endblocktrans %}
        </i>
    {% endif %}
{% endif %}