{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% load juntagrico.snippets %}
{% load crispy_forms_field %}
<label for="type{{ type.id }}" class="{{ class }}">
    {% if type.long_name.strip %}
        <strong>{{ type.long_name }}</strong>
        <br/>
    {% endif %}
    {% if type.description.strip %}
        {{ type.description|richtext|safe }}
        <br/>
    {% endif %}
    {% if type.has_periods %}
        {% vocabulary "price" %}:
        {% for period in type.periods.all %}
            <br/>
            {{ period.start_day }}.{{ period.start_month }}. - {{ period.end_day }}.{{ period.end_month }}.
            {{ period.price }} {% config "currency" %}
        {% endfor %}
        {% include "juntagrico/snippets/subscription/depot_fee.html" %}
    {% else %}
        {% vocabulary "price" %}: {{ type.price }} {% config "currency" %}
        {% include "juntagrico/snippets/subscription/depot_fee.html" %}
        <br/>
        {% trans "Laufzeit" %}: {{ type.min_duration_info }}
    {% endif %}
    {% config "enable_shares" as c_enable_shares %}
    {% if c_enable_shares %}
        <br/>
        {% vocabulary "share_pl" %}: {{ type.shares }}
    {% endif %}
    <br/>
    {% trans "Arbeitseinsätze" %}: {{ type.required_assignments }}
    {% if hours_used %}
        {% trans "Stunden" %}
    {% endif %}
</label>