<table width="600px">
    <tr>
        <td colspan="3" background="{{ serverurl }}/static/img/erbse_x.png" align="center" height="20" style="padding:0; margin:0; font-size:12px; height:20px;">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" background="{{ serverurl }}/static/img/erbse_y.png" width="20" style="padding:0; margin:0; font-size:12px; height:20px;">&nbsp;</td>
        <td style="font-size:14px;font-family: 'Courier New', monospace; font-weight: bold;padding:20px;">{{ subject }}</td>
        <td rowspan="2" background="{{ serverurl }}/static/img/erbse_y.png" width="20" style="padding:0; margin:0; font-size:12px; height:20px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size:14px;font-family: 'Courier New', monospace; padding:20px; */word-break: break-all;">{% block content %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="3" background="{{ serverurl }}/static/img/erbse_x.png" align="center" height="20" style="padding:0; margin:0; font-size:12px; height:20px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" style="padding-top:25px;">
            <a href="http://ortoloco.ch">
                <img src="{{ serverurl }}/static/img/erbse_voll.png"/>rtoloco.ch
            </a>
        </td>
    </tr>
</table>