<table width="600px">
    <tr>
        <td colspan="3" background="{{ serverurl }}/static/img/erbse_x.png" align="center" height="20">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" background="{{ serverurl }}/static/img/erbse_y.png" width="20"></td>
        <td style="font-size:14px;font-family: serif; font-weight: bold;">{{ subject }}</td>
        <td rowspan="2" background="{{ serverurl }}/static/img/erbse_y.png" width="20"></td>
    </tr>
    <tr>
        <td style="font-size:14px;font-family: 'Courier New', monospace;">{% block content %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="3" background="{{ serverurl }}/static/img/erbse_x.png" align="center" height="20">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">
            <a href="http://ortoloco.ch">
                <img src="{{ serverurl }}/static/img/erbse_voll.png"/>rtoloco.ch
            </a>
        </td>
    </tr>
</table>