{% extends "mails/email.html" %}
{% block content %}
    Wir freuen uns dich bei uns begrüssen zu können.
    <br/><br/>
    Unter my.ortoloco.ch kannst du dich ab sofort für Jobs anmelden und vieles mehr.
    <br/><br/>
    Email: {{ username }}<br/>
    Passwort: {{ password }} (Bitte setze dir <a href="{{ serverurl }}/my/passwort">hier</a> gleich ein neues, welches du dir gut merken kannst)
    <br/><br/>
    Weitere Infos wirst du bald vom Kernteam erhalten.
    <br/><br/>
    Viel Spass bei ortoloco!
{% endblock %}