<!DOCTYPE html>
<html lang="de">
<head>
    <title>ortoloco.ch - Die regionale Gartenkooperative</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/external/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ortoloco.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="erbsetop hidden-xs"></div>
    <div class="erbseleft hidden-xs"></div>
    <div class="erbseright hidden-xs"></div>
    <div class="erbsebottom"></div>

    <div>
        Liebe ortoloc@s,
    </div>
    <div>
        Das IT-Team ist gerade hart am Schaffen.
        Wir müssen für ein paar Stunden my.ortoloco ausschalten.
        Morgen früh ist alles wieder Gesund.
    </div>
    <div>
        euer liebes IT-Team
    </div>
</div>
</body>