<!DOCTYPE html>
<html lang="de">
<head>
    <title>ortoloco.ch - Die regionale Gartenkooperative</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <script type="text/javascript" src="/static/external/jquery-1.11.2/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/external/bootstrap-3.3.1/js/bootstrap.min.js"></script>

    <link href="/static/external/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ortoloco.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="erbsetop hidden-xs"></div>
    <div class="erbseleft hidden-xs"></div>
    <div class="erbseright hidden-xs"></div>
    <!--<div class="erbsebottom"></div>-->
    <div class="ortoloco {% if menu.home == 'active' %} home {% endif %}">
        <div class="row">
            <div class="col-md-4">
                <a href="/aktuelles"><span class="logo"></span></a>
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li>
                        <a href="/idee">Das ist ortoloco</a>
                        {% if menu.about == 'active' %}
                            <ul class="nav nav-pills nav-stacked">
                                <li class="{{ menu.aboutChild }}"><a href="/idee">&raquo; Die Idee</a></li>
                                <li class="{{ menu.portrait }}"><a href="/portrait">&raquo; Das Portrait</a></li>
                                <li class="{{ menu.background }}"><a href="/hintergrund">&raquo; Der Hintergrund</a></li>
                                <li class="{{ menu.abo }}"><a href="/abo">&raquo; Das Gemüse-Abo</a></li>
                                {# <li class="{{ menu.faq }}"><a href="/faq">&raquo; Häufige Fragen</a></li> #}
                            </ul>
                        {% endif %}
                    </li>
                    <li class="{{ menu.join }}">
                        <a href="/my/anmelden">GenossenschafterIn werden</a>
                    </li>
                    <li class="{{ menu.contact }}">
                        <a href="/kontakt">Kontakt</a>
                    </li>

                    <li><br/><br/></li>

                    <li class="{{ menu.media }}">
                            <a href="/medien">Medienecho</a>
                    </li>
                    <li class="{{ menu.links }}">
                            <a href="/links">Links</a>
                    </li>
                    <li class="{{ menu.documents }}">
                            <a href="/dokumente">Dokumente</a>
                    </li>
                    <li class="{{ menu.gallery }}">
                            <a href="/galerie">Bilder</a>
                    </li>

                </ul>
                {% block submenu %}
                {% endblock %}
            </div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <a href="/my/home" class="myortoloco_link"></a>

        <div class="ortoloco_gemuese"></div>
    </div>
</div>

{% block scripts %}
    {# no scripts by default #}
{% endblock %}
</body>
