{% extends "mybase.html" %}

{% block content %}
    <h3>Mails verschicken</h3>
    <br/>
    {% if sent > 0 %}
        <div class="alert alert-success">Email wurde an {{ sent }} Empfänger verschickt.</div>
    {% else %}
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-4">Absender</label>

                <div class="controls col-sm-8">
                    {{ config info_email }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Empfänger</label>

                <div class="controls col-sm-8">
                    Wähle mind. eine der folgenden Gruppen:
                    <div class="checkbox">
                        <label class="high-label" for="allpolitomember">
                            <input type="checkbox" id="allpolitomember" name="allpolitomember">
                            Alle politomembers (Aktuelle Anzahl: {{ politomembers }})
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="high-label" for="allmembers">
                            <input type="checkbox" id="allmembers" name="allmembers">
                            Alle {{config members_string }} (Aktuelle Anzahl: {{ members }})
                        </label>
                    </div>
                    <div class="checkbox form-inline">
                        <label class="high-label" for="allsingleemail">
                            <input type="checkbox" id="allsingleemail" name="allsingleemail">
                            Nur an diese Email: <input type="text" class="form-control" id="singleemail" name="singleemail"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="subject">Betreff</label>

                <div class="controls col-sm-8">
                    <input type="text" name="subject" id="subject" placeholder="Betreff" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="message">Mitteilung</label>

                <div class="controls col-sm-8">
                    <div class="row">
                        <div class="col-md-12 politomember"></div>
                    </div>
                    <textarea name="message" id="message" class="mailer" class="form-control" rows="12" placeholder="Hier Nachricht eingeben"></textarea>
                    <input type="hidden" id="textMessage" name="textMessage" class="form-control"/>
                    <br/>

                    <div class="row">
                        <div class="col-md-12 politomember"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="attachements">Anhänge</label>

                <div class="controls col-sm-8" id="attachements">
                    <div class="file-upload">
                        <div class="file-upload-button">
                            <input type="file" name="image-1">
                            <button class="btn">Datei auswählen</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-success">Nachricht verschicken</button>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/attachment_appender.js"></script>
    <script type="text/javascript" src="/static/external/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyMailer.js"></script>
{% endblock %}
