{% extends "./show.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.snippets %}

{% block content %}
    {% action_date request %}
    {{ block.super }}
{% endblock %}

{% block inner_list_head %}
    <th class="filter">
        {% trans "Gekündigt am" %}
    </th>
    <th>
        {% trans "Aktionen" %}
    </th>
{% endblock %}

{% block inner_list_foot %}
    <th>
        {% trans "Gekündigt am" %}
    </th>
    <th>
        {% trans "Aktionen" %}
    </th>
{% endblock %}

{% block inner_list_entry %}
    <td>
        {{ membership.cancellation_date }}
    </td>
    <td>
        {% if membership.deactivation_date %}
            <span>
                {% blocktrans trimmed with deactivation_date=membership.deactivation_date %}
                    Wird am {{ deactivation_date }} deaktiviert
                {% endblocktrans %}
            </span>
        {% else %}
            <span class="membership_id d-none">{{ membership.id }} {# space is required #}</span>
            <form action="{% url 'manage-membership-deactivate' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="membership_ids" value="{{ membership.id }}">
                    {% trans "deaktivieren" %}
                </button>
            </form>
        {% endif %}
    </td>
{% endblock %}

{% block datatable_constructor %}
    {{ block.super }}
    {% if perms.juntagrico.change_share %}
        config.layout.topStart.features.buttons.push(
            id_action_button(
                '<i class="bi bi-x-square"></i> {% trans "Deaktivieren" %}',
                '{% url "manage-membership-deactivate" %}',
                '{% csrf_token %}',
                '.membership_id', 'membership_ids',
                [
                    '{% blocktrans with v_membership=vocabulary.membership %}1 {{ v_membership }} deaktivieren?{% endblocktrans %}',
                    '{% blocktrans with v_membership_pl=vocabulary.membership_pl %}Diese {count} {{ v_membership_pl }} deaktivieren?{% endblocktrans %}'
                ]
            )
        )
    {% endif %}
{% endblock %}