{% extends "../base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% load juntagrico.snippets %}

{% block page_title %}
    <h3>
        {{ title }}
    </h3>
{% endblock %}

{% block content %}
    {% block head %}
        {% if perms.juntagrico.change_membership %}
            {% if 'membership_deactivated'|notified %}
                <div class="alert alert-secondary">
                    <i class="bi bi-envelope"></i>
                    {% blocktrans trimmed with v_member_type_pl=vocabulary.member_type_pl %}
                        {{ v_member_type_pl }} werden bei Deaktivierung automatisch per E-Mail benachrichtigt.
                    {% endblocktrans %}
                </div>
            {% endif %}

            {% action_date request %}
        {% endif %}
    {% endblock %}

    {% include 'juntagrico/manage/member/snippets/toggle_buttons.html' %}
    {{ block.super }}

    {# Modals #}
    {% if perms.juntagrico.change_membership and form %}
        {% include "juntagrico/manage/membership/modals/cancel_and_deactivate.html" with name='cancellation_and_deactivation' %}
    {% endif %}
{% endblock %}

{% block list %}
    <table id="filter-table" class="list table">
        <thead>
            <tr>
                {% block list_head %}
                    <th class="filter">
                        {% trans "Nr." %}
                    </th>
                    <th class="filter">
                        {% trans "Kontakt" %}
                    </th>
                    {% if required_shares %}
                        <th class="filter">
                            {% vocabulary "share_pl" %}
                            {% trans "(Bezahlt/Bestellt)" %}
                        </th>
                    {% endif %}
                    {% block inner_list_head %}
                        <th class="filter">
                            {% trans "Beitritt" %}
                        </th>
                        <th class="filter">
                            {% trans "Gekündigt?" %}
                        </th>
                        {% if perms.juntagrico.change_membership %}
                            <th class="filter">
                                {% trans "Aktionen" %}
                            </th>
                        {% endif %}
                    {% endblock %}
                    <th class="filter">
                        {% trans "Notizen" %}
                    </th>
                {% endblock %}
            </tr>
        </thead>
        <tfoot>
            <tr>
                {% block list_foot %}
                    <th>
                        {% trans "Nr." %}
                    </th>
                    <th>
                        {% trans "Kontakt" %}
                    </th>
                    {% if required_shares %}
                        <th>
                            {% vocabulary "share_pl" %}
                            {% trans "(Bezahlt/Bestellt)" %}
                        </th>
                    {% endif %}
                    {% block inner_list_foot %}
                        <th>
                            {% trans "Beitritt" %}
                        </th>
                        <th>
                            {% trans "Gekündigt?" %}
                        </th>
                        {% if perms.juntagrico.change_membership %}
                            <th>
                                {% trans "Aktionen" %}
                            </th>
                        {% endif %}
                    {% endblock %}
                    <th>
                        {% trans "Notizen" %}
                    </th>
                {% endblock %}
            </tr>
        </tfoot>
        <tbody>
            {% for membership in object_list %}
                <tr>
                    {% block list_entry %}
                        <td>
                            {% include './snippets/display_linked.html' with member=membership.account %}
                        </td>
                        <td>
                            {% include 'juntagrico/manage/member/snippets/display_linked.html' with member=membership.account %}
                        </td>
                        {% if required_shares %}
                            <td>
                                {{ membership.account.share_set.active.count }} / {{ membership.account.share_set.usable.count }}
                            </td>
                        {% endif %}
                        {% block inner_list_entry %}
                            <td>
                                {{ membership.activation_date|date:"Y-m-d" }}
                            </td>
                            <td>
                                {% if membership.cancellation_date %}
                                    {% blocktrans with date=membership.cancellation_date|date:"Y-m-d" %}Am {{ date }}{% endblocktrans %}
                                {% else %}
                                    {% trans "Nein" %}
                                {% endif %}
                            </td>
                            {% if perms.juntagrico.change_membership %}
                                <td>
                                    {% if membership.cancellation_date %}
                                        {% include "juntagrico/manage/membership/snippets/button_deactivate.html" %}
                                    {% else %}
                                        <a href="#" class="btn btn-outline-danger" data-cancel-id="{{ membership.id }}">
                                            {% trans "kündigen" %}
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endblock %}
                        <td>
                            {{ membership.notes }}
                        </td>
                    {% endblock %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block datatable_constructor %}
    {{ block.super }}
    const re = /(\d*)\s*\[(\d+)\]/g;
    config.columnDefs = [{
        targets: 0,
        type: 'html-num',
        render: function (data, type, row, meta) {
            return type === 'sort'
                ? data.replace(re, function(match, number, id) {
                    return number ? parseInt(number) * 1000000 + parseInt(id) : id
                })
                : data;
        }
    }]
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% if perms.juntagrico.change_membership %}
        <script type="text/javascript">
            // modal to cancel and deactivate
            $('[data-cancel-id]').on('click', function(event) {
                $('#cancellation_and_deactivation_modal').modal('show')
                $('#id_membership_ids').val($(this).data('cancel-id'))
                return false
            })
            // enable/disable deactivation_date
            $('#id_deactivate').change(function() {
                $('#id_deactivation_date').prop('disabled', !this.checked);
                $('#div_id_deactivation_date').toggle(this.checked)
            }).trigger('change')
        </script>
    {% endif %}
{% endblock %}