{% load juntagrico.common %}
<div class="depot-description form-group row">
    <div class="offset-md-3 col-md-9" id="depot-description-container">
        {% for depot in depots %}
            <div id="depot-description-container-{{ depot.id }}" style="display: none">
                {% if not depot.location.longitude and not depot.location.latitude %}
                    {{ depot.location.address_html|safe }}
                {% endif %}
                {{ depot.location.description|richtext|safe }}
                {{ depot.description|richtext|safe }}
            </div>
        {% endfor %}
    </div>
</div>
