/* general overrides of bootstrap */
ul {
    padding-left: 20px;
}

/* general stuff  checked */
html, body {
    font-family: "Source Sans Pro Light";
    background-color: #fefffa;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro Regular";
    margin-bottom: 10px;
    margin-top: 10px;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('/static/fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('/static/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #66cc66;
}

a:hover, a:focus {
    color: #999999;
}

a.canceled {
    color: #ff3399;
    text-decoration: line-through;
}

a.canceled:hover, a.canceled:focus {
    color: #ff3399;
}

/* crispy-form */
.asteriskField {
    padding-left: 0.2em;
}

body#juntagrico-views-profile .asteriskField {
    display: none;
}

/* logo stuff checked */
.juntagrico-logo {
    background: url(/static/img/juntagrico.png) 0 0;
    display: inline-block;
    width: 580px;
    height: 161px;
}

/* title stuff checked */
.page-title h3, .allcontent h3 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #66cc66;
    font-size: 30pt;
}

.edit i, .delete i {
    font-size: 0.7em;
}

.edit, .delete {
    vertical-align: top;
}

a.delete {
    color: #999;
}

a:hover.delete {
    color: red;
}

/* container stuff checked */
.page-container {
    min-height: 100%;
    position: relative;
    padding: 0 40px 0 40px;
}

@media (min-width: 768px) {
    .page-container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .page-container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .page-container {
        width: 1170px
    }
}

/* layouts */
body.wide-layout > .page-container {
    width: 95%;
    max-width: 95%;
}

/* row size stuff checked */
.page-container > div.row {
    margin-top: 60px;
    margin-bottom: 50px;
}

div.allcontent.row {
    margin-top: 0;
}

div.all-page-title.row {
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    margin-top: 60px;
    margin-bottom: 50px;
}

/* messages stuff checked */
.messages {
    margin-bottom: 2em;
}

/* menu stuff checked */
.main-menu {
    font-size: 19px;
    font-family: "Source Sans Pro Regular";
}

.main-menu-small {
    font-size: 14px;
}

.main-menu li a, .admin-menu li a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
    margin-top: 2px;
    line-height: 22px;
}

.main-menu.separator {
    height: 12px;
}

.admin-menu {
    font-family: "Source Sans Pro Light";
    font-size: 14px;
}

ul.subadmin-menu {
    padding-left: 7px;
}

ul.sub-menu {
    font-family: "Source Sans Pro Light";
    font-size: 14px;
    padding-left: 7px;
}

li.inline {
    display: inline-block;
}

a.inline {
    display: inline-block;
    padding-right: 0;
}

.nav-link, .nav-link:focus {
    color: black;
}

.nav-link.active, .nav-link.active:focus {
    color: #66cc66;
}

.nav-link.active:hover {
    color: black;
}

.nav-link:hover {
    color: #66cc66;
}

.nav-link.yellow {
    color: #ffcc66;
}

.nav-link.yellow:hover, .nav-link.yellow:focus {
    color: #999999;
}

/* next jobs widget menu stuff checked */
.jobs-widget .next-jobs {
    margin-top: 5px;
}

.jobs-widget .next-jobs .time {
    margin-bottom: 10px;
    font-size: 14px;
}

/* mail recipients stuff checked */
textarea#recipients {
    width: 100%;
}

textarea#recipients[disabled=disabled] {
    background: transparent;
    border: none;
    cursor: default;
}

#edit-recipients-action {
    font-size: smaller;
}

#edit-recipients-action::before {
    content: "(";
}

#edit-recipients-action::after {
    content: ")";
}

/* mail attachement stuff checked */
.file-upload {
    line-height: 30px;
}

.file-upload-button {
    display: inline-block;
    position: relative;
}

.file-upload-button > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

/* core assignment stuff checked */
.core {
    color: #780fff;
}

/* map stuff checked */
#map-canvas {
    width: 100%;
    height: 400px;
}

/* arrows for collapsible list elements */
.details-control, .shown .details-control {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 1;
    color: #66cc66;
}

.details-control::before {
    content: "\f105";
}

.shown .details-control::before {
    content: "\f107";
}

/* increment buttons stuff*/
.btn-increment, .btn-decrement {
    line-height: 1;
}

/* data table stuff checked */
th {
    font-weight: normal;
}

.table th {
    border-top-style: none;
}

#filter {
    width: 100%;
}

#filter table {
    width: 100%;
    font-size: 10px;
}

#managementlist {
    width: 100%;
}

#managementlist table {
    width: 100%;
    font-size: 14px;
}

#managementlist table th {
    vertical-align: top;
    padding-left: 0;
}

/* deliveries stuff checked */
.delivery-table {
    width: 70%;
    font-size: 14px;
    margin-bottom: 0;
}

/* cookie consent stuff checked */
.cc-window{
    font-family: "Source Sans Pro Light";
    background-color: #fefffa;
}
.cc-btn{
    font-size: 0.875rem;
}


/*********************/
/* calendar job view */
.fc-time {
    font-weight: normal !important;
    font-style: italic;
}

#jobs_calendar .area,
#jobs_calendar .location {
    font-weight: normal !important;
    font-style: italic;
}

#jobs_calendar .area::after {
    content: ':';
    padding-right: 0.3em;
}

#jobs_calendar .location::before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    padding-left: 0.3em;
    font-style: normal;
    font-weight: 600;
    font-size: 8pt;
    line-height: 18px;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.3em;
}

#jobs_calendar .info {
    float: right;
    line-height: 1.5em;
    color: rgba(0,0,0,0.4);
    /* increase hover area */
    display: inline-block;
    padding: 25px 20px 20px 0;
    margin: -25px -20px -20px 0;
}

#jobs_calendar .is_core .fc-title,
#jobs_calendar .is_core .fc-list-item-title a {
    font-weight: bold;
}

#jobs_calendar .canceled,
#jobs_calendar .canceled .fc-event-dot{
    color: #ff3399;
    background-color: transparent !important;
}
#jobs_calendar .canceled .fc-title,
#jobs_calendar .canceled .fc-list-item-title {
    text-decoration: line-through;
}

.fc-title {
    display: block;
}

#jobs_calendar .past {
    opacity: 0.4;
}

.fc-today {
    background-color: #cefccd;
}

/* calendar marker */
.occupied_places {
    font-weight: bold;
}

.fc-list-item-marker.p0   { color: red; }
.fc-list-item-marker.p25  { color: orange; }
.fc-list-item-marker.p50  { color: #e1be00; }
.fc-list-item-marker.p75  { color: #6eb900; }
.fc-list-item-marker.p100 { color: #66cc66; }

/* calendar tooltip */
.bs-tooltip-right .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color:rgba(0,0,0,.1) !important;
    border-right-color:transparent !important;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color:rgba(0,0,0,.1) !important;
    border-top-color:rgba(0,0,0,.1) !important;
}

.tooltip-inner {
    font-family: "Source Sans Pro Regular";
    text-align: left;
    color: inherit;
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    max-width: 500px;
}

.tooltip-inner pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

.tooltip .tooltip-title {
    font-weight: bold;
}

@media (min-width: 992px) {
    .tooltip-inner .tooltip-list-area,
    .tooltip-inner .tooltip-list-location{
        display: none;
    }
}

/* job search */
#job_search {
    text-align: right;
}

#job_search input {
    display: inline-block;
    width: 15em;
}

@media (min-width: 403px) {
    #job_search input::placeholder {
        color: transparent !important;
    }
}

/* small screens */
.fc-right {
    /* keep navigation together */
    white-space: nowrap
}

@media (max-width: 991px) {
    /* hide month view */
    .fc-header-toolbar .fc-center {
        display: none;
    }
    #jobs_calendar .area,
    #jobs_calendar .location{
        display: none;
    }
}

@media (max-width: 576px) {
    /* break job time */
    .fc-list-item td {
        display: inline-block;
        box-sizing: border-box;
    }
    td.fc-list-item-time,
    td.fc-list-item-marker {
        height: 1.4em;
        padding-top: 0;
    }
    td.fc-list-item-time {
        width: 70%;
    }
    td.fc-list-item-marker {
        text-align: right;
        padding-right: 14px !important;
        width: 30%;
    }
    td.fc-list-item-title {
        display: block;
        width: 100%;
        border-top: none;
        padding-top: 0;
    }
}

@media (max-width: 402px) {
    /* move search field label */
    #job_search input {
        width: 100%;
    }
    #job_search label {
        display: none;
    }
}

/* large screens */
@media (min-width: 768px) {
    .fc-list-item-title a,
    #jobs_calendar .area,
    #jobs_calendar .location {
        display:inline-block;
    }
}