{% extends "juntagrico/modal.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans with v_member=vocabulary.member %}Bestandteil für {{ v_member }} kündigen{% endblocktrans %}
{% endblock %}

{% block body %}
    <div class="alert alert-secondary">
        <i class="bi bi-envelope"></i>
        {% blocktrans trimmed with v_subscription=vocabulary.subscription %}
            {{ v_subscription }}-Verwalter:in wird bei Kündigung automatisch per E-Mail benachrichtigt.
        {% endblocktrans %}
    </div>
    <p>
        {% trans "Bist du sicher?" %}
    </p>
{% endblock %}

{% block buttons %}
    <a href="#" class="modal-submit btn btn-danger mb-1">
        {% trans "Kündigen" %}
    </a>
{% endblock %}
