{% load i18n %}
{% load config %}
{% vocabulary "subscription" as v_subscription %}
<div class="row mt-3">
    <div class="col-md-2">
        {% trans "Grösse" %}
    </div>
    <div class="col-md-4">
        {% blocktrans trimmed with ncd=next_cancel_date|date:"F" nby=next_business_year|date:"F" %}
        Die {{ v_subscription }}-Grösse (auch die Kündigung) kann in der Regel nur jährlich geändert
        werden
        und muss bis spätestens Ende {{ ncd }} gemacht werden,
        damit die Änderung auf Anfang {{ nby }} in Kraft tritt.
        {% endblocktrans %}
    </div>
    <div class="col-md-4">
        {% trans "Nächstmögliches Datum" %}:
        <br/>
        {{ next_business_year |date:"d.m.Y" }}
        <br/>
        {% trans "Zukünftige Grösse" %}:
        <br/>
        {{ subscription.future_size_name }}
        <br/>
    </div>
    <div class="col-md-2">
        <a {% if change_size %}href="{% url 'size-change' subscription.id %}"{% endif %}class="btn btn-success"{% if not change_size %}disabled="disabled"{% endif %}>
            {% trans "Grösse ändern" %}
        </a>
        <br/>
        {% if not change_size %}
            {% blocktrans trimmed with nby=next_business_year|date:"F" ncd=next_cancel_date|date:"F" %}
            nur {{ nby }}-{{ ncd }} möglich
            {% endblocktrans %}
        {% endif %}
    </div>
</div>