{% load i18n %}
{% load config %}
<table id="filter-table" class="list table" style="width: 100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th class="align-top table-search">
                {% trans "Datum" %}
            </th>
            <th class="align-top table-search">
                {% trans "Job" %}
            </th>
            <th class="align-top table-search">
                {% trans "Ort" %}
            </th>
            <th class="align-top">
                {% trans "Zeit" %}
            </th>
            <th class="align-top table-search">
                {% trans "Bereich" %}
            </th>

            {% if show_core %}
                <th class="align-top">
                    {% trans "Kern" %}
                </th>
            {% endif %}
            <th class="align-top">
                {% trans "Status" %}
            </th>
            {% if show_extras %}
                <th class="align-top">
                    {% trans "Extras" %}
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
            <tr>
                <td></td>
                <td>
                    {{ job.type.description }}
                </td>
                <td>
                    {{ job.weekday_name }}&nbsp;{{ job.time |date:"d." }}{{ job.time |date:"m." }}{{ job.time |date:"Y" }}
                </td>
                <td>
                    <a href="{% url 'job' job.id %}"{% if job.canceled %}class="canceled"{% endif %}>
                        {{ job.type.get_name }}
                    </a>
                </td>
                <td>
                    {{ job.type.location }}
                </td>
                <td>
                    {{ job.time |date:'H:i' }} - {{ job.end_time |date:'H:i' }}
                </td>
                <td>
                    {{ job.type.activityarea.name }}
                </td>
                {% if show_core %}
                    <td>
                        {% if job.type.activityarea.core %}
                            <img alt="{% trans "Kernbereich" %}" src="{% images "core" %}"/>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    <img alt="{% trans "Status" %}: {{ job.get_status_percentage }}"src="{% images job.get_status_percentage %}"/>
                </td>
                {% if show_extras %}
                    <td>
                        {{ job.extras|safe }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
