{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% show_core as b_show_core %}
{% show_job_extras as b_show_job_extras %}
<table id="filter-table" class="list table" style="display: table;">
    <thead>
        <tr>
            <th class="align-top">
            </th>
            {% if b_show_core %}
                <th class="align-top">
                    {% trans "Kern" %}
                </th>
            {% endif %}
            <th class="align-top table-search">
                {% trans "Datum" %}
            </th>
            <th class="align-top table-search">
                {% trans "Job" %}
            </th>
            <th class="align-top">
                {% trans "Status" %}<br>
                {% if show_free_slot_filter %}
                <form class="form-inline">
                    <label for="free_slot_filter">{% trans "Freie Plätze" %}&nbsp;&ge;&nbsp;</label>
                    <input id="free_slot_filter" type='number' placeholder='' style='width: 4em;'
                           class='form-control input-sm' value="0" min="0"/>
                </form>
                {% endif %}
            </th>
            {% if show_free_slot_filter %}
                <th class="align-top free-slot-count">
                </th>
            {% endif %}
            {% if b_show_job_extras %}
                <th class="align-top">
                    {% trans "Extras" %}
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
            <tr data-place="{{ job.type.location }}" data-starttime="{{ job.time |date:'H:i' }}"data-endtime="{{ job.end_time |date:'H:i' }}" data-area="{{ job.type.activityarea.name }}">
                <td class="details-control">
                </td>
                {% if b_show_core %}
                    <td>
                        {% if job.type.activityarea.core %}
                            <img alt="{% trans "Kernbereich" %}" src="{% images "core" %}"/>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {{ job.weekday_name }}&nbsp;{{ job.time |date:"d." }}{{ job.time |date:"m." }}{{ job.time |date:"Y" }}
                </td>
                <td>
                    <a href="{% url 'job' job.id %}" class="{{ job.get_css_classes }}">
                        {{ job.type.get_name }}
                    </a>
                </td>
                <td>
                    {% if job.free_slots > -1 %}
                    <img alt="{% trans "Status" %}: {{ job.get_status_percentage }}"src="{% images job.get_status_percentage %}"/>
                    {% endif %}
                </td>
                {% if show_free_slot_filter %}
                    <td>
                        {{ job.free_slots }}
                    </td>
                {% endif %}
                {% if b_show_job_extras %}
                    <td>
                        {{ job.extras|safe }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
