{% load i18n %}
{% load config %}
{% vocabulary "depot" as v_depot %}
{% vocabulary "subscription" as v_subscription %}
<div class="row mt-3">
    <div class="col-md-2">
        {% trans "Spitzname" %}
    </div>
    <div class="col-md-4">
        {% blocktrans %}Du möchtest einen {{ v_subscription }}-Spitznamen für die {{ v_depot }}-Liste festlegen?{% endblocktrans %}
    </div>
    <div class="col-md-4">
        {% trans "Vorschau" %}:
        <br/>
        {% if subscription.nickname %}
        {{ subscription.recipients_display_name }}
        {% else %}
        <i>{% trans "Kein Spitzname gewählt. Alle Namen werden angezeigt." %}</i>
        {% endif %}
    </div>
    <div class="col-md-2">
        <a href="{% url 'nickname-change' subscription.id %}" class="btn btn-success">
            {% blocktrans %}Spitzname ändern{% endblocktrans %}
        </a>
    </div>
</div>