{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% blocktrans with v_subscription=vocabulary.subscription %}Haupt-{{ v_subscription }}-BezieherIn ändern{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% if form.fields.primary_member.queryset %}
        {% crispy form %}
    {% else %}
        {% vocabulary "subscription" as v_subscription %}
        {% vocabulary "co_member_pl" as v_co_member_pl %}
         <div class="alert alert-warning">
                {% blocktrans trimmed %}
                    Leider kann niemand deiner {{ v_co_member_pl }} Haupt-{{ v_subscription }}-BezieherIn werden.
                {% endblocktrans %}
            <br/>
            <a href="{% url 'subscription-single' form.instance.id %}">
                {% blocktrans %}Zurück zur {{ v_subscription }}-Übersicht{% endblocktrans %}
            </a>
        </div>
    {% endif %}
{% endblock %}
