{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% blocktrans with v_subscription=vocabulary.subscription %}{{ v_subscription }} transferieren{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% if form.fields.primary_member.queryset %}
        <p>
            {% blocktrans trimmed with v_co_member=vocabulary.co_member v_the_subscription_acc=vocabulary.the_subscription_acc %}
                Du bleibst weiterhin {{ v_co_member }}, kannst {{ v_the_subscription_acc }} aber nicht mehr verwalten.
            {% endblocktrans %}
        </p>
        {% crispy form %}
    {% else %}
        {% vocabulary "co_member_pl" as v_co_member_pl %}
         <div class="alert alert-warning">
            <p>
                {% if not form.instance.co_members %}
                    {% blocktrans trimmed with v_the_subscription_acc=vocabulary.the_subscription_acc %}
                        Du hast keine {{ v_co_member_pl }}, die {{ v_the_subscription_acc }} übernehmen könnten.
                    {% endblocktrans %}
                    <br/>
                    <a href="{% url 'add-member' form.instance.id %}">
                        {% blocktrans %}{{ v_co_member_pl }} einladen &rarr;{% endblocktrans %}
                    </a>
                {% else %}
                    {% blocktrans trimmed with v_the_subscription_acc=vocabulary.the_subscription_acc v_membership=vocabulary.membership %}
                        Leider kann niemand deiner {{ v_co_member_pl }} {{ v_the_subscription_acc }} übernehmen,
                        da sie keine {{ v_membership }} haben.
                    {% endblocktrans %}
                {% endif %}
            </p>
            <a href="{% url 'subscription-single' form.instance.id %}">
                {% blocktrans %}Zurück zur Übersicht{% endblocktrans %}
            </a>
        </div>
    {% endif %}
{% endblock %}
