{% extends "base.html" %}
{% load juntagrico.subscription %}
{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.common %}
{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}{{ v_subscription }}{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% include 'juntagrico/my/subscription/snippets/banners/no_subscription.html' %}
    {% include 'juntagrico/my/share/snippets/subscription_overview.html' %}
    {# Documents #}
    {% block documents %}
        {% include "juntagrico/snippets/documents.html" %}
    {% endblock %}
    {# Additional #}
    {% block extend %}
    {% endblock %}
{% endblock %}
