{% load i18n %}
{% if perms.juntagrico.change_assignment %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#assman">
            {% blocktrans %}{{ v_assignment_pl }}{% endblocktrans %}
            <i class="fas fa-angle-right">
            </i>
        </a>
        <div class="collapse" id="assman">
            <ul class="nav flex-column subadmin-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'filter-assignments' %}">
                         {% blocktrans %}Übersicht{% endblocktrans %}
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endif %}