{% load juntagrico.common %}
{% load juntagrico.config %}
{% load i18n %}
{% depot_admin request as qs_depot_admin %}
{% if perms.juntagrico.is_depot_admin and qs_depot_admin|length > 0 %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#depotman">
            {% blocktrans %}{{ v_depot_pl }}{% endblocktrans %}
            <i class="fas fa-angle-right">
            </i>
        </a>
        <div class="collapse{% if 'manage-depot' in request.resolver_match.url_name %} show{% endif %}" id="depotman">
            <ul class="nav flex-column subadmin-menu">
                {% block sub %}
                    {% for depot in qs_depot_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'manage-depot-subs' depot.id %}">
                                {% blocktrans with dn=depot.name %}{{ v_subscription_pl }} im {{ v_depot }} {{ dn }}{% endblocktrans %}
                            </a>
                        </li>
                    {% endfor %}
                {% endblock %}
            </ul>
        </div>
    </li>
{% endif %}