{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% blocktrans with v_depot=vocabulary.depot %}{{ v_depot }}-Listen{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% if depot_lists %}
        <div class="row mb-4">
            <div class="col-lg-6">
                <ul>
                    {% for depot_list in depot_lists %}
                        <li>
                            {% if depot_list.exists %}
                                <a href="{% url 'lists-download' depot_list.file_name %}">{{ depot_list.name }}</a>
                                {% if depot_list.creation_time %}({{ depot_list.creation_time }}){% endif %}
                            {% else %}
                                {{ depot_list.name }} ({% trans "Noch nicht erstellt" %})
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if form %}
        <div class="row mb-4">
            <div class="col-lg-6">
                <h4>{% trans "Manuelle Listenerzeugung" %}</h4>
                {% crispy form %}
            </div>
        </div>
    {% endif %}
{% endblock %}
