{% extends "mybase.html" %}

{% block allcontent %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>MitabonnentIn hinzufügen</h3>
        <br/>

        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if locoform.last_name.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_last_name">Name *</label>

                <div class="controls col-sm-8">
                    {{ locoform.last_name }}
                    {% if locoform.last_name.errors %}
                        <span class="help-inline">Name ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.first_name.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_first_name">Vorname *</label>

                <div class="controls col-sm-8">
                    {{ locoform.first_name }}
                    {% if locoform.first_name.errors %}
                        <span class="help-inline">Vorname ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.addr_street.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_addr_street">{{ locoform.addr_street.label }} *</label>

                <div class="controls col-sm-8">
                    {{ locoform.addr_street }}
                    {% if locoform.addr_street.errors %}
                        <span class="help-inline">Strasse ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.addr_zipcode.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_addr_zipcode">{{ locoform.addr_zipcode.label }} *</label>

                <div class="controls col-sm-8">
                    {{ locoform.addr_zipcode }}
                    {% if locoform.addr_zipcode.errors %}
                        <span class="help-inline">PLZ ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.addr_location.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_addr_location">{{ locoform.addr_location.label }} *</label>

                <div class="controls col-sm-8">
                    {{ locoform.addr_location }}
                    {% if locoform.addr_location.errors %}
                        <span class="help-inline">Ort ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.phone.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_phone">{{ locoform.phone.label }} *</label>

                <div class="controls col-sm-8">
                    {{ locoform.phone }}
                    {% if locoform.phone.errors %}
                        <span class="help-inline">Telefon ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.mobile_phone.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_mobile_phone">{{ locoform.mobile_phone.label }} &nbsp;</label>

                <div class="controls col-sm-8">
                    {{ locoform.mobile_phone }}
                    {% if locoform.mobile_phone.errors %}
                        <span class="help-inline">Mobile ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.email.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_email">E-Mail Adresse *</label>

                <div class="controls col-sm-8">
                    {{ locoform.email }}

                    {% if locoform.email.errors %}
                        <span class="help-inline">E-Mail ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if locoform.birthday.errors %}error{% endif %}">
                <label class="col-sm-4 control-label" for="birthday">Geburtstag &nbsp;</label>

                <div class="controls col-sm-8">
                    {{ locoform.birthday }}

                    {% if locoform.birthday.errors %}
                        <span class="help-inline">Geburtstag ungültig</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if scheineerror %}error{% endif %}">
                <label class="col-sm-4 control-label" for="id_anteilscheine">Anteilscheine</label>

                <div class="controls col-sm-2">
                    <input type="text" class="form-control" name="anteilscheine" id="id_anteilscheine" value="{{ scheine }}">

                    {% if scheineerror %}
                        <span class="help-inline">Bitte positive Zahl eingeben</span>
                    {% endif %}
                </div>
            </div>
            {% if userexists %}
                <div class="alert alert-danger">
                    Diese Email-Adresse existiert bereits im System. Bitte meldet euch bei <a href="mailto:info@ortoloco.ch">info@ortoloco.ch</a>, wenn ihr bestehende Mitglieder in euer Abo aufnehmen möchtet.
                </div>
            {% endif %}
            <div class="form-actions col-sm-offset-4">
                <button type="submit" class="btn btn-success">MitabonnentIn hinzufügen</button>
                <a href="{{ cancelUrl }}" class="btn">Abbrechen</a>
            </div>
        </form>
    </div>
{% endblock %}
