{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% load crispy_forms_tags %}
{% block all_page_title %}
    {% vocabulary "co_member" as v_co_member %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% blocktrans %}{{ v_co_member }} hinzufügen{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    {% vocabulary "member_pl" as v_member_pl %}
    <div class="offset-md-2 col-md-8">
        <form action="" method="post" id="new_member">
            {% crispy form %}
        </form>
    </div>
{% endblock %}
