{% extends "base.html" %}
{% load config %}
{% block all_page_title %}
    <div class="col-md-3"> 
            &nbsp;
    </div>
    <div class="col-md-9 juntagrico">
        <h3>{% vocabulary "co_member" %} hinzufügen</h3>
    </div>
{% endblock %}

{% block allcontent %}
    <div class="offset-md-2 col-md-8">
        <br/>
		Bei bestehenden {% vocabulary "member_pl" %} reicht es, die Emailadresse einzutragen. Alle anderen Felder werden in diesem Falle ignoriert.
        <form action="" method="post"id="new_member">
            {% csrf_token %}
            <div class="form-group row {% if memberform.last_name.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_last_name">Name *</label>

                <div class="controls col-md-9">
                    {{ memberform.last_name }}
                    {% if memberform.last_name.errors %}
                        <span class="help-inline">Name ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.first_name.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_first_name">Vorname *</label>

                <div class="controls col-md-9">
                    {{ memberform.first_name }}
                    {% if memberform.first_name.errors %}
                        <span class="help-inline">Vorname ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.addr_street.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_addr_street">{{ memberform.addr_street.label }} *</label>

                <div class="controls col-md-9">
                    {{ memberform.addr_street }}
                    {% if memberform.addr_street.errors %}
                        <span class="help-inline">Strasse ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.addr_zipcode.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_addr_zipcode">{{ memberform.addr_zipcode.label }} *</label>

                <div class="controls col-md-9">
                    {{ memberform.addr_zipcode }}
                    {% if memberform.addr_zipcode.errors %}
                        <span class="help-inline">PLZ ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.addr_location.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_addr_location">{{ memberform.addr_location.label }} *</label>

                <div class="controls col-md-9">
                    {{ memberform.addr_location }}
                    {% if memberform.addr_location.errors %}
                        <span class="help-inline">Ort ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.phone.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_phone">{{ memberform.phone.label }} *</label>

                <div class="controls col-md-9">
                    {{ memberform.phone }}
                    {% if memberform.phone.errors %}
                        <span class="help-inline">Telefon ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.mobile_phone.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_mobile_phone">{{ memberform.mobile_phone.label }} &nbsp;</label>

                <div class="controls col-md-9">
                    {{ memberform.mobile_phone }}
                    {% if memberform.mobile_phone.errors %}
                        <span class="help-inline">Mobile ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.email.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_email">E-Mail Adresse *</label>

                <div class="controls col-md-9">
                    {{ memberform.email }}

                    {% if memberform.email.errors %}
                        <span class="help-inline">E-Mail ungültig</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row {% if memberform.birthday.errors %}error{% endif %}">
                <label class="col-md-3 control-label" for="birthday">Geburtstag &nbsp;</label>

                <div class="controls col-md-9">
                    {{ memberform.birthday }}

                    {% if memberform.birthday.errors %}
                        <span class="help-inline">Geburtstag ungültig</span>
                    {% endif %}
                </div>
            </div>
            {%  config "enable_shares" as enable_shares %}
            {%  if enable_shares %}
            <div class="form-group row {% if shareeerror %}error{% endif %}">
                <label class="col-md-3 control-label" for="id_shares">{% vocabulary "share_pl" %}</label>

                <div class="controls col-md-2">
                    <input type="text" class="form-control" name="shares" id="id_shares" value="{{ shares }}">

                    {% if scheineerror %}
                        <span class="help-inline">Bitte positive Zahl eingeben</span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if memberexists and memberblocked %}
                <div class="alert alert-danger">
                    Diese Email-Adresse existiert bereits im System und ist bereits bei einem {% vocabulary "subscription" %} dabei. Bitte meldet euch bei <a href="mailto:{% config "info_email" %}">{% config "info_email" %}</a>, wenn ihr bestehende {% vocabulary "member_type_pl" %} in euer{% vocabulary "subscription" %} aufnehmen möchtet.
                </div>
            {% endif %}
            <div class="form-actions row">
                <div class="offset-md-3 col-md-9">
                <button type="submit" class="btn btn-success" formnovalidate>{% vocabulary "co_member" %} hinzufügen</button>
                <a href="/my/subscription/{{subscription_id}}" class="btn">Abbrechen</a>
            </div>
            </div>
        </form>
    </div>
{% endblock %}
