{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% trans "Mitarbeit" %}
    </h3>
{% endblock %}

{% block content %}
    {% block intro %}
        <div class="row">
            <div class="col-md-12">
                {% include "juntagrico/my/area/snippets/intro.html" %}
            </div>
        </div>
    {% endblock %}

    {% block list %}
        <div class="row">
            <div class="col-md-12 activity-area-list">
                {% with own_areas=request.user.member.areas.all %}
                    {% regroup areas by core as area_by_core %}
                    {% for core in area_by_core %}
                        {% block section_head %}
                            <br/>
                            <div class="row activity-area-list-header">
                                <div class="col-md-4">
                                    {% if core.grouper %}
                                        {% trans "Kernbereiche" %}:
                                        <img alt="core_area" title="core_area" src="{% images "core" %}"/>
                                    {% elif forloop.first %}
                                        {% trans "Tätigkeitsbereiche" %}:
                                    {% else %}
                                        {% trans "Weitere Bereiche" %}:
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    {% trans "Kontaktperson" %}:
                                </div>
                            </div>
                            <div class="row separator">
                            </div>
                        {% endblock %}

                        {% for area in core.list %}
                            {% block area %}
                                <div class="row align-items-center activity-area-list-element">
                                    <div class="col-md-1">
                                        <span class="switch switch-sm">
                                            <input type="checkbox" class="switch" value="{{ area.id }}" id="area{{ area.id }}" name="area{{ area.id }}"{% if area in own_areas %} checked="checked"{% endif %}/>
                                            <label for="area{{ area.id }}">
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{% url 'area' area.id %}">{{ area.name }}</a>
                                    </div>
                                    <div class="col-md-8">
                                        {% for contact in area.contacts %}
                                            {{ contact.to_html }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endfor %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    {% endblock %}

    {% if coordinated_areas %}
        <div class="row mt-5">
            <div class="col-md-12">
                {% block coordinated_areas %}
                    <h4>{% trans "Von dir koordiniert" %}</h4>
                    <ul>
                        {% for area in coordinated_areas %}
                            <li><a href="{% url 'area' area.id %}">{{ area }}</a></li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% include 'snippets/scripts/area_slider.html' %}
{% endblock %}
