{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% trans "Mitarbeit" %}
    </h3>
{% endblock %}

{% block content %}
    {% block intro %}
        <div class="row mb-4">
            <div class="col-md-12">
                {% include "juntagrico/my/area/snippets/intro.html" %}
            </div>
        </div>
    {% endblock %}

    {% block list %}
        <div class="row">
            <div class="col-md-12 activity-area-list">
                {% with own_areas=request.user.member.areas.all %}
                    {% regroup areas by core as area_by_core %}
                    {% for core in area_by_core %}
                        <div class="mb-4">
                            {% block section_head %}
                                <h4>
                                    {% if core.grouper %}
                                        {% trans "Kernbereiche" %}
                                        <img alt="{% trans "Kernbereich" %}" title="{% trans "Kernbereich" %}" src="{% images "core" %}"/>
                                    {% elif not forloop.first %}
                                        {% trans "Weitere Bereiche" %}
                                    {% else %}
                                        {% trans "Tätigkeitsbereiche" %}
                                    {% endif %}
                                </h4>
                            {% endblock %}

                            {% block area_list %}
                                <ul class="list-group">
                                    {% for area in core.list %}
                                        {% block area %}
                                            <li class="list-group-item activity-area-list-element">
                                                <div class="d-flex flex-wrap flex-column flex-sm-row">
                                                    <div class="switch switch-sm align-self-sm-center mt-2 mb-3 mr-3">
                                                        <input type="checkbox" class="switch" value="{{ area.id }}" id="area{{ area.id }}" name="area{{ area.id }}"{% if area in own_areas %} checked="checked"{% endif %}/>
                                                        <label for="area{{ area.id }}">
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <p class="h4 mb-2">
                                                            <a href="{% url 'area' area.id %}">{{ area.name }}</a>
                                                        </p>
                                                        <div class="mb-1">
                                                            {% for contact in area.contacts %}
                                                                {{ contact.to_html }}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    {% endblock %}

    {% if coordinated_areas %}
        <div class="row mt-2">
            <div class="col-md-12">
                {% block coordinated_areas %}
                    <h4>{% trans "Von dir koordiniert" %}</h4>
                    <ul>
                        {% for area in coordinated_areas %}
                            <li><a href="{% url 'area' area.id %}">{{ area }}</a></li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% include 'snippets/scripts/area_slider.html' %}
{% endblock %}
