{% load i18n %}
{% load config %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <title>
            {% config "adminportal_name" %}
        </title>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="{% config "favicon" %}"/>
        <link href="{% config "bootstrap" %}" rel="stylesheet"/>
        <link href="/static/external/mid/css/materialdesignicons.min.css" rel="stylesheet"/>
        <link href="/static/external/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet"/>
        <link href="/static/external/font-awesome-5.3.1/css/all.min.css" rel="stylesheet"/>
        {% block styles %}
        {% endblock %}
        <link href="/static/css/juntagrico.css" rel="stylesheet"/>
        <link href="/static/css/slider.css" rel="stylesheet"/>
        <link href="{% config "style_sheet" %}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="bordertop">
            </div>
            <div class="borderleft">
            </div>
            <div class="borderright">
            </div>
            <div class="borderbottom">
            </div>
            <div class="row myjuntagrico">
                <div class="col-md-12">
                    <a href="/my/home">
                        <span class="juntagrico_logo">
                        </span>
                    </a>
                </div>
            </div>
            {% if user.is_impersonate %}
                <div class="row myjuntagrico">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            {% blocktrans trimmed with fn=user.member.first_name ln=user.member.last_name %}
                            Du imitierst derzeit den Benutzer “{{ fn }} {{ ln }}”.
                            {% endblocktrans %}
                            <a href="/impersonate/stop">
                                {% trans "Beende dies hier" %}
                            </a>
                            .
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row myjuntagrico">
                {% block all_page_title %}
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9 juntagrico">
                        {% block page_title %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <div class="row juntagrico">
                {% block allcontent %}
                    <div class="col-md-3">
                        {% include "menu/user_menu.html" %}
                        {% if depot_admin|length > 0 or area_admin|length > 0 or operation_group %}
                            {% include "menu/admin_menu.html" %}
                        {% endif %}
                        {% include "widgets/assignements.html" %}
                        {% include "widgets/jobs.html" %}
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="messages col-md-12">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="row footer">
            </div>
        </div>
        <script type="text/javascript" src="/static/external/jquery-3.3.1/jquery-3.3.1.min.js">
        </script>
        <script type="text/javascript" src="/static/external/bootstrap-4.1.3/js/bootstrap.min.js">
        </script>
        {% block scripts %}
            {# no scripts by default #}
        {% endblock %}
    </body>
</html>
