{% load config %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% config "adminportal_name" %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% config "favicon" %}"/>

    <link href="{% config "bootstrap" %}" rel="stylesheet">
    <link href="/static/external/mid/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/external/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/external/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/juntagrico.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="{% config "style_sheet" %}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="bordertop"></div>
    <div class="borderleft"></div>
    <div class="borderright"></div>
    <div class="borderbottom"></div>
    <div class="row myjuntagrico">
        <div class="col-md-12">
            <a href="/my/home"><span class="juntagrico_logo"></span></a>
        </div>
    </div>
    {% if user.is_impersonate %}
        <div class="row myjuntagrico">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    Du imitierst derzeit den Benutzer “{{ user.member.first_name }} {{ user.member.last_name }}”. <a
                        href="/impersonate/stop">Beende dies hier</a>.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row myjuntagrico">
    {% block all_page_title %}
        <div class="col-md-3"> 
            &nbsp;
        </div>
        <div class="col-md-9 juntagrico">
            {% block page_title %}
            {% endblock %}
        </div>
    {% endblock %}
    </div>
    
    <div class="row juntagrico">
        {% block allcontent %}
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li><h5>Dein Menu {{ user.member.first_name }}</h5>
                    </li>
                    <li class="{{ menu.subscriptionnnement }}">
                        <a href="/my/subscription">Abo</a>
                    </li>
                    <li class="{{ menu.participation }}">
                        <a href="/my/participation">Mitarbeit</a>
                    </li>
                    <li class="{{ menu.jobs }}">
                        <a href="/my/assignments">Einsätze</a>
                    </li>
                    <li class="{{ menu.personalInfo }}">
                        <a href="/my/profile">Personalien</a>
                    </li>
                    <li class="{{ menu.contact }}">
                        <a href="/my/contact">Kontakt</a>
                    </li>
                    <li class="separator"></li>
                    <li class="main-menu-small">
                        <a class="yellow" href="http://{% config "server_url" %}">{% config "server_url" %}</a>
                    </li>
                    <li class="main-menu-small">
                        <a class="yellow" href="/logout">Abmelden</a>
                    </li>
                </ul>
                {% if depot_admin|length > 0 or area_admin|length > 0 or operation_group%}
                <hr>
                <h5>Administration</h5>
                <ul class="nav nav-pills nav-stacked admin-menu">                
                    {% if operation_group %}
                        <li>
                            <a href="/admin">Daten Administration</a>
                        </li>
                    {% endif %}                    
                    {% if operation_group %}
                        <li>
                            <a data-toggle="collapse" href="#subman">Abo Management <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <div class="collapse" id="subman">
                            <ul class="nav nav-pills nav-stacked admin-menu subadmin-menu">
                            {% if operation_group %}
                                <li>
                                    <a href="/my/waitinglist">Warteliste</a>
                                </li>
                            {% endif %}
                            {% if operation_group %}
                                <li>
                                    <a href="/my/typechangedlist">Grössen Änderungen</a>
                                </li>
                            {% endif %}
                            {% if operation_group %}
                                <li>
                                    <a href="/my/canceledlist">Kündigungsliste</a>
                                </li>
                            {% endif %}
                            {% if operation_group and has_extra_subscriptions %}
                                <li>
                                    <a href="/my/extra/waitinglist">Zusatzabos Warteliste</a>
                                </li>
                            {% endif %}
                            {% if operation_group and has_extra_subscriptions %}
                                <li>
                                    <a href="/my/extra/canceledlist">Zusatzabos Kündigungsliste</a>
                                </li>
                            {% endif %}
                            {% if operation_group %}
                                <li>
                                    <a href="/my/future">Zukunftsblick</a>
                                </li>
                            {% endif %}
                            </ul>
                            </div>
                        </li>
                    {% endif %}
                                        
                    {% if can_filter_members or can_filter_subscriptions or  depot_admin|length > 0 or area_admin|length > 0 %}
                        <li>
                            <a data-toggle="collapse" href="#filterman">Filter <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <div class="collapse" id="filterman">
                            <ul class="nav nav-pills nav-stacked admin-menu subadmin-menu">
                            {% if can_filter_members or can_filter_subscriptions %}
                                <li class="inline">
                                    Filtern 
                                    {% if can_filter_members %}
                                    <a href="/my/filters">{% config "members_string" %}</a> | 
                                    {% endif %}
                                    {% if can_filter_subscriptions %}
                                    <a href="/my/subscriptions">Abos</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% for depot in depot_admin %}
                                <li class="inline">
                                    <a href="/my/filters/depot/{{ depot.id }}">{% config "members_string" %}</a> | <a href="/my/subscriptions/depot/{{ depot.id }}">Abos</a> im {{ depot.name }}
                                </li>
                            {% endfor %}
                            {% for area in area_admin %}
                                <li>
                                    <a href="/my/filters/area/{{ area.id }}">{% config "members_string" %} in {{ area.name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if can_send_mails %}
                        <li>
                            <a href="/my/mails">Mails verschicken</a>
                        </li>
                    {% endif %}
                    {% if operation_group %}
                        <li>
                            <a href="{{depot_list_url}}">Depotlisten</a>
                        </li>
                    {% endif %}
                    
                    {% if operation_group %}
                        <li>
                            <a href="/my/export">Exporte</a>
                        </li>
                    {% endif %}
                    
                    {% include "personal_menu.html" %}
                </ul>
                {% endif %}

                <hr>
                <div class="bohnen">
                    {% block bohnen %}
                        <h5>Abo {% config "assignments_string" %}-Konto</h5>
                        {% for i in assignmentsrange %}
                            {% if i < userassignemnts_core_bound %}
                                <img alt="Kernbereich" title="Kernbereich" class="jobstatus"
                                     src="{% images "single_core" %}"/>
                            {% elif i < userassignments_bound %}
                                <img alt="anderer Tätigkeitsbereich" title="anderer Tätigkeitsbereich" class="jobstatus"
                                     src="{% images "single_full" %}"/>
                            {% elif i < partner_assignments_core_bound %}
                                <img alt="Kernbereich Partner" title="Kernbereich Partner" class="jobstatus"
                                     src="{% images "single_core" %}" style="opacity:0.5;"/>
                            {% elif i < partner_assignments_bound %}
                                <img alt="anderer Tätigkeitsbereich Partner" title="anderer Tätigkeitsbereich Partner" class="jobstatus"
                                     src="{% images "single_full" %}" style="opacity:0.5;"/>
                            {% else %}
                                <img alt="noch zu erledigen (ganzes Abo)" class="jobstatus" src="{% images "single_empty" %}"
                                     title="noch zu erledigen (ganzes Abo)"/>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </div>
                <hr>
                <div class="jobs">
                    {% block next_jobs %}
                        <h5>Nächste Einsätze</h5>
                        {% if next_jobs|length > 0 %}
                            <ul class="unstyled next-jobs">
                                {% for job in next_jobs %}
                                    <li><a href="/my/jobs/{{ job.id }}" {% if job.canceled %} class="canceled"{% endif %}>{{ job.type.name }}</a><br/>

                                        <div class="time">{{ job.time|date:"d.m H:i" }}-{{ job.end_time|date:"H:i" }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Noch für keine Jobs angemeldet
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="row footer">
    </div>
</div>

<script type="text/javascript" src="/static/external/jquery-1.11.2/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/external/bootstrap-3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/slider.js"></script>

{% block scripts %}
    {# no scripts by default #}
{% endblock %}
</body>
