{% load i18n %}
{% load config %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <title>
            {% config "adminportal_name" %}
        </title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% config "favicon" %}"/>
        <link href="{% config "bootstrap" %}" rel="stylesheet"/>
        <link href="/static/external/mid/css/materialdesignicons.min.css" rel="stylesheet"/>
        <link href="/static/external/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet"/>
        <link href="/static/external/font-awesome-5.3.1/css/all.min.css" rel="stylesheet"/>
        <link href="/static/external/cc/cookieconsent.min.css" rel="stylesheet"/>
        {% block styles %}
        {% endblock %}
        <link href="/static/css/juntagrico.css" rel="stylesheet"/>
        <link href="/static/css/slider.css" rel="stylesheet"/>
        <link href="{% config "style_sheet" %}" rel="stylesheet"/>
    </head>
    <body id="{{ view_name }}" class="{% block body_extra_classes %}{% endblock %}">
        <div class="page-container container">
            <div class="bordertop">
            </div>
            <div class="borderleft">
            </div>
            <div class="borderright">
            </div>
            <div class="borderbottom">
            </div>
            <div class="row d-md-none">
                <nav class="navbar navbar-expand-md col-sm-12">
                      <a class="navbar-brand" href="#">{% config "adminportal_name" %}</a>

                {% block small_menu_content %}
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="mdi mdi-menu">
                        </i>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            {% include "menu/user_menu.html" %}
                            {% if depot_admin|length > 0 or area_admin|length > 0 or operation_group %}
                                {% include "menu/admin_menu.html" %}
                            {% endif %}
                      </div>
                {% endblock %}
                    </nav>
            </div>
            <div class="logo-row row d-none d-md-block">
                <div class="logo-col col-md-12">
                    <a href="{% url 'home' %}">
                        <span class="juntagrico-logo juntagrico_logo">
                        </span>
                    </a>
                </div>
            </div>
            {% if user.is_impersonate %}
                <div class="impersonate-row row">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            {% blocktrans trimmed with fn=user.member.first_name ln=user.member.last_name %}
                            Du imitierst derzeit den Benutzer “{{ fn }} {{ ln }}”.
                            {% endblocktrans %}
                            <a href="/impersonate/stop">
                                {% trans "Beende dies hier" %}
                            </a>
                            .
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="headerspace row d-none d-md-block">
            </div>
            <div class="all-page-title row">
                {% block all_page_title %}
                    <div class="page-title offset-md-3 col-md-9">
                        {% block page_title %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <div class="allcontent row">
                {% block allcontent %}
                    <div class="sidebar col-md-3 d-none d-md-block">
                        {% include "menu/user_menu.html" %}
                        {% if depot_admin|length > 0 or area_admin|length > 0 or operation_group %}
                            {% include "menu/admin_menu.html" %}
                        {% endif %}
                        {% include "widgets/assignements.html" %}
                        {% include "widgets/jobs.html" %}
                    </div>
                    <div class="content-container col-md-9 col-sm-12">
                        <div class="messages row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="content row">
                            <div class="col-md-12">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="footer row">
                {% block footer_content %}
                 <div class="sidebar col-sm-12 d-md-none">
                        {% include "widgets/assignements.html" %}
                        {% include "widgets/jobs.html" %}
                    </div>
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="/static/external/jquery-3.3.1/jquery-3.3.1.min.js">
        </script>
        <script type="text/javascript" src="/static/external/bootstrap-4.3.1/js/bootstrap.bundle.min.js">
        </script>
        <script type="text/javascript" src="/static/js/juntagrico.js">
        </script>
        <script src="/static/external/cc/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
        window.cookieconsent.initialise({
            "content": {
                "message": "{% cookie_consent "text" %}",
                "dismiss": "{% cookie_consent "confirm_text" %}",
                "link": "{% cookie_consent "link_text" %}",
                "href": "{% cookie_consent "url" %}"
            },
            elements: {
                dismiss: '<a aria-label="dismiss cookie message" tabindex="0" class="cc-dismiss cc-btn btn btn-success">{% templatetag openvariable %}dismiss{% templatetag closevariable %}</a>',
                messagelink: '<span id="cookieconsent:desc" class="cc-message">{% templatetag openvariable %}message{% templatetag closevariable %} <a aria-label="learn more about cookies" tabindex="0" href="{% templatetag openvariable %}href{% templatetag closevariable %}" target="_blank">{% templatetag openvariable %}link{% templatetag closevariable %}</a></span>',

}
        });
        </script>
        {% block scripts %}
            {# no scripts by default #}
        {% endblock %}
    </body>
</html>
