{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    <h3>
        {% trans "Künde deine Mitgliedschaft" %}
    </h3>
{% endblock %}
{% block content %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% config "info_email" as c_info_email %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "share_pl" as v_share_pl %}
    {% config "enable_shares" as enable_shares %}
    <div class="row mb-3">
        <div class="col-md-12">
            {% blocktrans trimmed %}
            Hier kannst du deine Mitgliedschaft bei {{ v_d_enriched_organisation }} kündigen.
            {% endblocktrans %}
            {% if coop_member %}
                {% blocktrans trimmed with ed=end_date|date:"d.m.Y" %}
                Der nächste reguläre Kündigungstermin ist der {{ ed }}.
                {% endblocktrans %}
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            {% if coop_member %}
                <ul class="list-unstyled">
                    <li>
                        {% trans "Du erhälst keine Emails mehr" %}
                    </li>
                    <li>
                        {% blocktrans %}Du wirst bei deinem/r {{ v_subscription }} ausgetragen{% endblocktrans %}
                    </li>
                    {% if enable_shares %}
                        <li>
                            {% blocktrans %}Deine {{ v_share_pl }} werden gekündigt{% endblocktrans %}
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul>
                    <li>
                        {% trans "Du erhälst keine Emails mehr" %}
                    </li>
                    <li>
                        {% blocktrans %}Du wirst bei deinem/r {{ v_subscription }} ausgetragen{% endblocktrans %}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            {% if can_cancel %}
                <form action="" method="POST" onsubmit="return confirm('{% trans "Möchtest du sicher deine Mitgliedschaft verbindlich künden?" %}')">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-md-3" for="message">
                            {% trans "Mitteilung" %}
                        </label>
                        <div class="col-md-9">
                            <textarea name="message" id="message" class="form-control" rows="12"placeholder="{% trans "Hier Nachricht eingeben" %}"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-3 col-md-9">
                            <button type="submit" class="btn btn-success">
                                {% trans "Mitgliedschaft künden" %}
                            </button>
                        </div>
                    </div>
                </form>
            {% elif missing_iban and enable_shares %}
                {% blocktrans trimmed %}
                Du musst zuerst deine IBAN hinterlegen, damit deine {{ v_share_pl }} ausbezahlt werden können.
                {% endblocktrans %}
            {% elif enable_shares %}
                {% blocktrans trimmed %}
                Du bist entweder Hauptabonnent oder ohne deine {{ v_share_pl }} hat dein/e jetztige/r/s
                {{ v_subscription }} nicht genug {{ v_share_pl }} um weiter zu existieren. Falls du Hilfe brauchst
                um das Problem zu beheben wende dich an {{ c_info_email }}.
                {% endblocktrans %}
            {% else %}
                {% blocktrans%}Du bist Hauptabonnent, wende dich an {{ c_info_email }} um das anzupassen.{% endblocktrans %}
            {% endif %}
        </div>
    </div>
{% endblock %}
