 {% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h3>
        {% trans "Kündige deine Mitgliedschaft" %}
    </h3>
{% endblock %}

{% block content %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "share_pl" as v_share_pl %}
    {% config "enable_shares" as enable_shares %}
    <div class="row mb-3">
        <div class="col-md-12">
            {% block intro %}
                {% blocktrans trimmed %}
                Hier kannst du deine Mitgliedschaft bei {{ v_d_enriched_organisation }} kündigen.
                {% endblocktrans %}
                {% if coop_member %}
                    {% blocktrans trimmed with ed=end_date|date:"d.m.Y" %}
                    Der nächste reguläre Kündigungstermin ist der {{ ed }}.
                    {% endblocktrans %}
                {% endif %}
            {% endblock %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            {% if coop_member %}
                <ul class="list-unstyled">
                    <li>
                        {% trans "Du erhältst keine Emails mehr" %}
                    </li>
                    <li>
                        {% blocktrans %}Du wirst bei deinem/r {{ v_subscription }} ausgetragen{% endblocktrans %}
                    </li>
                    {% if enable_shares %}
                        <li>
                            {% blocktrans %}Deine {{ v_share_pl }} werden gekündigt{% endblocktrans %}
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul>
                    <li>
                        {% trans "Du erhältst keine Emails mehr" %}
                    </li>
                    <li>
                        {% blocktrans %}Du wirst bei deinem/r {{ v_subscription }} ausgetragen{% endblocktrans %}
                    </li>
                    <li>
                        {% trans "Dein Zugang wird deaktiviert" %}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            {% if can_cancel %}
               {%  crispy form %}
            {% else %}
                <div class="alert alert-danger">
                    {% blocktrans trimmed %}
                        Du kannst deine Mitgliedschaft aus folgenden Gründen noch nicht kündigen:
                    {% endblocktrans %}
                    <br>
                    {% if share_error %}
                        {% blocktrans trimmed %}
                        Deine {{ v_share_pl }} werden noch benötigt in einem Abo.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans%}Du bist noch in eine/r/m {{ v_subscription }} als BezieherIn eingetragen.{% endblocktrans %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
