{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    {% vocabulary "your_subscription_acc" as v_your_subscription_acc %}
    <h3>
        {% blocktrans %}Künde {{ v_your_subscription_acc }}{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% vocabulary "your_subscription_acc" as v_your_subscription_acc %}
    <form action="" method="POST" onsubmit="return confirm('{% blocktrans %}Möchtest du {{ v_your_subscription_acc }} verbindlich künden?{% endblocktrans %}')">
        {% csrf_token %}
        {% include 'juntagrico/my/subscription/snippets/card.html' with form_field=form.cancellation subscription=form.instance %}

        {{ form.comment|as_crispy_field }}
        <input type="submit" name="submit"
               value="{% blocktrans with v_subscription=vocabulary.subscription %}{{ v_subscription }} künden{% endblocktrans %}"
               class="btn btn-danger btn-lg">
    </form>
{% endblock %}
