{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Kontakt</h3>
{% endblock %}

{% block content %}
    {% config "organisation_address" as organisation_address%}
	{% if is_sent %}
        <div class="alert alert-success">Nachricht gesandt></div>
	{% else %}
    <br/>
    <form action="/my/contact" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-md-3">Absender</label>
            <div class="controls col-md-9 form-control-static">
                {{ usernameAndEmail }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Empfänger</label>
            <div class="controls col-md-9 form-control-static">
                {% config "info_email" %}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="subject">Betreff</label>
            <div class="controls col-md-9">
                <input type="text" name="subject" id="subject" placeholder="Betreff" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="message">Mitteilung</label>
            <div class="controls col-md-9">
                <textarea name="message" id="message" class="form-control" rows="12" placeholder="Hier Nachricht eingeben"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"></div>
            <div class="controls col-md-9">
                <div class="checkbox">
                    <label for="copy">
                        <input type="checkbox" name="copy" id="copy">
                        Kopie an mich
                    </label>
                </div>
            </div>
        </div>

        <div class="form-actions col-md-offset-3">
            <button type="submit" class="btn btn-success">Nachricht verschicken</button>
        </div>
    </form>
    {% endif %}
    <br/>
    <br/>
    {{ organisation_address.name }}
    <br/>
    {{ organisation_address.extra }}
    <br/>
    {{ organisation_address.street }} {{ organisation_address.number }}
    <br/>
    {{ organisation_address.zip }} {{ organisation_address.city }}
    <br/>
    {% config "info_email" %}
{% endblock %}
