{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    <h3>
        {% trans "Alle Lieferungen im Überblick" %}
    </h3>
{% endblock %}
{% block content %}
    {% include "snippets/snippet_delivery.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initDeliveries.js">
    </script>
{% endblock %}
