{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Depot ändern</h3>
{% endblock %}

{% block content %}
    {% if saved %}
        <div class="alert alert-success">
            !!!Achtung! Das Depot änderst erst bei der nächsten Depotlisten Generierung. Solange keine Email an {{member.subscription.primary_member.email}} mit der Bestätigung für das neue Depot gesendet wurde ist noch das alte Depot {{member.subscription.depot.name}} aktiv!!!<br/>
            <a href="/my/subscription">Zurück zur Abo-Übersicht</a>
        </div>
    {% else %}
        <form method="post" class="form-horizontal createsubscription">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-md-3" for="depot">Altes Depot</label>

                <div class="controls col-md-9">
                    {{ member.subscription.depot.name }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="depot">Neues Depot</label>

                <div class="controls col-md-9">
                    <select name="depot" id="depot" class="form-control">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas" ></div>
                </div>
            </div>
            <div class="col-md-offset-3 form-actions">
                Achtung! Das Depot änderst erst bei der nächsten Depotlisten Generierung. Du wirst darüber informiert wenn dein Depot ändert.<br/><br/>
                <button type="submit" class="btn btn-success">Depot ändern</button>
            </div>
        </form>

        <script>
            var depot_id = {{ member.subscription.depot.id }};
            var member_addr = '{{ member.addr_street }}+{{ member.addr_zipcode }}+{{ member.addr_location }}';

            var destinations = [];
            var depots = [];
            {% for depot in depots %}
                {% if depot.latitude %}
                    destinations.push("{{ depot.addr_street }}+{{ depot.addr_zipcode }}+{{ depot.addr_location }}")
                    depots.push({
                        name: '{{ depot.name }}',
                        addr_street: '{{ depot.addr_street }}',
                        addr_zipcode: '{{ depot.addr_zipcode }}',
                        addr_location: '{{ depot.addr_location }}',
                        latitude: '{{ depot.latitude }}',
                        longitude: '{{ depot.longitude }}',
                        code: '{{ depot.code }}'
                    });
                {% endif %}
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key={% config "google_api_key" %}"></script>
<script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initChangeDepot.js"></script>
{% endblock %}
