{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'juntagrico/external/leaflet/leaflet.css' %}" />
{% endblock %}
{% block page_title %}
    {% vocabulary "depot" as v_depot %}
    <h3>
        {% blocktrans %}{{ v_depot }} ändern{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "depot" as v_depot %}
    {% vocabulary "subscription" as v_subscription %}
    {% if saved %}
        {% if subscription.waiting %}
            <div class="alert alert-success">
                {% blocktrans %}Dein/e {{ v_depot }} wurde geändert.{% endblocktrans %}
        {% else %}
            <div class="alert alert-warning">
                {% include "juntagrico/my/depot/snippets/change_pending_info.html" %}
        {% endif %}
            <br/>
            <a href="{% url 'subscription-single' subscription.id %}">
                {% blocktrans %}Zurück zur {{ v_subscription }}-Übersicht{% endblocktrans %}
            </a>
        </div>
    {% else %}
        <form method="post" class="createsubscription">
            {% csrf_token %}
            <div class="form-group row">
                <label class="control-label col-md-3" for="depot">
                    {% blocktrans %}Alte/s/r {{ v_depot }}{% endblocktrans %}
                </label>
                <div class="controls col-md-9">
                    {{ subscription.depot.name }}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="depot">
                    {% blocktrans %}Neue/s/r {{ v_depot }}{% endblocktrans %}
                </label>
                <div class="controls col-md-9">
                    <label for="depot">
                        {% blocktrans %}Wähle 1 {{ v_depot }} aus als zukünftigen {{ v_subscription }}-Abholort. {% endblocktrans %}
                    </label>
                    {% include "juntagrico/snippets/depot/select.html" with selected=subscription.depot subscriptions=subscription.future_active %}
                </div>
            </div>
            <div class="depot-description form-group row">
                <div class="offset-md-3 col-md-9" id="depot-description-container">
                    {% include "juntagrico/snippets/depot/descriptions.html" %}
                </div>
            </div>
            <div class="depot-map form-group row">
                <div class="offset-md-3 col-md-9" id="map-container">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-9 alert alert-info">
                    {% blocktrans trimmed %}
                    Achtung! Hiermit sendest du erst eine Anfrage für die Änderung. Du wirst
                    darüber informiert wenn dein/e {{ v_depot }} sich ändert.
                    {% endblocktrans %}
                </div>
            </div>
            <div class="form-group row">
            <div class="offset-md-3 form-actions">
                <button type="submit" class="btn btn-success">
                    {% blocktrans %}{{ v_depot }} ändern{% endblocktrans %}
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ subscription.depot.name|json_script:'selected_depot' }}
    {{ depots.map_info|json_script:'depots' }}
    {% include 'snippets/scripts/leaflet.html' %}
    <script type="text/javascript" src="{% static 'juntagrico/external/require.min.js' %}" data-main="{% static 'juntagrico/js/initChangeDepot.js' %}">
    </script>
{% endblock %}
