{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block styles %}
    <link rel="stylesheet" href="/static/external/leaflet/leaflet.css" />
{% endblock %}
{% block page_title %}
    {% vocabulary "depot" as v_depot %}
    <h3>
        {% blocktrans %}{{ v_depot }} ändern{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "depot" as v_depot %}
    {% vocabulary "subscription" as v_subscription %}
    {% if saved %}
        <div class="alert alert-success">
            {% if subscription.state == 'waiting' %}
                {% blocktrans %}Dein/e {{ v_depot }} wurde geändert.{% endblocktrans %}
            {% else %}
                {% blocktrans trimmed with spe=subscription.primary_member.email sde=subscription.depot.name%}
                !!!Achtung! Dein/e {{ v_depot }} änderst erst bei der nächsten {{ v_depot }}-Listen Generierung.
                Solange keine Email an {{ spe }}
                mit der Bestätigung für dein/e/n neue/s/n {{ v_depot }} gesendet wurde ist noch dein/e/n alte/s/n {{ v_depot }}
                {{ sde }} aktiv!!!
                {% endblocktrans %}
            {% endif %}
            <br/>
            <a href="{% url 'sub-detail-id' subscription.id %}/">
                {% blocktrans %}Zurück zur {{ v_subscription }}-Übersicht{% endblocktrans %}
            </a>
        </div>
    {% else %}
        <form method="post" class="createsubscription">
            {% csrf_token %}
            <div class="form-group row">
                <label class="control-label col-md-3" for="depot">
                    {% blocktrans %}Alte/s/r {{ v_depot }}{% endblocktrans %}
                </label>
                <div class="controls col-md-9">
                    {{ subscription.depot.name }}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="depot">
                    {% blocktrans %}Neue/s/r {{ v_depot }}{% endblocktrans %}
                </label>
                <div class="controls col-md-9">
                    <select name="depot" id="depot" class="form-control">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">
                                {{ depot.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="depot">
                        {% blocktrans %}Wähle 1 {{ v_depot }} aus als zukünftiger {{ v_subscription }}-Abholort. {% endblocktrans %}
                    </label>
                    {% if requires_map %}
                        <div style="height: 20rem" id="depot-map">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="offset-md-3 form-actions">
                {% blocktrans trimmed %}
                Achtung! Dein/e {{ v_depot }} änderst erst bei der nächsten {{ v_depot }}listen Generierung. Du wirst
                darüber informiert wenn dein/e {{ v_depot }} ändert.
                {% endblocktrans %}
                <br/>
                <br/>
                <button type="submit" class="btn btn-success">
                    {% blocktrans %}{{ v_depot }} ändern{% endblocktrans %}
                </button>
            </div>
        </form>
        <script>
            var depot_id = {{ subscription.depot.id }}
            var depots = [];
            {% for depot in depots %}
                {% if depot.has_geo %}
                    depots.push(
                    {name: '{{ depot.name }}',
                    addr_street: '{{ depot.addr_street }}',
                    addr_zipcode: '{{ depot.addr_zipcode }}',
                    addr_location: '{{ depot.addr_location }}',
                    latitude: '{{ depot.latitude }}',
                    longitude: '{{ depot.longitude }}',
                    code: '{{ depot.code }}'
                    });
                {% endif %}
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js"data-main="/static/js/initChangeDepot.js">
    </script>
{% endblock %}
