{% extends "base.html" %}
{% load config %}
{% block page_title %}
        <h3>Depot {{ depot.name }}</h3>
{% endblock %}

{% block content %}
    <div id="depot">

        <div class="row">
        </div>
        <dl class="dl-horizontal">
            <dt>Adresse</dt>
            <dd>{{ depot.addr_street }}<br/>{{ depot.addr_zipcode }} {{ depot.addr_location }}</dd>
            <dt>Wochentag</dt>
            <dd>{{ depot.get_weekday_display }}</dd>
            <dt>Kontaktperson</dt>
            <dd>{{ depot.contact.first_name }} {{ depot.contact.last_name }} <a href="mailto:{{ depot.contact.email }}">{{ depot.contact.email }}</a></dd>
            {% if depot.description %}
            <dt>Beschreibung</dt>
            <dd>{{ depot.description | linebreaksbr }}</dd>
            {% endif %}
        </dl>
        <div id="map-canvas">
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        var depot = {
            longitude: '{{ depot.longitude }}',
            latitude: '{{ depot.latitude }}',
            name: '{{ depot.name }}',
            addr_street: '{{ depot.addr_street }}',
            addr_zipcode: '{{ depot.addr_zipcode }}',
            addr_location: '{{ depot.addr_location }}'
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initDepot.js"></script>
{% endblock %}
