{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Exporte</h3>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-3">
            {% vocabulary "member_pl" %}
        </div>
        <div class="col-md-9">
            <a href="/my/export/members/">exportieren</a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            {% vocabulary "member_pl" %} mit {% vocabulary "assignment_pl" %} und Tätigketsbereichen
        </div>
        <div class="col-md-9">
            <a href="/my/export/membersfilter">exportieren</a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            {% vocabulary "share_pl" %}
        </div>
        <div class="col-md-9">
            <a href="/my/export/shares">exportieren</a>
        </div>
    </div>
{% endblock %}



