{% extends "base.html" %}
{% load config %}
{% block page_title %}
        <h3>Exporte</h3>
{% endblock %}

{% block content %}
    <div id="depot">
            <br/>
            {% config "members_string" %}
            <a href="/my/export/members/">exportieren</a>
            <br/><br/>
            {% config "members_string" %} mit {% config "assignments_string" %} und Tätigketsbereichen
            <a href="/my/export/membersfilter">exportieren</a>
            <br/><br/>
            Anteilsscheine
            <a href="/my/export/shares">exportieren</a>
        </div>
    </div>
{% endblock %}



