{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    <h3>
        {% trans "Zusatz-Abos ändern" %}
    </h3>
{% endblock %}
{% block content %}
    <b>{% trans "Übersicht" %}</b>
    {% if extras|length == 0 %}
        {% trans "Du hast noch keine Zusatz-Abos" %}
    {% else %}
        <div>
            <table id="filter-table" class="table" style="display: table;">
                <thead>
                    <tr>
                        <th>
                            {% trans "Abo" %}
                        </th>
                        <th>
                            {% trans "Status" %}
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for extra in extras %}
                        <tr>
                            <td>
                                {{ extra.type.name }}
                            </td>
                            <td>
                                {{ extra.state }}
                            </td>
                            <td>
                                {% if not extra.canceled and extra.deactivation_date is None and extra.can_cancel %}
                                    <a href="{% url 'extra-cancel' extra.id sub_id %}"class="btn btn-success">
                                        {% trans "kündigen" %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="row mt-3 mb-3">
        <b class="col-md-12">{% trans "Extra-Abos bestellen" %}</b>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            {% for type in types %}
                <div class="col-md-3">
                    <input type="number" name="extra{{ type.id }}" class="form-control" value="0" min="0"/>
                </div>
                <div class="col-md-9">
                    {{ type.name }}
                    <br/>
                    {{ type.description|linebreaksbr|urlize }}
                    <br/>
                    {% for period in type.periods.all %}
                        {{ period.start_day }}.{{ period.start_month }}. - {{ period.end_day }}.{{ period.end_month }}.
                        {{ period.price }} {% config "currency" %}
                        <br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="form-actions ">
            <button type="submit" class="btn btn-success">
                {% trans "Extra-Abos bestellen" %}
            </button>
        </div>
    </form>
    <script>
    </script>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/bootstrap-input-spinner.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initChangeExtra.js">
    </script>
{% endblock %}
