{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Zusatz-Abos ändern</h3>
{% endblock %}

{% block content %}
    {% if saved %}
        <div class="alert alert-success">
            Die Zusatz-Abos wurden erfolgreich geändert.<br/>
            <a href="/my/subscription">Zurück zur Abo-Übersicht</a>
        </div>
    {% else %}
        <br/>
        <form method="post" class="form-horizontal createsubscription">
            {% csrf_token %}
            <div class="form-group">
                    {% for extra in extras %}
                    <label class="control-label col-md-3" for="depot">
                    {% if forloop.first %}    
                        Deine Abos
                    {% endif %}
                    </label>
                    <div class="controls col-md-9">
                        <div class="checkbox">
                            <label for="subscription{{ extra.id }}" class="control-label col-md-2">
                                <input type="checkbox" value="{{ extra.id }}" name="subscription{{ extra.id }}" class="onoffswitch" id="subscription{{ extra.id }}" {% if extra.selected %}checked="checked"{% endif %} />
                            </label>
                            <label for="subscription{{ extra.id }}" class="control-label col-md-7">
                                {{ extra.name }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-actions col-md-offset-4">
                <button type="submit" class="btn btn-success">Extra-Abos ändern</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
