{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Hier siehst du die Zukunft {% enriched_organisation "G" %}</h3>
{% endblock %}

{% block content %}

    <div>Wenn jetzt alle gewünschten Änderungen der {% config "members_string" %} in Kraft treten würden, dann hätte {% enriched_organisation "N" %} die folgenden Abos und Zusatzabos.</div>

    <table class="future">
        <tr>
            <th></th>
            <th>Aktuell</th>
            <th>Zukunft</th>
        </tr>
        {% for line in subscription_lines %}
        <tr>
            <td>{{ line.name }}</td>
            <td>{{ line.now }}</td>
            <td>{{ line.future }}</td>
        </tr>
        {% endfor %}
        {% for line in extra_lines %}
        <tr>
            <td>{{ line.name }}</td>
            <td>{{ line.now }}</td>
            <td>{{ line.future }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
{% endblock %}
