{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block content %}
    <h3>
        {% trans "Aktuelle Arbeitseinsätze" %}
    </h3>
    <div class="row mb-3">
        <div class="col-md-12">
            {% include "snippets/snippet_jobs.html" %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <a href="{% url 'jobs' %}">
                {% trans "Hier alle Arbeitseinsätze anzeigen" %}
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <h4>
                {% trans "Zu den Kalendern der einzelnen Tätigkeitsbereiche" %}
            </h4>
        </div>
    </div>
    {% for area in areas %}
        <div class="row mb-1">
            <div class="col-md-12">
                <a href="{% url 'area' area.id %}" class="{% if area.core %}core{% endif %}">
                    {{ area.name }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initHomeJobs.js">
    </script>
{% endblock %}
