{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.common %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/juntagrico/external/datatables.min.css"/>
{% endblock %}
{% block content %}
    {% hook 'home' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/juntagrico/external/datatables.min.js">
    </script>
    <script type="text/javascript" src="/static/juntagrico/external/require.min.js" data-main="/static/juntagrico/js/initHomeJobs.js">
    </script>
{% endblock %}
