{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>{{ job.type.name }}</h3>
{% endblock %}

{% block content %}

    {% if job_canceled %}
        <div class="alert alert-danger">Der Job wurde abgesagt! Entschuldige die Umstände. Aber es gibt immer <a href="/my/assignments" style="text-decoration: underline">viel zu tun</a>...</div>
    {% elif job_fully_booked %}
        <div class="alert alert-success">Der Job ist ausgebucht, danke! Aber es gibt immer <a href="/my/assignments" style="text-decoration: underline">viel zu tun</a>...</div>
    {% elif job_is_in_past %}
        <div class="alert alert-success">Der Job hat schon angefangen! Aber es gibt immer <a href="/my/assignments" style="text-decoration: underline">viel zu tun</a>...</div>
    {% elif job_is_running %}
        <div class="alert alert-success">Der Job ist schon vorbei! Aber es gibt immer <a href="/my/assignments" style="text-decoration: underline">viel zu tun</a>...</div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">Zeitpunkt:</div>
        <div class="col-md-5">
            {{ job.time |date:"l, d.m.Y, H:i" }} - {{ job.end_time|date:"H:i" }} <br>
            {% if job_is_in_past %}
            (vor {{ job.end_time|timesince }})
            {% elif job_is_running %}
            (seit {{ job.time|timesince }})
            {% else %}
            (in {{ job.time|timeuntil }})
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">Status:</div>
        <div class="col-md-5">
            {% for i in slotrange %}
                {% if i < number_of_participants %}
                    <img class="jobstatus" src="{% images "single_full" %}" title="{{ number_of_participants }} von {{ job.slots }} gebucht"/>
                {% else %}
                    <img class="jobstatus" src="{% images "single_empty" %}" title="{{ number_of_participants }} von {{ job.slots }} gebucht"/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br/>
    {% if job.multiplier != 1 %}
    <div class="row">
        <div class="col-md-3">{% config "assignments_string" %}:</div>
        <div class="col-md-5">
            Du erhälst für diesen Job das {{ job.multiplier }} fachen an {% config "assignments_string" %} gutgeschrieben.
        </div>
    </div>
    <br/>
    {% endif %}
    {% if job.extras.strip %}
    <div class="row">
        <div class="col-md-3">Extras:</div>
        <div class="col-md-5">
            {% for extra in job.empty_per_job_extras %}
                {{ extra.extra_type.display_empty|safe }}
            {% endfor %}
            {% for extra in job.full_per_job_extras %}
                {{ extra.extra_type.display_full|safe }}
            {% endfor %}
        </div>
    </div>
    <br/>
    {% endif %}
    <div class="row">
        <div class="col-md-3">Ort:</div>
        <div class="col-md-5">
            {{ job.type.location }}
            (<a href="https://www.google.ch/maps/place/{{ job.type.location }}" target="_blank">Karte</a>)
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">Beschreibung:</div>
        <div class="col-md-5">{{ job.type.description }}</div>
    </div>
    <br/>
    {% if admin %}
    <div class="row">
        <div class="col-md-3">Kontaktieren:</div>
        <div class="col-md-5">
            <form id="email-sender" action="/my/mails" method="POST">
                {% csrf_token %}
                <input type="hidden" name="recipients" id="recipients" value="{{emails}}"/>
                <input type="hidden" name="recipients_count" id="recipients_count" value="{{number_of_participants}}"/>
                <button type="submit" class="btn" id="send-email">Allen eine Email senden</button>
            </form>
            <br/>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">Dabei sind:</div>
        <div class="col-md-5">
            {% if number_of_participants == 0 and not job_fully_booked %}
                Noch niemand :-(
            {% else %}
                <ul>
                    {% for participant, comments, url, reachable, extras in participants_summary %}
                        <li>
                            <a class="job-participant" member-id="{{ participant }}" href="#">
                                {{ participant }}
                            </a>
                            {{extras|safe}}
							{% if reachable %}
								&nbsp;<a href="{{url}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
							{% endif %}
                            <br>
                            {% for comment in comments %}
                                <span class="member-job-comments">Hinweis: {{ comment }}</span>
                                <br>
                            {% endfor %}
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <br/>
    {% if can_subscribe %}
        <div class="row">
            <div class="col-md-3">Ich trage mich ein:</div>
            <div class="col-md-5">
                <form action=""
                    method="POST"
                    class="form-inline"
                    onsubmit="return confirm('Möchtest du dich sicher für diesen Job verbindlich eintragen?')">
                    {% csrf_token %}
                    {% if allowed_additional_participants|length > 1 %}
                        <div>
                            <select name="jobs" class="form-control">
                                {% for i in allowed_additional_participants %}
                                    {% if i == 1 %}
                                        <option value="1">Unbegleitet</option>
                                    {% elif i == 2 %}
                                        <option value="2">Zu Zweit</option>
                                    {% elif i == 3 %}
                                        <option value="3">Zu Dritt</option>
                                    {% elif i == 4 %}
                                        <option value="4">Zu Viert</option>
                                    {% elif i < 16 %}
                                        <option value="{{ i }}">{{ i|add:"-1" }} weitere Personen und ich</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                    {% else %}
                        <input type="hidden" name="jobs" value="1">
                    {% endif %}
                    {% for extra in job.empty_per_job_extras %}
                        <input type="checkbox" name="extra{{ extra.extra_type.id }}" value="{{ extra.extra_type.id }}" /> {{ extra.extra_type.name }}<br/>
                    {% endfor %} 
                    {% for extra in job.per_member_extras %}
                        <input type="checkbox" name="extra {{ extra.extra_type.id }}" value="{{ extra.extra_type.id }}"  /> {{ extra.extra_type.name }}<br/>
                    {% endfor %} 
                    <div>
                        <button type="submit" class="btn btn-success">Bestätigen</button>
                    </div>
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
