{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>
        {% trans "Alle Einsätze im Überblick" %}
    </h3>
{% endblock %}
{% block content %}
    <div id="jobs">
        {% include "snippets/snippet_jobs.html" with show_free_slot_filter=True %}
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/datatables/datatables.min.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'juntagrico/external/require.min.js' %}" data-main="{% static 'juntagrico/js/initJobs.js' %}">
    </script>
{% endblock %}
