{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Alle {% config "members_string" %} im Überblick</h3>
{% endblock %}

{% block content %}
    <style>
        body > .container {
            width: 95%;
        }
    </style>
        <form id="email-sender" action="/my/mails{% if enhanced %}/{{ enhanced }}{% endif %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="recipients" id="recipients"/>
        <input type="hidden" name="recipients_count" id="recipients_count"/>
        {% if can_send_mails %}
        <button type="submit" class="btn btn-success" id="send-email">Email senden</button>
        {% endif %}
    </form>
    <div id="filter">
        <table id="filter-table" class="list table" style="display: table;">
            <thead>
            <tr>
                <th>Name</th>
                <th>{% config "assignments_string" %}</th>
                {% if show_core %}<th>{% config "assignments_string" %} Kernbereich</th>{% endif %}
                <th>Taetigkeitsbereiche</th>
                <th>Depot</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Mobile</th>
                <th>Abo</th>
            </tr>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>{% config "assignments_string" %}</th>
                {% if show_core %}<th>{% config "assignments_string" %} Kernbereich</th>{% endif %}
                <th>Taetigkeitsbereiche</th>
                <th>Depot</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Mobile</th>
                <th>Abo</th>
            </tr>
            </tfoot>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>
                    {% if operation_group %}
                    <a href="/impersonate/{{ member.user.id}}" target="__blank">
                    {% endif %}
                    {{ member.first_name }} {{ member.last_name }}                    
                    {% if operation_group %}
                    </a>
                    {% endif %}
                    </td>
                    <td>{{ member.assignment_count }}</td>
                    {% if show_core %}<td>{{ member.core_assignment_count }}</td>{% endif %}
                    <td>
                        {% for area in member.areas.all %}
                            {{ area.name }},
                        {% empty %}
                            -Kein Tätigkeitsbereich-
                        {% endfor %}
                    </td>
                    <td>{{ member.subscription.depot.name }}</td>
                    <td class="email">{{ member.email }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.mobile_phone }}</td>
                    <td>{% if member.subscription != None and member.subscription.active %}
			{{ member.subscription.overview }}
			{% else %}
			Kein Abo
			{% endif %}
		</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>
    <script>
            var member_string = "{% config "member_string" %}";
            var members_string = "{% config "members_string" %}";            
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMembers.js"></script>
{% endblock %}
