{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block body_extra_classes %}wide-layout{% endblock %}
{% block page_title %}
    {% vocabulary "member_pl" as v_member_pl %}
    <h3>
        {% blocktrans %}Alle {{ v_member_pl }} im Überblick{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "assignment_pl" as v_assignment_pl %}
    <form id="email-sender" action="{% if mail_url %}{% url mail_url %}{% else %}{% url 'mail' %}{% endif %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="recipients" id="recipients"/>
        <input type="hidden"name="recipients_count"id="recipients_count"/>
        {% if can_send_mails %}
            <button type="submit" class="btn btn-success" id="send-email">
                {% trans "Email senden" %}
            </button>
        {% endif %}
    </form>
    <div id="filter">
        <table id="filter-table" class="list table" style="display: table;">
            <thead>
                <tr>
                    <th>
                        {% trans "Name" %}
                    </th>
                    <th>
                        {% vocabulary "assignment_pl" %}
                    </th>
                    {% if show_core %}
                        <th>
                            {% blocktrans %}{{ v_assignment_pl }} Kernbereich{% endblocktrans %}
                        </th>
                    {% endif %}
                    <th>
                        {% trans "Taetigkeitsbereiche" %}
                    </th>
                    <th>
                        {% vocabulary "depot" %}
                    </th>
                    <th>
                        {% trans "Email" %}
                    </th>
                    <th>
                        {% trans "Telefon" %}
                    </th>
                    <th>
                        {% trans "Mobile" %}
                    </th>
                    <th>
                        {% trans "Abo" %}
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        {% trans "Name" %}
                    </th>
                    <th>
                        {% vocabulary "assignment_pl" %}
                    </th>
                    {% if show_core %}
                        <th>
                            {% blocktrans %}{{ v_assignment_pl }} Kernbereich{% endblocktrans %}
                        </th>
                    {% endif %}
                    <th>
                        {% trans "Taetigkeitsbereiche" %}
                    </th>
                    <th>
                        {% vocabulary "depot" %}
                    </th>
                    <th>
                        {% trans "Email" %}
                    </th>
                    <th>
                        {% trans "Telefon" %}
                    </th>
                    <th>
                        {% trans "Mobile" %}
                    </th>
                    <th>
                        {% trans "Abo" %}
                    </th>
                </tr>
            </tfoot>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            {% if operation_group %}
                                <a href="/impersonate/{{ member.user.id }}" target="__blank">
                                {% endif %}
                                {{ member.first_name }} {{ member.last_name }}
                                {% if operation_group %}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if member.assignment_count %}
                            N%-{% if member.assignment_count >= 1 and member.assignment_count < 10 %}0{% endif %}{{ member.assignment_count|floatformat }}
                            {% else %}
                            N%-0
                            {% endif %}

                        </td>
                        {% if show_core %}
                            <td>
                            {% if member.core_assignment_count %}
                            C%-{% if member.core_assignment_count >= 1 and member.core_assignment_count < 10 %}0{% endif %}{{ member.core_assignment_count|floatformat }}
                            {% else %}
                            C%-0
                            {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% for area in member.areas.all %}
                                {{ area.name }},
                                {% empty %}
                                -Kein Tätigkeitsbereich-
                            {% endfor %}
                        </td>
                        <td>
                            {{ member.subscription.depot.name }}
                        </td>
                        <td class="email">
                            {{ member.email }}
                        </td>
                        <td>
                            {{ member.phone }}
                        </td>
                        <td>
                            {{ member.mobile_phone }}
                        </td>
                        <td>
                            {% if member.subscription != None and member.subscription.active %}
                                {{ member.subscription.overview }}
                            {% else %}
                                Kein {% vocabulary "subscription" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <script>
        var email_string = "{% trans "Email senden" %}";
        var send_string = "{% trans "senden" %}";
        var email_single_string = "{% trans "Email an diesen" %}";
        var email_multi_string = "{% trans "Email an diese" %}"
        var member_string = "{% vocabulary "member" %}";
        var members_string = "{% vocabulary "member_pl" %}";
    </script>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMembers.js">
    </script>
{% endblock %}
