{% extends "mybase.html" %}

{% block content %}
    {% block message %} {% endblock %}
    {% if no_subscription %}
        <div class="alert alert-warning">Du hast kein Abo</div>
        <br/><br/>
    {% endif %}

    {% autoescape off %}
        {{ announcement }}
    {% endautoescape %}
    <h3>Aktuelle Arbeitseinsätze</h3>
    <table class="jobs">
        {% for job in jobs %}
            <tr class="{% if job.status == "circle_full.png" %}full{% endif %}">
                <td class="date">{{ job.time |date:"d.m H:i" }}</td>
                <td><a href="/my/jobs/{{ job.id }}" class="{% if job.canceled %}canceled {% endif %}{% if job.is_core %}core {% endif %}">{{ job.typ.name }}</a></td>
                <td class="status"><img alt="Job-Status: {{ job.get_status_percentage }}" src="/static/img/{{ job.get_status_percentage }}"/></td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="/my/einsaetze">Hier alle Arbeitseinsätze anzeigen</a>
    <br/><br/><br/>
    <h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}" class="{% if team.core %}core {% endif %}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
