{% extends "no_menu_base.html" %}
{% load i18n %}
{% load config %}
{% block allcontent %}
    <div class="offset-md-3 col-md-6">
        {% if sent %}
            <div class="alert alert-success mb-3">
                {% trans "Das Passwort wurde neu gesetzt und dir zugeschickt, falls es diese Email im System gibt." %}
                <a href="{% url 'login' %}">
                    {% trans "Andernfalls empfehlen wir dir dich hier anzumelden" %}
                </a>
            </div>
        {% else %}
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="control-label col-md-4" for="username">
                        {% trans "Email" %}
                    </label>
                    <div class="controls col-md-8">
                        <input type="text" class="form-control" name="username" id="username"placeholder="{% trans "Email-Adresse" %}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-4 col-md-8">
                        <button type="submit" class="btn btn-success">
                            {% trans "Neues Passwort zusenden" %}
                        </button>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </form>
        {% endif %}
    </div>
{% endblock %}
