{% extends "base.html" %}
{% load config %}

{% block allcontent %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if sent %}
                <div class="alert alert-success">Das Passwort wurde neu gesetzt und dir zugeschickt, falls es diese Email im System gibt. Andernfalls empfehlen wir dir dich <a href="/accounts/login">hier anzumelden</a></div>
            {% else %}
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <br/><br/>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="username">Email</label>
                        <div class="controls col-md-8">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Email-Adresse">
                        </div>
                    </div>
                    <div class="form-actions col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-success">Neues Passwort zusenden</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next|escape }}"/>
                </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
