{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Anteilscheine bestellen</h3>
{% endblock %}
{% block content %}
        Bestelle hier mehr Anteislscheine.
        <br/><br/>

        <form action="" method="post" class="form-horizontal">
            <input type="hidden" value="{{ referer }}" name="referer"/>
            {% csrf_token %}      
            <div class="form-group">
                <label class="col-md-3 control-label">Anteilscheine</label>

                <div class="col-md-9 controls">
                    <label for="shares">

                        <input type="text" name="shares" id="shares" class="col-md-1 form-control"/><br/>
                        
                    </label>
                    {% if shareerror %}
                        <div class="alert alert-danger">Deine Eingabe ist ungültig</div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-offset-4 form-actions">
                <button type="submit" class="btn btn-success">bestellen</button>
            </div>
        </form>
        

{% endblock %}