{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            {% trans "Deine Anteilsscheine wurden bestellt, bitte bezahle sie and die untenstehende Bankverbindung" %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            {% config "organisation_address" as addr %} {{ addr.name }}
            <br/>
            {% if addr.extra %}
                {{ addr.extra }}
                <br/>
            {% endif %}
            {{ addr.street }} {{ addr.number }}
            <br/>
            {{ addr.zip }} {{ addr.city }}
            <br/>
            {% config "organisation_bank_connection" as bank %} {{ bank.NAME }}
            <br/>
            Postkonto-Nummer: {{ bank.PC }}
            <br/>
            IBAN: {{ bank.IBAN }}
            <br/>
            BIC: {{ bank.BIC }}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            {% trans "Solltest du Fragen dazu haben sende eine Email an" %}
            <ahref="mailto:{% config "info_email" %}?subject={% trans "Frage zu unbezahltem Anteilsschein" %} {% config "server_url" %}">
                {% config "info_email" %}
            </a>
            .
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <a href="{{ referer }}" class="btn btn-success">
                {% trans "zurück" %}
            </a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
