{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Mitarbeit</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            Als {% config "organisation_name" %}-GemüsekonsumentIn verpflichtet sich jedeR, im Rahmen der eigenen Motivationen, Prioritäten und
            Möglichkeiten gemeinsam zum Gelingen des Betriebes beizutragen. <br/><br/>
            <a href="/my/assignments">Hier gehts zu den Arbeitseinsätzen</a><br/><br/>
            <a href="/my/pastjobs">Zu deinen bisherigen Einsätzen</a><br/><br/>
            Alle wählen zwei Tätigkeitsbereiche, in denen sie regelmässig mitarbeiten und Verantwortung übernehmen.
            <br/><br/>
            Infos zu den Tätigkeitsbereichen erhältst du im <a target="_blank" href="{% config "activity_area_info" %}">Infoblatt</a>.
            <br/><br/>
            <form action="/my/participation" method="post">
                {% csrf_token %}
                {% if show_core %}<div class="row">
                    <div class="col-md-4">
                        Kernbereiche: <img alt="core_area" title="core_area" class="jobstatus" src="{% images "core" %}"/>
                    </div>
                    <div class="col-md-4">
                        Koordiniert von:
                    </div>
                </div>
                {% for area in areas %}
                    {% if area.core %}
                    <div class="row">
                        <div class="col-md-1">
                            <div class="checkbox">
                                  <input type="checkbox" class="onoffswitch" name="area{{ area.id }}" {% if area.checked %}checked="checked"{% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                  {{ area.name }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            {{ area.coordinator.first_name }} {{ area.coordinator.last_name }}<br/>
                            {% if area.email is not None%}
                            <a href="mailto:{{ area.email }}">{{ area.email }}</a>
                            {% else %}
                            <a href="mailto:{{ area.coordinator.email }}">{{ area.coordinator.email }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <br/>{% endif %}
                <div class="row">
                    <div class="col-md-4">
                        Weitere Bereiche:
                    </div>
                    <div class="col-md-8">
                        Koordiniert von:
                    </div>
                </div>
                {% for area in areas %}
                    {% if not area.core %}
                    <div class="row">
                        <div class="col-md-1">
                            <div class="checkbox">
                                  <input type="checkbox" class="onoffswitch" name="area{{ area.id }}" {% if area.checked %}checked="checked"{% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                  {{ area.name }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            {{ area.coordinator.first_name }} {{ area.coordinator.last_name }}<br/>
                             {% if area.email is not None%}
                            <a href="mailto:{{ area.email }}">{{ area.email }}</a>
                            {% else %}
                            <a href="mailto:{{ area.coordinator.email }}">{{ area.coordinator.email }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% if success %}
                    <br/>
                    <div class="alert alert-success">Tätigkeitsbereiche erfolgreich geändert</div>
                {% endif %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Tätigkeitsbereiche ändern</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
