{% extends "mybase.html" %}

{% block content %}
    <h3>Mitarbeit</h3>
    <div class="row">
        <div class="col-md-12">
            Als {{ config organisation_name }}-GemüsekonsumentIn verpflichtet sich jedeR, im Rahmen der eigenen Motivationen, Prioritäten und
            Möglichkeiten gemeinsam zum Gelingen des Betriebes beizutragen. <br/><br/>
            <a href="/my/einsaetze">Hier gehts zu den Arbeitseinsätzen</a><br/><br/>
            <a href="/my/vergangenejobs">Zu deinen bisherigen Einsätzen</a><br/><br/>
            Alle wählen zwei Tätigkeitsbereiche, in denen sie regelmässig mitarbeiten und Verantwortung übernehmen.
            <br/><br/>
            Infos zu den Tätigkeitsbereichen erhältst du im <a target="_blank" href="{{ config activity_area_info }}">Infoblatt</a>.
            <br/><br/>
            <form action="/my/mitarbeit" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <h4>Kernbereiche: <img alt="Kernbereich" title="Kernbereich" class="jobstatus" src="/static/img/circle_full_core.png"/></h4>
                    </div>
                    <div class="col-md-4">
                        <h5>Koordiniert von:</h5>
                    </div>
                </div>
                {% for area in areas %}
                    {% if area.core %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="area{{ area.id }}" {% if area.checked %}checked="checked"{% endif %}>
                                  {{ area.name }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {{ area.coordinator.first_name }} {{ area.coordinator.last_name }}<br/><a href="mailto:{{ area.coordinator.email }}">{{ area.coordinator.email }}</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Weitere Bereiche: <img alt="anderer Tätigkeitsbereich" title="anderer Tätigkeitsbereich" class="jobstatus" src="/static/img/circle_full.png"/></h4>
                    </div>
                    <div class="col-md-8">
                        <h5>Koordiniert von:</h5>
                    </div>
                </div>
                {% for area in areas %}
                    {% if not area.core %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="area{{ area.id }}" {% if area.checked %}checked="checked"{% endif %}>
                                  {{ area.name }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {{ area.coordinator.first_name }} {{ area.coordinator.last_name }}<a href="mailto:{{ area.coordinator.email }}"></a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% if success %}
                    <br/>
                    <div class="alert alert-success">Tätigkeitsbereiche erfolgreich geändert</div>
                {% endif %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Tätigkeitsbereiche ändern</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
