{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Passwort ändern</h3>
{% endblock %}

{% block content %}
    {% if success %}
        <div class="alert alert-success">Passwort erfolgreich geändert</div>
    {% else %}
        <form action="/my/password" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if form.password.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="password">Passwort</label>
                <div class="controls col-md-8">
                    <input type="password" class="form-control" name="password" id="password">
                </div>
            </div>
            {% if form.password.errors %}
                <div class="alert alert-danger">Passwort ungültig</div>
            {% endif %}
            <div class="form-group {% if form.passwordRepeat.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="passwordRepeat">Passwort (wiederholung)</label>

                <div class="controls col-md-8">
                    <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat">
                </div>
            </div>
            {% if form.passwordRepeat.errors %}
                <div class="alert alert-danger">Passwortwiederholung ungültig</div>
            {% endif %}
            <div class="form-actions col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-success">Passwort ändern</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
