{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}Haupt-{{ v_subscription }}-BezieherIn ändern{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "member" as v_member %}
    {% vocabulary "co_member_pl" as v_co_member_pl %}
    {% if has_comembers %}
    <form method="post" class="createsubscription">
            {% csrf_token %}
            <div class="form-group row">
                <label class="control-label col-md-3" for="primary">
                    {% blocktrans %}Neue/r Haupt-{{ v_subscription }}-BezieherIn{% endblocktrans %}
                </label>
                <div class="controls col-md-9">
                    <select name="primary" id = "primary" class="form-control">
                        {% for member in co_members %}
                            <option value="{{ member.id }}">
                                {{ member }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="primary">
                        {% blocktrans %}Wähle 1 {{ v_member }} als zukünftige/n Haupt-{{ v_subscription }}-BezieherIn aus. {% endblocktrans %}
                    </label>
                </div>
            </div>
            <div class="offset-md-3 form-actions">
                <button type="submit" class="btn btn-success">
                    {% blocktrans %}ändern{% endblocktrans %}
                </button>
            </div>
        </form>
    {% else %}
         <div class="alert alert-warning">
                {% blocktrans%}
                Leider kann niemand deiner {{ v_co_member_pl }} Haupt-{{ v_subscription }}-BezieherIn werden.
                {% endblocktrans %}
            <br/>
            <a href="{% url 'sub-detail-id' subscription.id %}">
                {% blocktrans %}Zurück zur {{ v_subscription }}-Übersicht{% endblocktrans %}
            </a>
        </div>
    {% endif %}
{% endblock %}
