{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Personalien ändern</h3>
{% endblock %}

{% block content %}
    {% if success %}
        <div class="alert alert-success">Personalien erfolgreich geändert</div>
    {% else %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if memberform.first_name.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_first_name">Vorname</label>

                <div class="controls col-md-8">
                    {{ memberform.first_name }}
                </div>
            </div>
            {% if memberform.first_name.errors %}
                <div class="alert alert-danger">Vorname ungültig</div>
            {% endif %}

            <div class="form-group {% if memberform.last_name.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_last_name">Nachname</label>

                <div class="controls col-md-8">
                    {{ memberform.last_name }}
                </div>
            </div>
            {% if memberform.last_name.errors %}
                <div class="alert alert-danger">Nachname ungültig</div>
            {% endif %}

            <div class="form-group {% if memberform.addr_street.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_addr_street">{{ memberform.addr_street.label }}</label>

                <div class="controls col-md-8">
                    {{ memberform.addr_street }}
                </div>
            </div>
            {% if memberform.addr_street.errors %}
                <div class="alert alert-danger">Strasse ungültig</div>
            {% endif %}

            <div class="form-group {% if memberform.addr_zipcode.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_addr_zipcode">{{ memberform.addr_zipcode.label }}</label>

                <div class="controls col-md-8">
                    {{ memberform.addr_zipcode }}
                </div>
            </div>
            {% if memberform.addr_zipcode.errors %}
                <div class="alert alert-danger">PLZ ungültig</div>
            {% endif %}

            <div class="form-group {% if memberform.addr_location.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_addr_location">{{ memberform.addr_location.label }}</label>

                <div class="controls col-md-8">
                    {{ memberform.addr_location }}
                </div>
            </div>
            {% if memberform.addr_location.errors %}
                <div class="alert alert-danger">Ort ungültig</div>
            {% endif %}

            <div class="form-group {% if memberform.phone.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_phone">{{ memberform.phone.label }}</label>

                <div class="controls col-md-8">
                    {{ memberform.phone }}
                </div>
            </div>
            {% if memberform.phone.errors %}
                <div class="alert alert-danger">Telefon ungültig</div>
            {% endif %}

            <div class="form-group {% if memberform.mobile_phone.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_mobile_phone">{{ memberform.mobile_phone.label }}</label>

                <div class="controls col-md-8">
                    {{ memberform.mobile_phone }}
                </div>
            </div>
            {% if memberform.mobile_phone.errors %}
                <div class="alert alert-danger">Mobile ungültig</div>
            {% endif %}
			
			<div class="form-group {% if memberform.email.errors %}error{% endif %}">
                <label class="control-label col-md-4" for="id_email">E-Mail Adresse</label>
				
				<div class="controls col-md-8">
						{{ memberform.email }}
				</div>
			</div>
                {% if memberform.email.errors %}
                    <div class="alert alert-danger">E-Mail ungültig</div>
                {% endif %}
			
            <div class="form-group">
                <label class="control-label col-md-4" for="id_reachable_by_email">sollen andere {% config "members_string" %} dich via Kontaktformular erreichen k&ouml;nnen (Email nicht sichtbar)</label>

                <div class="controls col-md-1">
                    {{ memberform.reachable_by_email }}
                </div>
            </div>
			
            <div class="form-group">
                <label class="control-label col-md-4"></label>    
                <div class="controls col-md-8">
                    <a href="/my/password">hier kannst du dein Passwort ändern</a>
                </div>
            </div>
            <div class="form-actions col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-success">Personalien ändern</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
