{% extends "base.html" %}
{% load config %}

{% block all_page_title %}
    <div class="col-md-3"> 
            &nbsp;
    </div>
    <div class="col-md-9 juntagrico">
        <h3>GenossenschafterIn werden</h3>
    </div>
{% endblock %}

{% block allcontent %}
      Interessiert an {% config "organisation_name" %}?
      <br/><br/>
      Die Mitgliedschaft bei {% config "organisation_name" %} ist geknüpft an den Erwerb von rückzahlbaren Anteilscheinen in der Höhe von CHF {% config "share_price" %} pro Anteilschein. Die Anzahl Anteilscheine ist abhängig von der Abogrösse. Dabei
      sind in der Regel für ein kleines Gemüseabo zwei und für ein grosses Gemüseabo vier Anteilscheine zu erwerben. Die Anteilscheine sind das Genossenschaftskapital, das vor allem zur Finanzierung von
      Investitionen – zum Beispiel Infrastruktur – verwendet wird.
      <br/><br/>
      Die GenossenschafterInnen tragen im Rahmen ihrer Motivationen, Prioritäten und Möglichkeiten gemeinsam zum Gelingen des Betriebes bei. Wer bei {% config "organisation_name" %} ein Gemüseabo bezieht, verpflichtet sich zur
      Mitarbeit. Zusätzliches wie auch spontanes Engagement ist jederzeit willkommen.
      <br/>
      <br/>
      Bevor du dich als GenossenschafterIn anmeldest, lies bitte die Statuten und das Betriebsreglement durch.
      <ul>
          <li><a target="_blank" href="{% config "bylaws" %}">Statuten</a></li>
          <li><a target="_blank" href="{% config "business_regulations" %}">Betriebsreglement</a></li>
      </ul>
      <br/>



    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br/>

        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if memberform.last_name.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_last_name">Name *</label>

                <div class="col-md-9 controls">
                    {{ memberform.last_name }}
                    {% if memberform.last_name.errors %}
                        <div class="help-block">Name ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.first_name.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_first_name">Vorname *</label>

                <div class="col-md-9 controls">
                    {{ memberform.first_name }}
                    {% if memberform.first_name.errors %}
                        <div class="help-block">Vorname ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.addr_street.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_addr_street">Strasse/Nr. *</label>

                <div class="col-md-9 controls">
                    {{ memberform.addr_street }}
                    {% if memberform.addr_street.errors %}
                        <div class="help-block">Strasse ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.addr_zipcode.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_addr_zipcode">PLZ *</label>

                <div class="col-md-9 controls">
                    {{ memberform.addr_zipcode }}
                    {% if memberform.addr_zipcode.errors %}
                        <div class="help-block">PLZ ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.addr_location.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_addr_location">Ort *</label>

                <div class="col-md-9 controls">
                    {{ memberform.addr_location }}
                    {% if memberform.addr_location.errors %}
                        <div class="help-block">Ort ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.phone.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_phone">Telefon *</label>

                <div class="col-md-9 controls">
                    {{ memberform.phone }}
                    {% if memberform.phone.errors %}
                        <div class="help-block">Telefon ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.mobile_phone.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_mobile_phone">Mobile &nbsp;</label>

                <div class="col-md-9 controls">
                    {{ memberform.mobile_phone }}
                    {% if memberform.mobile_phone.errors %}
                        <div class="help-block">Mobile ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.email.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_email">E-Mail Adresse *</label>

                <div class="col-md-9 controls">
                    {{ memberform.email }}
                    {% if memberform.email.errors %}
                        <div class="help-block">E-Mail ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if memberform.birthday.errors %}has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_birthday">Geburtstag &nbsp;</label>

                <div class="col-md-9 controls">
                    {{ memberform.birthday }}
                    {% if memberform.birthday.errors %}
                        <div class="help-block">Geburtstag ungültig</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            {{ memberform.agb }}
                            <input type="checkbox" name="agb" id="agb" {% if agbchecked %}checked="checked"{% endif %}>
                            Ich habe <a target="_blank" href="{% config "bylaws" %}">die Statuten</a> und <a target="_blank" href="{% config "business_regulations" %}">das Betriebsreglement</a> gelesen und erkläre meinen Willen, "{% config "organisation_long_name" %}"
                            beizutreten. Hiermit beantrage ich meine Aufnahme.

                            {% if agberror %}
                                <div class="alert alert-danger">Statuten müssen angenommen werden</div>
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>
            {% if userexists %}
                <div class="alert alert-danger">
                    Diese Email-Adresse existiert bereits im System. <br/>
                    <a href="/my/home">Hier gehts zum Login</a>
                </div>
            {% endif %}

            <div class="form-actions">
                <button type="submit" class="col-md-offset-4 btn btn-success">Anmelden</button>
            </div>
            <input type="hidden" name="next" value="{{ next|escape }}"/>
        </form>
    </div>

{% endblock %}
