{% load config %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ config adminportal_name }}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>

    <link href="/static/external/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ config style_sheet() }}" rel="stylesheet">
    <link href="/static/css/personal.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="circletop"></div>
    <div class="circleleft"></div>
    <div class="circleright"></div>
    <div class="circlebottom"></div>

    <div class="row juntagrico">
        <div class="col-md-12">
            <a href="/my/home"><span class="juntagrico_logo"></span></a>
        </div>
    </div>
    <div class="row juntagrico">
        {% block allcontent %}
            
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>

<script type="text/javascript" src="/static/external/jquery-1.11.2/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/external/bootstrap-3.3.1/js/bootstrap.min.js"></script>

{% block scripts %}
    {# no scripts by default #}
{% endblock %}
</body>
