{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Abogrösse ändern</h3>
{% endblock %}

{% block content %}
    {% if saved %}
        <div class="alert alert-success">
            Die Abogrösse wurde erfolgreich geändert.<br/>
            <a href="/my/subscription" class="alert-link">Zurück zur Abo-Übersicht</a>
        </div>
    {% elif shareerror %}
        <div class="alert alert-danger">
            Es sind zu wenig Anteilscheine vorhanden für diese Grösse!<br/>
            Bestelle <a href="/my/order/share"class="alert-link">hier</a> mehr Anteilscheine.
        </div>
    {% else %}
        <br/>
        <form method="post" class="form-horizontal createsubscription">
            {% csrf_token %}
            {% for subscription_size in subscription_sizes %}
            <div class="form-group">
                <label class="col-md-3 control-label">{% if forloop.first %}Abogrösse{% endif %}</label>

                <div class="col-md-9 controls radio">     
                    <label for="{{ subscription_size.name }}" class="control-label col-md-9">
                        {{ subscription_size.long_name }}
                        <br/>
                        {{ subscription_size.description }}
                    </label>
                </div>
            </div>
                    {% for type in subscription_size.types.all %}
                    {% if type.visible %}
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9 offset-md-3 controls radio"> 
                            <label for="{{ type.name }}" class="control-label col-md-2">
                                <input type="radio" name="subscription" class="onoffswitch" value="{{type.id }}" id="{{ type.name }}" {% if selected_subscription == type.id %}checked="checked"{% endif %}/>
                            </label>
                            <label for="{{ type.name }}" class="control-label col-md-7">
                                {% if type.long_name.strip %}{{ type.long_name }}<br/>{% endif%}
                                {% if type.description.strip %}{{ type.description }}<br/>{% endif%}
                                Beitrag: {{ type.price }} {% config "currency" %}
                                <br/>
                                Anteilsscheine: {{ type.shares }}
                                <br/>
                                Arbeitseinsätze: {{ type.required_assignments }} {% if hours_used %}Stunden{% endif %}
                            </label>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            {% endfor %}
            <div class="form-group">
            </div>
            <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div class="controls col-md-8">
                    <button type="submit" class="btn btn-success">Abogrösse ändern</button>
                </div>
            </div>
            <div class="form-actions col-md-8">
            </div>
            <br/>
            <div class="form-group">
            <label class="control-label col-md-3">Abo kündigen</label>
            <div class="controls col-md-8">
                <label>
                    <div>
                        Du willst ab nächstem Jahr kein {% config "organisation_name" %}-Abo mehr? Dann schicke bitte deine Kündigung
                        bis spätestens Ende {{ next_cancel_date |date:"F" }} an <a href="mailto:{% config "info_email" %}?subject=Kündigung Abo {% config "server_url" %}">{% config "info_email" %}</a>.
                        Weitere Infos zur Kündigung des Abos und der Mitgliedschaft findest du im
                        <a href="/ {% config "business_regulations" %}">Betriebsreglement</a>.
                    </div>
                </label>
            </div>
        </div>
    </form>
    {% endif %}

{% endblock %}
