{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% load crispy_forms_tags %}
{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}{{ v_subscription }}-Grösse ändern{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% config "enable_shares" as c_enable_shares %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "subscription_pl" as v_subscription_pl %}
    {% vocabulary "share_pl" as v_share_pl %}
    {% if saved %}
        <div class="alert alert-success">
            {% blocktrans %}Die {{ v_subscription }}-Grösse wurde erfolgreich geändert.{% endblocktrans %}
            <br/>
            <a href="{% url 'sub-detail' %}" class="alert-link">
                {% blocktrans %}Zurück zur {{ v_subscription }}-Übersicht{% endblocktrans %}
            </a>
        </div>
    {% else %}
        {% crispy form %}

        {% if subscription.state != 'canceled' and  subscription.state != 'inactive' %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <a href="{% url 'sub-cancel' subscription.id %}"class="btn btn-danger">
                        {% blocktrans %}{{ v_subscription }} komplett künden{% endblocktrans %}
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/bootstrap-input-spinner.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initChangeExtra.js">
    </script>
{% endblock %}