{% load config %}
<table id="filter-table" class="list table" style="display: table;">
    <thead>
    <tr>
        <th>Kernb.</th>
        <th>Datum</th>
        <th>Job</th>
        <th>Status</th>
        <th>Ort</th>
        <th>Extras</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{% if job.type.activityarea.core %}<img alt="Kernbereich" class="jobstatus" src="{% circles "circle_full_core" %}"/>{% else %}<img alt="anderer Tätigkeitsbereich" class="jobstatus" src="{% circles "circle_full" %}"/>{% endif %}</td>
            <td>
                {{ job.weekday_name }}<br/>{{ job.time |date:"d." }}&nbsp;{{ job.time |date:"m." }}&nbsp;{{ job.time |date:"Y" }}
                <br/> {{ job.time |date:"H:i" }}&nbsp;&ndash;&nbsp;{{ job.end_time |date:"H:i" }}</td>
            <td><a href="/my/jobs/{{ job.id }}"{% if job.canceled %} class="canceled"{% endif %}><strong>{{ job.type.activityarea.name }}</strong><br/>
                {{ job.type.get_name }}</a><br/></a></td>
            <td><img alt="Job-Status: {{ job.get_status_percentage }}" src="{% circles job.get_status_percentage "}"/></td>
            <td>{{ job.type.location }}</td>
            <td>{{ job.extras|safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>