{% load config %}
<table id="filter-table" class="list table" style="display: table;">
    <thead>
    <tr>
        <th></th>
        {% if show_core %}<th>Kernb.</th>{% endif %}
        <th>Datum</th>
        <th>Job</th>
        <th>Status</th>
        {% if show_extras %}<th>Extras</th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr data-place="{{ job.type.location }}" data-starttime="{{ job.time |date:'H:i' }}" data-endtime="{{ job.end_time |date:'H:i' }}" data-area="{{ job.type.activityarea.name }}">
            <td class="details-control"></td>
            {% if show_core %}<td>{% if job.type.activityarea.core %}<img alt="Kernbereich" class="jobstatus" src="{% images "core" %}"/>{% endif %}</td>{% endif %}
            <td>
                {{ job.weekday_name }}&nbsp;{{ job.time |date:"d." }}{{ job.time |date:"m." }}{{ job.time |date:"Y" }}</td>
            <td><a href="/my/jobs/{{ job.id }}"{% if job.canceled %} class="canceled"{% endif %}><strong>{{ job.type.get_name }}</strong></a></td>
            <td><img alt="Job-Status: {{ job.get_status_percentage }}" src="{% images job.get_status_percentage %}"/></td>
            {% if show_extras %}<td>{{ job.extras|safe }}</td>{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>