{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    <h3>
        Abo ändern
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "subscription" as v_subscription %}
    {% trans "Welchen Teil möchtest du ändern?" %}
    {% include "snippets/snippet_subscription_change_depot.html" %}
    {% include "snippets/snippet_subscription_change_size.html" %}
    {% for sub_change_addon in sub_change_addons %}
        {% include sub_change_addon %}
    {% endfor %}
{% if has_extra_subscriptions %}
    {% include "snippets/snippet_subscription_change_extra_sub.html" %}
{% endif %}
{% include "snippets/snippet_subscription_change_main_member.html" %}
{% if subscription.state != 'canceled' and  subscription.state != 'inactive' %}
    <div class="row mt-5">
        <div class="col-md-12">
            <a href="{% url 'sub-cancel' subscription.id %}"class="btn btn-danger">
                {% blocktrans %}{{ v_subscription }} komplett künden{% endblocktrans %}
            </a>
        </div>
    </div>
{% endif %}

{% endblock %}
