{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Abo ändern</h3>
{% endblock %}

{% block content %}
    Welchen Teil deines Abos möchtest du ändern?<br/><br/>
    <br/>
    <div class="row">
        <div class="col-md-4">
            Depot
            <br/>
             Du bist umgezogen oder möchtest aus einem anderen Grund dein Gemüse in einem anderen Quartierdepot abholen? 
			 Du kannst das Depot jederzeit wechseln - die Änderung wird sobald aktiv von uns kommuniziert.
        </div>
        <div class="col-md-4">
            Grösse
            <br/>
            Die Grösse eines Abos (auch die Kündigung) kann nur jährlich geändert werden und muss bis spätestens Ende {{ next_cancel_date |date:"F" }} gemacht werden,
            damit die Änderung auf Anfang {{ next_business_year |date:"F" }} in Kraft tritt.
        </div>
        {% if has_extra_subscriptions %}
        <div class="col-md-4">
            Zusatz-Abos
            <br/>
            Zusatz-Abos können halbjährlich auf Januar und Juli, mit einer Frist von mind. einem Monat geändert werden. <br>
            > <a href="{% config "extra_sub_info" %}" target="_blank">Weitere Infos zu den Zusatzabos</a>
        </div>
       {% endif %}
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            Nächstmögliches Datum:
            {{ next_business_year |date:"d.m.Y" }}
        </div>
        {% if has_extra_subscriptions %}
        <div class="col-md-4">
            Nächstmögliches Datum:
            {{ next_extra_subscription_date |date:"d.m.Y" }}
        </div>
       {% endif %}
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            Momentanes Depot: <br/>
            {{ member.subscription.depot.name }}
        </div>
        <div class="col-md-4">
            Zukünftige Grösse: <br/>
            {{ member.subscription.future_size_name }}
        </div>
        {% if has_extra_subscriptions %}
        <div class="col-md-4">
            Zukünftige Zusatz-Abos: <br/>
            {% if not  member.subscription.extrasubscriptions_changed %}
                {% if member.subscription.extra_subscriptions.all|length == 0 %}
                    Keine Zusatz-Abos
                {% else %}
                    {% for extrasubscription in member.subscription.extra_subscriptions.all %}
                        <li>{{ extrasubscription.type.name }}</li>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if member.subscription.future_extra_subscriptions.all|length == 0 %}
                    Keine Zusatz-Abos
                {% else %}
                    {% for extrasubscription in member.subscription.future_extra_subscriptions.all %}
                        <li>{{ extrasubscription.type.name }}</li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>    
       {% endif %}
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <a href="/my/subscription/change/depot" class="btn btn-success">Depot ändern</a>
        </div>
        <div class="col-md-4">
            <a {% if change_size %}href="/my/subscription/change/size"{% endif %} class="btn btn-success" {% if not change_size %}disabled="disabled"{% endif %}>Grösse ändern</a><br/>
            {% if not change_size %}* nur {{ next_business_year |date:"F" }}-{{ next_cancel_date |date:"F" }} möglich{% endif %}
        </div>
        {% if has_extra_subscriptions %}
        <div class="col-md-4">
            <a href="/my/subscription/change/extra" class="btn btn-success">Zusatz-Abos ändern</a>
        </div>    
       {% endif %}
    </div>
{% endblock %}
