{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Alle {% vocabulary "subscription_pl" %} im Überblick</h3>
{% endblock %}


{% block content %}
    <style>
        body > .container {
            width: 95%;
        }
    </style>
        <form id="email-sender" action="/my/mails{% if enhanced %}/{{ enhanced }}{% endif %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="recipients" id="recipients"/>
        <input type="hidden" name="recipients_count" id="recipients_count"/>
        {% if can_send_mails %}
        <button type="submit" class="btn btn-success" id="send-email">Email senden</button>
        {% endif %}
    </form>
   <div id="filter">
        <table id="filter-table" class="list table" style="display: table;">
            <thead>
            <tr>
                <th>Haupt-{% vocabulary "member" %}</th>
                <th>Weitere {% vocabulary "member_pl" %}</th>
                <th>{% vocabulary "depot" %}</th>
                <th>Inhalt</th>
                <th>{% vocabulary "assignment_pl" %}</th>
                {% if show_core %}<th>{% vocabulary "assignment_pl" %} Kernbereich</th>{% endif %}
                <th>Aktiv</th>
                <th>Aktivierungsdatum</th>
                <th>Emails</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Hauptmember</th>
                <th>Weitere {% vocabulary "member_pl" %}</th>
                <th>{% vocabulary "depot" %}</th>
                <th>Inhalt</th>
                <th>{% vocabulary "assignment_pl" %}</th>
                {% if show_core %}<th>{% vocabulary "assignment_pl" %} Kernbereich</th>{% endif %}
                <th>Aktiv</th>
                <th>Aktivierungsdatum</th>
                <th>Emails</th>
            </tr>
            </foot>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>
                    {% if operation_group %}
                    <a href="/impersonate/{{ subscription.subscription.primary_member.user.id}}" target="__blank">
                    {% endif %}
                    {{ subscription.subscription.primary_member.first_name }} {{ subscription.subscription.primary_member.last_name }}
                    {% if operation_group %}
                    </a>                    
                    {% endif %}
                    </td>
                    <td>{{ subscription.subscription.recipients_names }}</td>
                    <td>{{ subscription.subscription.depot.name }}</td>
                    <td>{{ subscription.subscription.overview }}</td>
                    <td>N%-{{ subscription.assignments|floatformat:"0" }} (von {{ subscription.subscription.required_assignments }})</td>
                    {% if show_core %}<td>C%-{{ subscription.core_assignments|floatformat:"0" }} (von {{ subscription.subscription.required_core_assignments }})</td>{% endif %}
                    <td>{% if subscription.subscription.active %}<img src="{% images "single_full" %}"/> Aktiv{% else %}<img src="{% images "single_empty" %}"/> Wartend{% endif %}</td>
                    <td>{{ subscription.subscription.activation_date }}</td>
                    <td class="email">{% for recipient in subscription.subscription.recipients %}{{ recipient.email }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>
    <script>
            var member_string = "{% vocabulary "member" %}";
            var members_string = "{% vocabulary "member_pl" %}";            
    </script>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initSubscriptions.js"></script>
{% endblock %}
