{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Abo Übersicht</h3>    
{% endblock %}

{% block content %}
    {% if not member.subscription %}
        <div class="alert alert-warning">Du hast noch kein Abo<br/>Du möchtest eines? Melde dich hier an: <a href="/my/create/subscrition">Abo erstellen</a></div>
        <dl class="dl-horizontal">
        <dt>Anteilscheine</dt>
            <dd>
                {{ shares }} {% if shares_unpaid > 0 %}(davon {{ shares_unpaid }} noch nicht bezahlt){% endif %}<br/>
                Bestelle mehr Anteilscheine <a href="/my/order/share">hier</a>
            </dd>
        </dl>
    {% else %}
        <dl class="dl-horizontal">
            <dt>Abogrösse</dt>
            <dd>
                {{ member.subscription.size_name }}
            </dd>
            <dt>Status</dt>
            <dd>
                {% if member.subscription.state == 'active'%}
                    Dein Abo ist aktiv, du erhälst wöchentlich dein Gemüse.
                {% elif member.subscription.state == 'canceled'%}
                    Dein Abo ist gekündigt, du erhälst wöchentlich dein Gemüse bis zum {{end_date|date:"d.m.Y"}}.
                {% elif member.subscription.state == 'watiting' %}
                    <span class="text-error">Auf der Warteliste</span> - du erhälst leider im Moment noch kein Gemüse.
                {% elif member.subscription.state == 'inactive' %}
                    <span class="text-error">Dein abo wurde deaktiviert</span> - du erhälst im Moment kein Gemüse.
                {% endif %}
            </dd>
            <dt>Anteilscheine</dt>
            <dd>
                {{ shares }} {% if shares_unpaid > 0 %}(davon {{ shares_unpaid }} noch nicht bezahlt){% endif %}<br/>
                Bestelle mehr Anteilscheine <a href="/my/order/share">hier</a><br/><br/>
                Anteilscheine von MitabonnentInnen:
                <ul>
                    {% for co_member in  co_members %}
                        <li>{{ co_member.share_set.count }} von {{ co_member.first_name }} {{ co_member.last_name }}
                            {% if not co_member.confirmed %}
                                (nicht bestätigt)
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>Abo geteilt mit</dt>
            <dd>
                {% if co_members|length > 0 %}
                    {% if co_members|length > 1 %}
                        <ul>
                            {% for sharee in co_members %}
                                <li>{{ sharee.first_name }} {{ sharee.last_name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for sharee in co_members %}
                            {{ sharee.first_name }} {{ sharee.last_name }}
                        {% endfor %}
                        <br/>
                    {% endif %}
                {% else %}
                    Du hast noch keine MitabonnentInnen eingetragen.<br/>
                {% endif %}
                <a href="/my/cosubmember/{{ member.subscription.id }}?return=/my/subscription">Hier MitabonnentInnen eintragen</a>
            </dd>
            <dt>Depot</dt>
            <dd>
                {{ member.subscription.depot.name }} > <a href="/my/depot/{{ member.subscription.depot.id }}">Weitere Infos zum Depot</a>
            </dd>
            {% if has_extra_subscriptions %}
                <dt>Zusatzabos</dt>
                <dd>
                    {% if subscription.extra_subscriptions|length == 0 %}
                        Keine Zusatzabos
                    {% else %}
                        <ul>
                            {% for extra_subscription in subscription.extra_subscriptions %}
                                <li>{{ extra_subscription.type.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
                {% if subscription.extrasubscriptions_changed %}
                    <dt>Neue Zusatzabos</dt>
                    <dd>
                        (Die Änderungen treten am {{ next_extra_subscription_date |date:"d.m.Y" }} in Kraft)
                        {% if not subscription.future_extra_subscriptions %}
                            <br>Keine Zusatzabos
                        {% else %}
                            <ul>
                                {% for extra_subscription in subscription.future_extra_subscriptions %}
                                    <li>{{ extra_subscription.type.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                {% endif %}
            {% endif %}

            {% if member.subscription.types_changed %}
                <dt>Neue Abogrösse</dt>
                <dd>
                    (Die Änderung tritt am {{ next_extra_subscription_date |date:"d.m.Y" }} in Kraft)<br>
                    {{ member.subscription.future_size_name }}
                </dd>
            {% endif %}
            <dt>&nbsp;</dt>
            <dd>
                {% if member.subscription.state != 'inactive' %}
                <div class="form-actions">
                    <a href="{% if primary %}/my/subscription/change{% endif %}" class="btn btn-success {% if not primary %}disabled{% endif %}" >Abo ändern</a>
                    {% if not primary %}
                        * Das Abo kann nur der Hauptabonnnent ändern.
                    {% endif %}
                </div> 
               {% endif %}
                <br/>
                {% if member.subscription.state != 'canceled' and  member.subscription.state != 'inactive' %}
                <div class="form-actions">
                    <a href="{% if primary %}/my/subscription/cancel/{{member.subscription.id}}/{% endif %}" class="btn btn-success {% if not primary %}disabled{% endif %}" >Abo künden</a>
                    {% if not primary %}
                        * Das Abo kann nur der Hauptabonnnent künden.
                    {% endif %}
                </div>
               {% endif %}
            </dd>
        </dl>
    {% endif %}
{% endblock %}
