{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>{{ team.name }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"><strong>Beschreibung:</strong></div>
        <div class="col-md-8">{{ team.description }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4"><strong>Verantwortlicher:</strong></div>
        <div class="col-md-8">{{ team.coordinator.first_name }} {{ team.coordinator.last_name }}<br/>
        {% if team.email is not None%}
        <a href="mailto:{{ team.email }}">{{ team.email }}</a></div>
        {% else %}
        <a href="mailto:{{ team.coordinator.email }}">{{ team.coordinator.email }}</a></div>
        {% endif %}
    </div>
    <br/>
    <h4>Kommende Termine</h4>
    {% include "snippet_jobs.html" %}
    {% if jobs|length <= 0 %}
        Keine Jobs ausgeschrieben
    {% endif %}
{% endblock %}
