{% extends "base.html" %}
{% load config %}

{% block content %}
    <h3>{{ team.name }}</h3>
    <div class="row">
        <div class="col-md-4"><strong>Beschreibung:</strong></div>
        <div class="col-md-8">{{ team.description }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4"><strong>Verantwortlicher:</strong></div>
        <div class="col-md-8">{{ team.coordinator.first_name }} {{ team.coordinator.last_name }}<br/><a href="mailto:{{ team.coordinator.email }}">{{ team.coordinator.email }}</a></div>
    </div>
    <br/>
    <h4>Kommende Termine</h4>
    <table class="jobs">
        {% for job in jobs %}
            <tr class="{% if job.status == "circle_full.png" %}full{% endif %}">
                <td class="date">{{ job.time |date:"d.m H:i" }}</td>
                <td><a href="/my/jobs/{{ job.id }}"{% if job.canceled %} class="canceled"{% endif %}>{{ job.type.name}}</a></td>
                <td class="status"><img src="/static/img/{{ job.get_status_percentage }}"/></td>
            </tr>
        {% endfor %}
    </table>
    {% if jobs|length <= 0 %}
        Keine Jobs ausgeschrieben
    {% endif %}
{% endblock %}
