{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block all_page_title %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    <h3 class="page-title">
        {% blocktrans %}Herzlich willkommen bei {{ v_d_enriched_organisation }}!{% endblocktrans %}
    </h3>
{% endblock %}
{% block allcontent %}
    <div class="alert alert-success">
        {% enriched_organisation "D" as v_d_enriched_organisation %}
        {% vocabulary "member_type" as v_member_type %}
        {% vocabulary "subscription" as v_subscription %}
        {% include 'textsnippets/welcome_message.html' %}
    </div>
{% endblock %}
