{% extends "juntagrico/signup/base.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block title %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% blocktrans %}Herzlich willkommen bei {{ v_d_enriched_organisation }}!{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="alert alert-success">
        {% enriched_organisation "D" as v_d_enriched_organisation %}
        {% blocktrans with v_member_type=vocabulary.member_type %}Du bist jetzt {{ v_member_type }} bei {{ v_d_enriched_organisation }}.{% endblocktrans %}
        <br>
        {% if not no_subscription %}
            {% blocktrans with v_subscription=vocabulary.subscription %}Du wurdest als {{ v_subscription }}-BezieherIn zur Warteliste hinzugefügt.{% endblocktrans %}
        {% endif %}
        <br>
        {% trans "Du erhältst eine Email mit allen weiteren Infos an die von dir angegebene E-Mail-Adresse (Schaue auch im SPAM Ordner)." %}
    </div>
{% endblock %}
