{% extends "base.html" %}
{% load config %}
{% block all_page_title %}
    <div class="col-md-3"> 
            &nbsp;
    </div>
    <div class="col-md-9 juntagrico">
        <h3>Herzlich willkommen bei {% config "organisation_name" %}!</h3>
    </div>
{% endblock %}

{% block allcontent %}
    <div class="alert alert-success">
        {% if no_subscription %}
        Du bist jetzt Mitglied bei {% config "organisation_name" %}.
        {% else %}
        Dein Abo wurde erstellt und wartet nun darauf aktiviert zu werden. 
        {% endif %}
        Du erhälst eine Email mit allen weiteren infos an die von dir angegebene Emailadresse.
    </div><br/><br/>
{% endblock %}
