{% extends "mybase.html" %}

{% block content %}
    <h3>Alle Abos im Überblick</h3>
    <style>
        .container {
            width: 1200px;
        }
    </style>
    <div id="filter-table">
        <table class="list" style="display: table;">
            <thead>
            <tr>
                <th>Hauptloco</th>
                <th>Weitere Locos</th>
                <th>Depot</th>
                <th>Bohnen</th>
                <th>Aktiv</th>
                <th>Emails <a data-clipboard-text="Copy Me!" id="copy-emails" href="#">alle kopieren</a></th>
            </tr>
            </thead>
            <tbody>
            {% for abo in abos %}
                <tr>
                    <td>{{ abo.abo.primary_loco.first_name }} {{ abo.abo.primary_loco.last_name }}</td>
                    <td>{{ abo.abo.bezieher }}</td>
                    <td>{{ abo.abo.depot.name }}</td>
                    <td>{{ abo.boehnlis }} <img alt="Status Erbse" src="/static/img/{{ abo.icon }}"/> {{ abo.text }}</td>
                    <td>{% if abo.abo.active %}<img alt="Volle Erbse" src="/static/img/erbse_voll.png"/> Aktiv{% else %}<img alt="Volle Erbse" src="/static/img/erbse_leer.png"/> Wartend{% endif %}</td>
                    <td>{% for bezieher in abo.abo.bezieher_locos %}{{ bezieher.email }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>

{% endblock %}

{% block scripts %}
    <script src="../../static/js/libs/ZeroClipboard.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/libs/dable.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/require.min.js" data-main="/static/js/initMyAbos.js"></script>
{% endblock %}