{% extends "mybase.html" %}

{% block content %}
    <h3>Alle Abos im Überblick</h3>
    <style>
        .container {
            width: 1200px;
        }
    </style>
    <form id="email-sender" action="/my/mails" method="POST">
        {% csrf_token %}
        <input type="hidden" name="recipient_type" id="recipient_type" value="Abo-Inhaber"/>
        <input type="hidden" name="recipient_type_detail" id="recipient_type_detail"/>
        <input type="hidden" name="recipients" id="recipients"/>
        <input type="hidden" name="recipients_count" id="recipients_count"/>
        <input type="hidden" name="filter_value" id="filter_value"/>
        <button type="submit" class="btn btn-success" id="send-email">Email senden</button>
    </form>
    <div id="filter-table">
        <table class="list" style="display: table;">
            <thead>
            <tr>
                <th>Hauptloco</th>
                <th>Weitere Locos</th>
                <th>Depot</th>
                <th>Bohnen</th>
                <th>Bohnen Kernbereich</th>
                <th>Aktiv</th>
                <th>Emails</th>
            </tr>
            </thead>
            <tbody>
            {% for abo in abos %}
                <tr>
                    <td>{{ abo.abo.primary_loco.first_name }} {{ abo.abo.primary_loco.last_name }}</td>
                    <td>{{ abo.abo.bezieher }}</td>
                    <td>{{ abo.abo.depot.name }}</td>
                    <td>{{ abo.boehnlis }} <img alt="Status Erbse" src="/static/img/{{ abo.icon }}"/> {{ abo.text }}</td>
                    <td>{{ abo.boehnlis_kernbereich }}</td>
                    <td>{% if abo.abo.active %}<img alt="Volle Erbse" src="/static/img/erbse_voll.png"/> Aktiv{% else %}<img alt="Volle Erbse" src="/static/img/erbse_leer.png"/> Wartend{% endif %}</td>
                    <td>{% for bezieher in abo.abo.bezieher_locos %}{{ bezieher.email }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/libs/dable.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/require.min.js" data-main="/static/js/initMyAbos.js"></script>
{% endblock %}