{% extends "mybase.html" %}

{% block allcontent %}
    <div class="span2"></div>
    <div class="span8">
        <h3>Wähle dein Abo</h3>
        <br/>

        <h5>Infos:</h5>

        Um Mitglied der Genossenschaft ortoloco zu werden, musst du mindestens einen Anteilschein (CHF 250) erwerben.
        <br/><br/>

        <form action="" method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label">Abogrösse</label>

                <div class="controls">
                    <label class="radio" for="small">
                        <input type="radio" name="abo" value="small" id="small" {% if selected_abo == "small" %}checked="checked"{% endif %}/>
                        <strong>Kleines Abo</strong>

                        <div>
                            Das kleine Abo ist für 2-3 Personen geeignet und benötigt mindestens zwei Anteilscheine.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <label class="radio" for="big">
                        <input type="radio" name="abo" value="big" id="big" {% if selected_abo == "big" %}checked="checked"{% endif %}/>
                        <strong>Grosses Abo</strong>

                        <div>
                            Das grosse Abo empfiehlt sich für WG's oder Familien (ca. 4-6 Personen) und benötigt vier Anteilscheine.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <label class="radio" for="house">
                        <input type="radio" name="abo" value="house" id="house" {% if selected_abo == "house" %}checked="checked"{% endif %}/>
                        <strong>Haus-Abo</strong>

                        <div>
                            Das Haus-Abo ist für ca. 10 Haushalte gedacht. Es müssen mindestens 20 Anteilscheine gezeichnet werden.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <label class="radio" for="none">
                        <input type="radio" name="abo" value="none" id="none"/>
                        <strong>Kein Abo</strong>

                        <div>
                            Du kannst auch ohne Gemüseabo ortoloco-GenossenschafterIn sein. Bleibe auf dem Laufenden und mach mit, wenn du Lust hast.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="depot">Depot</label>

                <div class="controls">
                    <select name="depot" id="depot">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">MitabonnentInnen</label>

                <div class="controls">
                    {% if 0 == mit_locos|length %}
                        <div>Bisher hast du keine MitabonnentInnen eingetragen.</div>
                    {% else %}
                        <ul>
                            {% for loco in mit_locos %}
                                <li>{{ loco.first_name }} {{ loco.last_name }} - {{ loco.anteilschein_set.all|length }} Anteilschein(e)</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="btn btn-small" id="add-loco">Weitere MitabonnentIn hinzufügen</button>
                    <br/><br/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Anteilscheine</label>

                <div class="controls">
                    <label for="scheine">

                        <input type="text" name="scheine" id="scheine" class="span1"/><br/>
                        Du kannst unbeschränkt und jederzeit Anteilscheine erwerben. Allerdings brauchst du je nach Abogrösse ein Minimum, um zu starten.

                        <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
                        <script type="text/javascript">
                            $("input[type=radio]").change(function () {
                                if ($(":checked").val() === "small") {
                                    $("#scheine").val(Math.max(2 - {{ loco_scheine }}, 0));
                                } else if ($(":checked").val() === "big") {
                                    $("#scheine").val(Math.max(4 - {{ loco_scheine }}, 0));
                                } else if ($(":checked").val() === "house") {
                                    $("#scheine").val(Math.max(20 - {{ loco_scheine }}, 0));
                                }
                                else {
                                    $("#scheine").val(1);
                                }
                            });
                            $("input[type=radio]").change();
                        </script>
                    </label>
                    {% if scheineerror %}
                        <div class="alert alert-error">Du brauchst mehr Anteilscheine für das gewählte Abo</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success">Abo erstellen</button>
            </div>
        </form>
    </div>
    <script>
        $("#add-loco").click(function () {
            $(this).after($('<input type="hidden" id="add-loco-value" name="add_loco" value="true"/>'));
            $(this).closest("form").off("submit").submit();
        });
        $("form").submit(function () {
            $("#add-loco-value").remove();
        });
        $("#depot").val({{ selected_depot.id }})
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 12,
                center: new google.maps.LatLng(47.3825462, 8.4653627)
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var createDepotMap = function (name, description, addr, zip, city, lat, long) {
                var depot = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    map: map,
                    title: '{{ depot.name }}'
                });
                google.maps.event.addListener(depot, 'click', function () {
                    new google.maps.InfoWindow({
                        content: "<h1>" + name + "</h1><b>" + description + "</b><br/>" + addr + "<br/>" + zip + " " + city
                    }).open(map, depot);
                });
            };

            {% for depot in depots %}
                {% if depot.latitude %}
                    createDepotMap("{{ depot.name }}", "{{ depot.description }}", "{{ depot.addr_street }}", "{{ depot.addr_zipcode }}", "{{ depot.addr_location }}", {{ depot.latitude }}, {{ depot.longitude }})
                {% endif %}
            {% endfor %}
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        // sort the depots for their distance

        var destinations = [];
        var depots = [];
        {% for depot in depots %}
            {% if depot.latitude %}
                destinations.push("{{ depot.addr_street }}+{{ depot.addr_zipcode }}+{{ depot.addr_location }}")
                depots.push({code: "{{ depot.code }}"});
            {% endif %}
        {% endfor %}


        function calculateDistances() {
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: ["{{ loco.addr_street }}+{{ loco.addr_zipcode }}+{{ loco.addr_location }}"],
                destinations: destinations,
                travelMode: google.maps.TravelMode.WALKING,
                unitSystem: google.maps.UnitSystem.METRIC
            }, callback);
        }

        function callback(response, status) {
            if (status == google.maps.DistanceMatrixStatus.OK) {
                var origins = response.originAddresses;
                var destinations = response.destinationAddresses;

                for (var i = 0; i < origins.length; i++) {
                    var results = response.rows[i].elements;
                    for (var j = 0; j < results.length; j++) {
                        $("#depot" + depots[j].code).append(" (" + Math.round(results[j].duration.value / 60) + " Minuten zu Fuss)");
                        depots[j].duration = Math.round(results[j].duration.value / 60)
                    }
                }
            }

            // reorder the depots now according to distances
            var options = $("#depot");
            depots.sort(function (a, b) {
                return a.duration > b.duration;
            })
            $.each(depots, function (i, d) {
                $("#depot").append(options.find("#depot" + d.code).addClass("sorted"));
            });
            $("#depot option").not(".sorted").remove();

        }
        calculateDistances();
    </script>

{% endblock %}
