{% extends "mybase.html" %}

{% block allcontent %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Wähle dein Abo</h3>
        <br/>

        <h5>Infos:</h5>

        Um Mitglied der Genossenschaft ortoloco zu werden, musst du mindestens einen Anteilschein (CHF 250) erwerben.
        <br/><br/>

        <form action="" method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-4 control-label">Abogrösse</label>

                <div class="col-md-8 controls">
                    <label class="radio" for="small">
                        <input type="radio" name="abo" value="small" id="small" {% if selected_abo == "small" %}checked="checked"{% endif %}/>
                        <strong>Kleines Abo</strong>

                        <br/>
                        Das kleine Abo ist für 2-3 Personen geeignet und benötigt mindestens zwei Anteilscheine.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>

                <div class="col-md-8 controls">
                    <label class="radio" for="big">
                        <input type="radio" name="abo" value="big" id="big" {% if selected_abo == "big" %}checked="checked"{% endif %}/>
                        <strong>Grosses Abo</strong>

                        <br/>
                        Das grosse Abo empfiehlt sich für WG's oder Familien (ca. 4-6 Personen) und benötigt vier Anteilscheine.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>

                <div class="col-md-8 controls">
                    <label class="radio" for="house">
                        <input type="radio" name="abo" value="house" id="house" {% if selected_abo == "house" %}checked="checked"{% endif %}/>
                        <strong>Haus-Abo</strong>

                        <br/>
                        Das Haus-Abo ist für ca. 10 Haushalte gedacht. Es müssen mindestens 20 Anteilscheine gezeichnet werden.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>

                <div class="col-md-8 controls">
                    <label class="radio" for="none">
                        <input type="radio" name="abo" value="none" id="none"/>
                        <strong>Kein Abo</strong>

                        <br/>
                        Du kannst auch ohne Gemüseabo ortoloco-GenossenschafterIn sein. Bleibe auf dem Laufenden und mach mit, wenn du Lust hast.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="depot">Depot</label>

                <div class="col-md-8 controls">
                    <select name="depot" id="depot" class="form-control">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">MitabonnentInnen</label>

                <div class="col-md-8 controls">
                    {% if 0 == mit_locos|length %}
                        <div>Bisher hast du keine MitabonnentInnen eingetragen.</div>
                    {% else %}
                        <ul>
                            {% for loco in mit_locos %}
                                <li>{{ loco.first_name }} {{ loco.last_name }} - {{ loco.anteilschein_set.all|length }} Anteilschein(e)</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="btn btn-small" id="add-loco">Weitere MitabonnentIn hinzufügen</button>
                    <br/><br/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Anteilscheine</label>

                <div class="col-md-8 controls">
                    <label for="scheine">

                        <input type="text" name="scheine" id="scheine" class="col-md-1 form-control"/><br/>
                        Du kannst unbeschränkt und jederzeit Anteilscheine erwerben. Allerdings brauchst du je nach Abogrösse ein Minimum, um zu starten.
                    </label>
                    {% if scheineerror %}
                        <div class="alert alert-danger">Du brauchst mehr Anteilscheine für das gewählte Abo</div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-offset-4 form-actions">
                <button type="submit" class="btn btn-success">Abo erstellen</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var loco_scheine = {{ loco_scheine }};
        var loco_addr = '{{ loco.addr_street }}+{{ loco.addr_zipcode }}+{{ loco.addr_location }}';

        var destinations = [];
        var depots = [];
        {% for depot in depots %}
            {% if depot.latitude %}
                destinations.push("{{ depot.addr_street }}+{{ depot.addr_zipcode }}+{{ depot.addr_location }}");
                depots.push({
                    name: '{{ depot.name }}',
                    addr_street: '{{ depot.addr_street }}',
                    addr_zipcode: '{{ depot.addr_zipcode }}',
                    addr_location: '{{ depot.addr_location }}',
                    latitude: '{{ depot.latitude }}',
                    longitude: '{{ depot.longitude }}',
                    code: '{{ depot.code }}'
                });
            {% endif %}
        {% endfor %}

    </script>
    <script type="text/javascript" src="/static/external/attachment_appender.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="/static/external/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyCreateAbo.js"></script>
{% endblock %}