{% extends "mybase.html" %}

{% block content %}
    <div id="depot">
        <h3>Exporte</h3>

        <div class="row">
        </div>
            <b>Locos</b><br/>
            <a href="/my/export/locos/">exportieren</a><p/>
            
            <b>Locos mit Böhnli und Tätigketsbereichen</b><br/>
            <a href="/my/export/locosfilter">exportieren</a><p/>
            
            <b>Anteilsscheine</b><br/>
            <a href="/my/export/shares">exportieren</a><p/>
            
        
        </div>
    </div>
{% endblock %}



