{% extends "mybase.html" %}

{% block content %}
    <div id="depot">
        <h3>Exporte</h3>
            <br/>
            <h4>Locos</h4>
            <a href="/my/export/locos/">exportieren</a>
            <br/><br/>
            <h4>Locos mit Böhnli und Tätigketsbereichen</h4>
            <a href="/my/export/locosfilter">exportieren</a>
            <br/><br/>
            <h4>Anteilsscheine</h4>
            <a href="/my/export/shares">exportieren</a>
        </div>
    </div>
{% endblock %}



