{% extends "mybase.html" %}

{% block content %}
    <h3>Alle locas und locos im Überblick</h3>
    <style>
        body > .container {
            width: 95%;
        }
    </style>
        <form id="email-sender" action="/my/mails{% if enhanced %}/{{ enhanced }}{% endif %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="recipient_type" id="recipient_type" value="Locos"/>
        <input type="hidden" name="recipients" id="recipients"/>
        <input type="hidden" name="recipients_count" id="recipients_count"/>
        <input type="hidden" name="filter_value" id="filter_value"/>
        <button type="submit" class="btn btn-success" id="send-email">Email senden</button>
    </form>
    <div id="filter-table">
        <table class="list" style="display: table;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Boehnlis</th>
                <th>Boehnlis Kernbereich</th>
                <th>Taetigkeitsbereiche</th>
                <th>Depot</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Mobile</th>
            </tr>
            </thead>
            <tbody>
            {% for loco in locos %}
                <tr>
                    <td>{{ loco.first_name }} {{ loco.last_name }}</td>
                    <td>{{ loco.boehnlis }}</td>
                    <td>{{ loco.boehnlis_kernbereich }}</td>
                    <td>
                        {% for bereich in loco.areas.all %}
                            {{ bereich.name }},
                        {% empty %}
                            -Kein Tätigkeitsbereich-
                        {% endfor %}
                    </td>
                    <td>{{ loco.abo.depot.name }}</td>
                    <td class="email">{{ loco.email }}</td>
                    <td>{{ loco.phone }}</td>
                    <td>{{ loco.mobile_phone }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/dable.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyFilters.js"></script>
{% endblock %}