{% extends "mybase.html" %}

{% block content %}
    <h3>Alle locas und locos im Überblick</h3>
    <style>
        .container {
            width: 1200px;
        }
    </style>
    <script src="../../static/js/ZeroClipboard.min.js" type="text/javascript"></script>
    <div id="filter-locos">
        <table class="list" style="display: table;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Boehnlis</th>
                <th>Taetigkeitsbereiche</th>
                <th>Depot</th>
                <th>Email <a data-clipboard-text="Copy Me!" id="copy-emails" href="#">alle kopieren</a></th>
                <th>Telefon</th>
                <th>Mobile</th>
            </tr>
            </thead>
            <tbody>
            {% for loco in locos %}
                <tr>
                    <td>{{ loco.first_name }} {{ loco.last_name }}</td>
                    <td>{{ loco.boehnlis }}</td>
                    <td>
                        {% for bereich in loco.taetigkeitsbereich_set.all %}
                            {{ bereich.name }},
                        {% empty %}
                            -Kein Tätigkeitsbereich-
                        {% endfor %}
                    </td>
                    <td>{{ loco.abo.depot.name }}</td>
                    <td class="email">{{ loco.email }}</td>
                    <td>{{ loco.phone }}</td>
                    <td>{{ loco.mobile_phone }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>

    <script type="text/javascript" src="/static/js/dable.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript">
        var dable = new Dable("filter-locos");

        dable.UpdateDisplayedRows();        // Update the table
        dable.UpdateStyle();                // Reapply our styles


        var client = new ZeroClipboard(document.getElementById("copy-emails"), {
            moviePath: "/static/others/ZeroClipboard.swf"
        });

        client.on("load", function (client) {
            client.on("complete", function (client, args) {
                alert("Copied text to clipboard: " + args.text);
            });
        });
        setInterval(function () {
            var emails = [];
            $("#filter-locos tr").each(function () {
                var txt = $("td:eq(3)", this).text();
                if (txt)
                    emails.push(txt);
            });
            client.setText(emails.join(", "));
        }, 200);
    </script>
{% endblock %}
