{% extends "mybase.html" %}

{% block content %}
    <h3>Hier siehst du die Zukunft von ortoloco</h3>
    {% if changed %}
        <div class="alert alert-success">Abos wurden geändert</div>
    {% endif %}

    <div>Wenn jetzt alle gewünschten Änderungen der Genossenschafter in Kraft treten würden, dann hätte ortoloco die folgenden Abos und Zusatzabos.</div>

    <table class="future">
        <tr>
            <th></th>
            <th>Aktuell</th>
            <th>Zukunft</th>
        </tr>
        <tr>
            <td>Haus Abos</td>
            <td>{{ house_abos }}</td>
            <td>{{ house_abos_future }}</td>
        </tr>
        <tr>
            <td>Grosse Abos</td>
            <td>{{ big_abos }}</td>
            <td>{{ big_abos_future }}</td>
        </tr>
        <tr>
            <td>Kleine Abos</td>
            <td>{{ small_abos }}</td>
            <td>{{ small_abos_future }}</td>
            <td></td>
        </tr>
        {% for extra in extras %}
        <tr>
            <td>{{ extra.name }}</td>
            <td>{{ extra.now }}</td>
            <td>{{ extra.future }}</td>
        </tr>
        {% endfor %}
    </table>
    <br/><br/>
    ACHTUNG! Dies darf nur am 1.1. und am 1.7. des Jahres gedrückt werden!
    <a href="/my/wechsel/zusatzabos" class="btn btn-success" >Switch to future extra abos</a><br/><br/>
    {% if abo_change_enabled %}
      <a href="/my/wechsel/abos" class="btn btn-success">Switch to future abos</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/dable.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyAbos.js"></script>
{% endblock %}