{% extends "mybase.html" %}

{% block content %}
    <h3>{{ job.typ.name }}</h3>
    <div class="row">
        <div class="span3">Zeitpunkt:</div>
        <div class="span5">
            {{ job.time |date:"l, d.m.Y, H:i" }} - {{ job.end_time|date:"H:i" }} <br>
            (in {{ job.time|timeuntil }})
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Status:</div>
        <div class="span5">
            {% for i in slotrange %}
                {% if i < number_of_participants %}
                    <img class="jobstatus" src="/static/img/erbse_voll.png" title="{{ number_of_participants }} von {{ job.slots }} gebucht"/>
                {% else %}
                    <img class="jobstatus" src="/static/img/erbse_leer.png" title="{{ number_of_participants }} von {{ job.slots }} gebucht"/>
                {% endif %}
            {% endfor %}
            </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Ort:</div>
        <div class="span5">
            {{ job.typ.location }}
            (<a href="https://www.google.ch/maps/place/{{ job.typ.location }}" target="_blank">Karte</a>)
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Beschreibung:</div>
        <div class="span5">{{ job.typ.description }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Dabei sind:</div>
        <div class="span5">
            {% if number_of_participants == 0 %}
                Noch niemand :(
            {% else %}
                <ul>
                    {% for participant in participants_summary %}
                        <li>{{ participant }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <br/>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}

    {% if job_fully_booked %}
        <div class="alert alert-success">Der Job ist ausgebucht, danke! Aber es gibt immer <a href="/my/einsaetze" style="text-decoration: underline">viel zu tun</a>...</div>
    {% else %}
        <div class="row">
            <div class="span3">Ich trage mich ein:</div>
            <div class="span5">
                <form action=""
                    method="POST"
                    class="form-inline"
                    onsubmit="return confirm('Möchtest du dich sicher für diesen Job verbindlich eintragen?')">
                    {% csrf_token %}
                    {% if allowed_additional_participants|length > 1 %}
                        <div>
                            <select name="jobs">
                                {% for i in allowed_additional_participants %}
                                    {% if i = 1 %}
                                        <option value="1">Unbegleitet</option>
                                    {% elif i = 2 %}
                                        <option value="2">Zu Zweit</option>
                                    {% elif i = 3 %}
                                        <option value="3">Zu Dritt</option>
                                    {% elif i = 4 %}
                                        <option value="4">Zu Viert</option>
                                    {% elif i < 16 %}
                                        <option value="{{ i }}">{{ i|add:"-1" }} weitere Personen und ich</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                    {% else %}
                        <input type="hidden" name="jobs" value="1">
                    {% endif %}
                    <div>
                        <button type="submit" class="btn btn-success">Bestätigen</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
