{% extends "mybase.html" %}

{% block content %}
    <h3>{{ job.typ.name }}</h3>
    <div class="row">
        <div class="span3">Zeitpunkt:</div>
        <div class="span5">{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Status:</div>
        <div class="span5">
            {% for i in slotrange %}
                {% if i < participants|length %}
                    <img class="jobstatus" src="/static/img/erbse_voll.png" title="{{ participants|length }} von {{ job.slots }} gebucht"/>
                {% else %}
                    <img class="jobstatus" src="/static/img/erbse_leer.png" title="{{ participants|length }} von {{ job.slots }} gebucht"/>
                {% endif %}
            {% endfor %}
            </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Ort:</div>
        <div class="span5">{{ job.typ.location }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Beschreibung:</div>
        <div class="span5">{{ job.typ.description }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Dabei sind:</div>
        <div class="span5">
            <ul>
                {% for participant in participants %}
                    <li>{{ participant.first_name }} {{ participant.last_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br/>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="span3">Ich will auch:</div>
        <div class="span5">
            <form action="" method="POST" class="form-inline">
                {% csrf_token %}
                 <input type="text" class="span1" name="jobs"/> <button type="submit" class="btn btn-success">Ich schreib mich ein</button>
            </form>
            <div class="help-block">Anzahl Personen eintragen, die zum Einsatz kommen, z.B: 1, 2 oder 3</div>
        </div>
    </div>
{% endblock %}
