{% extends "mybase.html" %}

{% block content %}
    {% if recipients %}
        <h3>Mail an {{ recipient_type }} verschicken</h3>
        {% if filter_value %}
            <h5 class="recipients-info-detail" id="filter-info">Der Filter, um diese {{ recipients_count }} E-Mail-Adressen auszuwählen, war: "{{ filter_value }}"</h5>
        {% else %}
            <h5 class="recipients-info-detail" id="filter-info">Diese {{ recipients_count }} E-Mail-Adressen entsprechen alle {{ recipient_type }}.</h5>
        {% endif %}
        {% if recipient_type_detail %}
            <h5 class="recipients-info-detail" id="recipient-type-detail">{{ recipient_type_detail }}</h5>
        {% endif %}
    {% else %}
        <h3>Mails verschicken</h3>
    {% endif %}
    <br/>
    <form action="/my/mails/send" method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label">Absender</label>

            <div class="controls text-label">
                info@ortoloco.ch
            </div>
        </div>
        {% if recipients %}
            <div class="form-group">
                <label class="control-label">Empfänger <a id="edit-recipients-action" href="#">bearbeiten</a></label>

                <div class="controls text-label">
                    <textarea name="recipients" id="recipients" class="col-md-5" rows="{% if recipients_count < 12 %}{{ recipients_count }}{% else %}12{% endif %}"
                              disabled="disabled">{{ recipients }}</textarea>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label class="control-label">Empfänger</label>

                <div class="controls text-label">
                    Wähle mind. eine der folgenden Gruppen:
                    <label class="checkbox high-label" for="allabo">
                        <input type="checkbox" id="allabo" name="allabo">
                        Alle Abonnenten (inkl. MitabonnentInnen)
                    </label>
                    <label class="checkbox high-label" for="allanteilsschein">
                        <input type="checkbox" id="allanteilsschein" name="allanteilsschein">
                        Alle Genossenschafter
                    </label>
                    <label class="checkbox high-label" for="all">
                        <input type="checkbox" id="all" name="all">
                        Alle (im System)
                    </label>
                    <label class="checkbox high-label" for="allsingleemail">
                        <input type="checkbox" id="allsingleemail" name="allsingleemail">
                        Nur an diese Email:
                    </label>
                    <input type="text" id="singleemail" name="singleemail"/>
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <label class="control-label" for="subject">Betreff</label>

            <div class="controls">
                <input type="text" name="subject" id="subject" placeholder="Betreff" class="col-md-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="message">Mitteilung</label>

            <div class="controls">
                <textarea name="message" id="message" class="col-md-5 mailer" rows="12" placeholder="Hier Nachricht eingeben"></textarea>
                <input type="hidden" id="textMessage" name="textMessage"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="attachements">Anhänge</label>

            <div class="controls" id="attachements">
                <div class="file-upload">
                    <div class="file-upload-button">
                        <input type="file" name="image-1">
                        <button class="btn">Datei auswählen</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-actions">
            <button type="submit" class="btn btn-success">Nachricht verschicken</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/attachment_appender.js"></script>
    <script type="text/javascript" src="/static/external/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyMailer.js"></script>
{% endblock %}