{% extends "mybase.html" %}

{% block content %}
    <h3>Mails verschicken</h3>
    <br/>
    <form action="/my/mails/send{% if enhanced != None %}/{{ enhanced }}{% endif %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="sender-email" class="col-sm-2 control-label">Absender</label>
            <div class="col-sm-10" id="sender-email">
                <select name="sender" class="form-control">
                    <option value="info@ortoloco.ch">info@ortoloco.ch</option>
                    <option value="{{ email }}">{{ email }}</option>
                </select>
            </div>
        </div>
        {% if recipients_count > 0 %}
            <div class="form-group">
                <label for="recipients" class="col-sm-2 control-label">Empfänger <a id="edit-recipients-action" href="#">bearbeiten</a></label>
                <div class="col-sm-10 form-control-static">
                    <textarea name="recipients" id="recipients" rows="{% if recipients_count < 12 %}{{ recipients_count }}{% else %}12{% endif %}" disabled="disabled">{{ recipients }}</textarea>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label for="sender-email--" class="col-sm-2 control-label">Empfänger</label>
                <div class="col-sm-10">
                    Wähle mind. eine der folgenden Gruppen:
                    <div class="checkbox">
                        <label class="high-label" for="allabo">
                            <input type="checkbox" id="allabo" name="allabo"> Alle Abonnenten (inkl. MitabonnentInnen)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="high-label" for="allanteilsschein">
                            <input type="checkbox" id="allanteilsschein" name="allanteilsschein"> Alle Genossenschafter
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="high-label" for="all">
                            <input class="checkbox-inline" type="checkbox" id="all" name="all"> Alle (im System)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="high-label" for="allsingleemail">
                            <input type="checkbox" id="allsingleemail" name="allsingleemail"> Nur an diese Email:
                        </label>
                        <input type="text" class="form-control" id="singleemail" name="singleemail" placeholder="Nur an diese Email"/>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Betreff</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  name="subject" id="subject" placeholder="Betreff" {% if mail_subject %} value="{{mail_subject}}" {% endif %}/>
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Mitteilung</label>
            <div class="col-sm-10">
                <textarea name="message" id="message" class="mailer" rows="12" placeholder="Nachricht hier eingeben">{% if mail_message %} {{ mail_message }} {% endif %}</textarea>
                <input type="hidden" id="textMessage" name="textMessage"/>
            </div>
        </div>

        <div class="form-group">
            <label for="attachements" class="col-sm-2 control-label">Anhänge</label>
            <div class="col-sm-10">
                <div class="controls" id="attachements">
                    <div class="file-upload">
                        <div class="file-upload-button">
                            <input type="file" name="image-1">
                            <button class="btn">Datei auswählen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Nachricht verschicken</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/attachment_appender.js"></script>
    <script type="text/javascript" src="/static/external/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyMailer.js"></script>
{% endblock %}
