{% extends "mybase.html" %}

{% block content %}
    <h3>Mails verschicken</h3>
    <br/>
    {% if sent > 0 %}
        <div class="alert alert-success">Email wurde an {{ sent }} Empfänger verschickt.</div>
    {% else %}
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label">Absender</label>

                <div class="controls text-label">
                    info@ortoloco.ch
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Empfänger</label>

                <div class="controls text-label">
                    Wähle mind. eine der folgenden Gruppen:
                    <label class="checkbox high-label" for="allpolitoloco">
                        <input type="checkbox" id="allpolitoloco" name="allpolitoloco">
                        Alle politolocos (Aktuelle Anzahl: {{ politolocos }})
                    </label>
                    <label class="checkbox high-label" for="allortolocos">
                        <input type="checkbox" id="allortolocos" name="allortolocos">
                        Alle ortolocos (Aktuelle Anzahl: {{ ortolocos }})
                    </label>
                    <label class="checkbox high-label" for="allsingleemail">
                        <input type="checkbox" id="allsingleemail" name="allsingleemail">
                        Nur an diese Email: <input type="text" id="singleemail" name="singleemail"/>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="subject">Betreff</label>

                <div class="controls">
                    <input type="text" name="subject" id="subject" placeholder="Betreff" class="col-md-5"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="message">Mitteilung</label>

                <div class="controls">
                    <div class="row">
                        <div class="col-md-6 politoloco"></div>
                    </div>
                    <textarea name="message" id="message" class="col-md-5" rows="12" placeholder="Hier Nachricht eingeben"></textarea>
                    <input type="hidden" id="textMessage" name="textMessage"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="attachements">Anhänge</label>

                <div class="controls" id="attachements">
                    <div class="file-upload">
                        <div class="file-upload-button">
                            <input type="file" name="image-1">
                            <button class="btn">Datei auswählen</button>
                        </div>
                    </div>
                    <br/><br/>

                    <div class="row">
                        <div class="col-md-6 politoloco"></div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success">Nachricht verschicken</button>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/external/attachment_appender.js"></script>
    <script type="text/javascript" src="/static/external/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyMailer.js"></script>
{% endblock %}