{% extends "mybase.html" %}

{% block content %}
    <h3>Abo Übersicht</h3>
    {% if not loco.abo %}
        <div class="alert">Du hast noch kein Abo<br/>Du möchtest eines? Melde dich hier an: <a href="/my/aboerstellen">Abo erstellen</a></div>
    {% else %}
        <dl class="dl-horizontal">
            <dt>Abogrösse</dt>
            <dd>
                {% if loco.abo.groesse == 1 %}
                    Kleines Abo
                {% endif %}
                {% if loco.abo.groesse == 2 %}
                    Grosses Abo
                {% endif %}
                {% if loco.abo.groesse == 10 %}
                    Haus Abo
                {% endif %}
            </dd>
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Status</dt>
            <dd>
                {% if loco.abo.active %}
                    Dein Abo ist aktiv, du erhälst wöchentlich dein Gemüse.
                {% else %}
                    <span class="text-error">Auf der Warteliste</span> - du erhälst leider im Moment noch kein Gemüse.
                {% endif %}
            </dd>
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Anteilscheine</dt>
            <dd>
                {{ scheine }} {% if scheine_unpaid > 0 %}(davon {{ scheine_unpaid }} noch nicht bezahlt){% endif %}<br/><br/>
                Anteilscheine von MitabonnentInnen:
                <ul>
                    {% for abonnent in  mitabonnenten %}
                        <li>{{ abonnent.anteilschein_set.count }} von {{ abonnent.first_name }} {{ abonnent.last_name }}
                            {% if not abonnent.confirmed %}
                                (nicht bestätigt)
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Abo geteilt mit</dt>
            <dd>
                {% if mitabonnenten|length > 0 %}
                    {% if mitabonnenten|length > 1 %}
                        <ul>
                            {% for sharee in mitabonnenten %}
                                <li>{{ sharee.first_name }} {{ sharee.last_name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for sharee in mitabonnenten %}
                            {{ sharee.first_name }} {{ sharee.last_name }}
                        {% endfor %}
                        <br/>
                    {% endif %}
                {% else %}
                    Du hast noch keine MitabonnentInnen eingetragen.<br/>
                {% endif %}
                <a href="/my/abonnent/{{ loco.abo.id }}?return=/my/abo">Hier MitabonnentInnen eintragen</a>
            </dd>
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Depot</dt>
            <dd>
                {{ loco.abo.depot.name }} > <a href="/my/depot/{{ loco.abo.depot.id }}">Weitere Infos zum Depot</a>
            </dd>

            {% if zusatzabos|length > 0 %}
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>
                <dt>Zusatzabos</dt>
                <dd>
                    <ul>
                        {% for zusatzabo in zusatzabos %}
                            <li>{{ zusatzabo.name }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            {% if andere_zusatzabos and loco.abo.extra_abos_changed %}
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>
                <dt>Neue Zusatzabos</dt>
                <dd>
                    (Diese werden am {{ next_extra_abo_date |date:"d.m.Y" }} aktiviert)
                    <ul>
                        {% for zusatzabo in future_zusatzabos %}
                            <li>{{ zusatzabo.name }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            {% if loco.abo.groesse != loco.abo.future_groesse %}
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>
                <dt>Neue Abogrösse</dt>
                <dd>
                    (Diese wird am {{ next_size_date |date:"d.m.Y" }} aktiviert)<br/>
                    {% if loco.abo.future_groesse == 1 %}
                        Kleines Abo
                    {% endif %}
                    {% if loco.abo.future_groesse == 2 %}
                        Grosses Abo
                    {% endif %}
                    {% if loco.abo.future_groesse == 10 %}
                        Haus Abo
                    {% endif %}
                </dd>
            {% endif %}
        </dl>
        <div class="form-actions">
            <a href="/my/abo/{{ loco.abo.id }}/aendern" class="btn btn-success">Abo ändern</a>
            {% if not primary %}
                * Das Abo kann nur der Hauptabonnent ändern.
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
