{% extends "mybase.html" %}

{% block content %}
    <h3>Abo Übersicht</h3>
    {% if not loco.abo %}
        <div class="alert">Du hast noch kein Abo<br/>Du möchtest eines? Melde dich hier an: <a href="/my/aboerstellen">Abo erstellen</a></div>
    {% else %}
        <dl class="dl-horizontal">
            <dt>Abogrösse</dt>
            <dd>
                {% if loco.abo.groesse == 1 %}
                    Kleines Abo
                {% endif %}
                {% if loco.abo.groesse == 2 %}
                    Grosses Abo
                {% endif %}
                {% if loco.abo.groesse == 10 %}
                    Haus Abo
                {% endif %}
            </dd>
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Status</dt>
            <dd>
                {% if loco.abo.active %}
                    Dein Abo ist aktiv, du erhälst wöchentlich dein Gemüse.
                {% else %}
                    <span class="text-error">Auf der Warteliste</span> - Du erhälst leider im Moment noch kein Gemüse
                {% endif %}
            </dd>
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Anteilsscheine</dt>
            <dd>
                {{ scheine }} (davon {{ scheine_unpaid }} noch nicht bezahlt)<br/><br/>
                Anteilsscheine von Mitabonnenten:
                <ul>
                    {% for abonnent in  mitabonnenten %}
                        <li>{{ abonnent.anteilschein_set.count }} von {{ abonnent.first_name }} {{ abonnent.last_name }}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% if sharees|length > 0 %}
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>
                <dt>Abo geteilt mit</dt>
                <dd>
                    {% if sharees|length > 1 %}
                        <ul>
                            {% for sharee in sharees %}
                                <li>{{ sharee.first_name }} {{ sharee.last_name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for sharee in sharees %}
                            {{ sharee.first_name }} {{ sharee.last_name }}
                        {% endfor %}
                    {% endif %}
                </dd>
            {% endif %}
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
            <dt>Depot</dt>
            <dd>
                {{ loco.abo.depot }} > <a href="/my/depot/{{ loco.abo.depot.id }}">Weitere Infos zum Depot</a>
            </dd>

            {% if zusatzabos|length > 0 %}
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>
                <dt>Zusatzabos</dt>
                <dd>
                    <ul>
                        {% for zusatzabo in zusatzabos %}
                            <li>{{ zusatzabo.name }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
        <div class="form-actions">
            <button class="btn btn-success" disabled="disabled">Abo ändern</button>
            * derzeit noch nicht möglich
        </div>
    {% endif %}
{% endblock %}
