{% extends "mybase.html" %}

{% block content %}
    <h3>Abo ändern</h3>
    {% if saved %}
        <div class="alert alert-success">
            Das Depot wurde erfolgreich geändert.<br/>
            <a href="/my/abo">Zurück zur Abo-Übersicht</a>
        </div>
    {% else %}
        <form method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="depot">Altes Depot</label>

                <div class="controls text-label">
                    {{ loco.abo.depot.name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="depot">Neues Depot</label>

                <div class="controls">
                    <select name="depot" id="depot">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas" style="width:520px;"></div>
                </div>
            </div>
            <div class="form-actions">
                Achtung! Dies ändert das Depot ohne weitere Rückmeldung.<br/><br/>
                <button type="submit" class="btn btn-success">Depot ändern</button>
            </div>
        </form>

        <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
        <script>
            function initialize() {
                var mapOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(47.3825462, 8.4653627)
                }
                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                var createDepotMap = function (name, addr, zip, city, lat, long) {
                    var depot = new google.maps.Marker({
                        position: new google.maps.LatLng(lat, long),
                        map: map,
                        title: '{{ depot.name }}'
                    });
                    google.maps.event.addListener(depot, 'click', function () {
                        new google.maps.InfoWindow({
                            content: "<h1>" + name + "</h1>" + addr + "<br/>" + zip + " " + city
                        }).open(map, depot);
                    });
                };

                {% for depot in depots %}
                    {% if depot.latitude %}
                        createDepotMap("{{ depot.name }}", "{{ depot.addr_street }}", "{{ depot.addr_zipcode }}", "{{ depot.addr_location }}", {{ depot.latitude }}, {{ depot.longitude }})
                    {% endif %}
                {% endfor %}
            }
            google.maps.event.addDomListener(window, 'load', initialize);

            // sort the depots for their distance

            var destinations = [];
            var depots = [];
            {% for depot in depots %}
                {% if depot.latitude %}
                    destinations.push("{{ depot.addr_street }}+{{ depot.addr_zipcode }}+{{ depot.addr_location }}")
                    depots.push({code: "{{ depot.code }}"});
                {% endif %}
            {% endfor %}


            function calculateDistances() {
                var service = new google.maps.DistanceMatrixService();
                service.getDistanceMatrix({
                    origins: ["{{ loco.addr_street }}+{{ loco.addr_zipcode }}+{{ loco.addr_location }}"],
                    destinations: destinations,
                    travelMode: google.maps.TravelMode.WALKING,
                    unitSystem: google.maps.UnitSystem.METRIC
                }, callback);
            }

            function callback(response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK) {
                    var origins = response.originAddresses;
                    var destinations = response.destinationAddresses;

                    for (var i = 0; i < origins.length; i++) {
                        var results = response.rows[i].elements;
                        for (var j = 0; j < results.length; j++) {
                            $("#depot" + depots[j].code).append(" (" + Math.round(results[j].duration.value / 60) + " Minuten zu Fuss)");
                            depots[j].duration = Math.round(results[j].duration.value / 60)
                        }
                    }
                }

                // reorder the depots now according to distances
                var options = $("#depot");
                depots = depots.sort(function (a, b) {
                    return a.duration - b.duration;
                })
                $.each(depots, function (i, d) {
                    $("#depot").append(options.find("#depot" + d.code).addClass("sorted"));
                });
                $("#depot option").not(".sorted").remove();

            }
            calculateDistances();
        </script>
    {% endif %}

{% endblock %}
