{% extends "mybase.html" %}

{% block content %}
    <h3>Abo ändern</h3>
    {% if saved %}
        <div class="alert alert-success">
            Das Depot wurde erfolgreich geändert.<br/>
            <a href="/my/abo">Zurück zur Abo-Übersicht</a>
        </div>
    {% else %}
        <form method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="depot">Altes Depot</label>

                <div class="controls text-label">
                    {{ loco.abo.depot.name }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="depot">Neues Depot</label>

                <div class="controls">
                    <select name="depot" id="depot">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas" style="width:520px;"></div>
                </div>
            </div>
            <div class="form-actions">
                Achtung! Dies ändert das Depot ohne weitere Rückmeldung.<br/><br/>
                <button type="submit" class="btn btn-success">Depot ändern</button>
            </div>
        </form>

        <script>
            var depot_id = {{ loco.abo.depot.id }};
            var loco_addr = '{{ loco.addr_street }}+{{ loco.addr_zipcode }}+{{ loco.addr_location }}';

            var destinations = [];
            var depots = [];
            {% for depot in depots %}
                {% if depot.latitude %}
                    destinations.push("{{ depot.addr_street }}+{{ depot.addr_zipcode }}+{{ depot.addr_location }}")
                    depots.push({
                        name: '{{ depot.name }}',
                        addr_street: '{{ depot.addr_street }}',
                        addr_zipcode: '{{ depot.addr_zipcode }}',
                        addr_location: '{{ depot.addr_location }}',
                        latitude: '{{ depot.latitude }}',
                        longitude: '{{ depot.longitude }}',
                        code: '{{ depot.code }}'
                    });
                {% endif %}
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initMyChangeDepot.js"></script>
{% endblock %}