{% extends "mybase.html" %}

{% block allcontent %}
    <div class="row">
        <div class="span3"></div>
        <div class="span6">
            {% if sent %}
                <div class="alert alert-success">Das Passwort wurde neu gesetzt und dir zugeschickt, falls es diese Email im System gibt. Andernfalls empfehlen wir dir dich <a href="/my/anmelden">hier anzumelden</a></div>
            {% else %}
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <br/><br/>

                    <div class="control-group">
                        <label class="control-label" for="username">Email</label>

                        <div class="controls">
                            <input type="text" name="username" id="username" placeholder="Email-Adresse">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Neues Passwort zusenden</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next|escape }}"/>
                </form>
            {% endif %}
        </div>
        <div class="span3"></div>
    </div>
{% endblock %}
