{% extends "mybase.html" %}

{% block content %}
    <h3>Deine vergangenen Einsätze</h3>

    <div>Achtung, es werden nur Einsätze von diesem Kalenderjahr angezeigt.</div><br/>
    <ul class="unstyled">
        {% for bohne in bohnen %}
            <li>{% if bohne.job.typ.bereich.core %}<img alt="Kernbereich" title="Kernbereich" class="jobstatus" src="/static/img/erbse_voll_kernbereich.png"/>{% else %}<img alt="anderer Tätigkeitsbereich" title="anderer Tätigkeitsbereich" class="jobstatus" src="/static/img/erbse_voll.png"/>{% endif %} &nbsp;<a href="/my/jobs/{{ bohne.job.id }}">{{ bohne.job.typ }}</a><br/>
            <div class="time">{{ bohne.job.time|date:"d.m H:i" }}-{{ bohne.job.end_time|date:"H:i" }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
