<!DOCTYPE html>
<html lang="de">
<head>
    <title>my.ortoloco</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>

    <link href="/static/external/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ortoloco.css" rel="stylesheet">
    <link href="/static/css/myortoloco.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="erbsetop"></div>
    <div class="erbseleft"></div>
    <div class="erbseright"></div>
    <div class="erbsebottom"></div>

    {% if user.is_impersonate %}
        <div class="row impersonate">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    Du imitierst derzeit den Benutzer “{{ user.loco.first_name }} {{ user.loco.last_name }}”. <a
                        href="/impersonate/stop">Beende dies hier</a>.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row myortoloco">
        <div class="col-md-12">
            <a href="/my/home"><span class="myortoloco_logo"></span></a>
        </div>
    </div>
    <div class="row ortoloco">
        {% block allcontent %}
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li class="{{ menu.abonnement }}">
                        <a href="/my/abo">Abo</a>
                    </li>
                    <li class="{{ menu.participation }}">
                        <a href="/my/mitarbeit">Mitarbeit</a>
                    </li>
                    <li class="{{ menu.jobs }}">
                        <a href="/my/einsaetze">Einsätze</a>
                    </li>
                    <li class="{{ menu.personalInfo }}">
                        <a href="/my/profil">Personalien</a>
                    </li>
                    <li class="{{ menu.contact }}">
                        <a href="/my/kontakt">Kontakt</a>
                    </li>
                    <li class="separator"></li>
                    <li class="{{ menu.ortoloco }}">
                        <a href="/aktuelles">ortoloco.ch</a>
                    </li>
                    <li class="{{ menu.logout }}">
                        <a href="/logout">Abmelden</a>
                    </li>
                </ul>
                {% if depot_admin|length > 0 or area_admin|length > 0 or staff_user or politoloco%}
                <hr>
                <h5>Administration</h5>
                <ul class="nav nav-pills nav-stacked admin-menu">
                    {% for depot in depot_admin %}
                        <li class="inline">
                            <a href="/my/filters/depot/{{ depot.id }}">Locos</a> | <a href="/my/abos/depot/{{ depot.id }}">Abos</a> im {{ depot.name }}
                        </li>
                    {% endfor %}
                    {% for area in area_admin %}
                        <li>
                            <a href="/my/filters/area/{{ area.id }}">Locos in {{ area.name }}</a>
                        </li>
                    {% endfor %}
                    {% if staff_user %}
                        <li>
                            <a href="/my/mails">Mails verschicken</a>
                        </li>
                        <li>
                            <a href="/my/depotlisten">Depotlisten drucken</a>
                        </li>
                        <li>
                            <a href="/my/email/export">Emails exportieren (Excel)</a>
                        </li>
                        <li class="inline">
                            Filtern <a href="/my/filters">Locos</a> | <a href="/my/abos">Abos</a>
                        </li>
                        <li>
                            <a href="/my/zukunft">Zukunftsblick</a>
                        </li>
                    {% endif %}
                    {% if politoloco %}
                        <li>
                            <a href="/my/politoloco">politoloco versenden</a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}

                <hr>
                <div class="bohnen">
                    {% block bohnen %}
                        <h5>Dein Böhnli-Konto</h5>
                        {% for i in bohnenrange %}
                            {% if i < userbohnen_kernbereich %}
                                <img alt="Kernbereich" title="Kernbereich" class="jobstatus"
                                     src="/static/img/erbse_voll_kernbereich.png"/>
                            {% elif i < userbohnen_total %}
                                <img alt="anderer Tätigkeitsbereich" title="anderer Tätigkeitsbereich" class="jobstatus"
                                     src="/static/img/erbse_voll.png"/>
                            {% else %}
                                <img alt="Leere Erbse" class="jobstatus" src="/static/img/erbse_leer.png"/>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </div>
                <hr>
                <div class="jobs">
                    {% block next_jobs %}
                        <h5>Nächste Einsätze</h5>
                        {% if next_jobs|length > 0 %}
                            <ul class="unstyled next-jobs">
                                {% for job in next_jobs %}
                                    <li><a href="/my/jobs/{{ job.id }}" {% if job.canceled %} class="canceled"{% endif %}>{{ job.typ.name }}</a><br/>

                                        <div class="time">{{ job.time|date:"d.m H:i" }}-{{ job.end_time|date:"H:i" }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Noch für keine Jobs angemeldet
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>

<script type="text/javascript" src="/static/external/jquery-1.11.2/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/external/bootstrap-3.3.1/js/bootstrap.min.js"></script>

{% block scripts %}
    {# no scripts by default #}
{% endblock %}
</body>
