{% extends "mybase.html" %}

{% block content %}
    <h4>Dein Konto</h4>
    {% for i in bohnenrange %}
        {% if i <= userbohnen %}
            <img class="jobstatus" src="/static/img/erbse_voll.png"/>
        {% else %}
            <img class="jobstatus" src="/static/img/erbse_leer.png"/>
        {% endif %}
    {% endfor %}
    <br/><br/>
    <h4>Aktuelle Arbeitseinsätze</h4>
    <table class="jobs">
        {% for job in jobs %}
            <tr>
                <td class="date">{{ job.time |date:"d.m.Y G:i" }}</td>
                <td><a href="/my/jobs/{{ job.id }}">{{ job.typ }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <br/><br/>
    <h4>Kalender der Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
