{% extends "mybase.html" %}

{% block content %}
    {% if no_abo %}
        <div class="alert">Du hast kein Abo</div>
        <br/><br/>
    {% endif %}
    <h3>Aktuelle Arbeitseinsätze</h3>
    <table class="jobs">
        {% for job in jobs %}
            <tr class="{% if job.status == "erbse_voll.png" %}full{% endif %}">
                <td class="date">{{ job.time |date:"d.m.Y G:i" }}</td>
                <td><a href="/my/jobs/{{ job.id }}">{{ job.typ }}</a></td>
                <td class="status"><img src="/static/img/{{ job.status }}"/></td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="/my/einsaetze/">Hier alle Arbeitseinsätze anzeigen</a>
    <br/><br/><br/>
    <h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
