{% extends "mybase.html" %}

{% block content %}
    <h3>Passwort ändern</h3>
    <br/>
    <br/>
    {% if success %}
        <div class="alert alert-success">Passwort erfolgreich geändert</div>
    {% else %}
        <form action="/my/passwort" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if form.password.errors %}error{% endif %}">
                <label class="control-label" for="password">Passwort</label>
                <div class="controls">
                    <input type="password" name="password" id="password">
                </div>
            </div>
            {% if form.password.errors %}
                <div class="alert alert-danger">Passwort ungültig</div>
            {% endif %}
            <div class="form-group {% if form.passwordRepeat.errors %}error{% endif %}">
                <label class="control-label" for="passwordRepeat">Passwort (wiederholung)</label>

                <div class="controls">
                    <input type="password" name="passwordRepeat" id="passwordRepeat">
                </div>
            </div>
            {% if form.passwordRepeat.errors %}
                <div class="alert alert-danger">Passwortwiederholung ungültig</div>
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Passwort ändern</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
