{% extends "mybase.html" %}

{% block content %}
    <h3>Personalien ändern</h3>
    <br/>
    {% if success %}
        <div class="alert alert-success">Personalien erfolgreich geändert</div>
    {% else %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if locoform.first_name.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_first_name">Vorname</label>

                <div class="controls col-sm-8">
                    {{ locoform.first_name }}
                </div>
            </div>
            {% if locoform.first_name.errors %}
                <div class="alert alert-danger">Vorname ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.last_name.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_last_name">Nachname</label>

                <div class="controls col-sm-8">
                    {{ locoform.last_name }}
                </div>
            </div>
            {% if locoform.last_name.errors %}
                <div class="alert alert-danger">Nachname ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.addr_street.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_addr_street">{{ locoform.addr_street.label }}</label>

                <div class="controls col-sm-8">
                    {{ locoform.addr_street }}
                </div>
            </div>
            {% if locoform.addr_street.errors %}
                <div class="alert alert-danger">Strasse ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.addr_zipcode.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_addr_zipcode">{{ locoform.addr_zipcode.label }}</label>

                <div class="controls col-sm-8">
                    {{ locoform.addr_zipcode }}
                </div>
            </div>
            {% if locoform.addr_zipcode.errors %}
                <div class="alert alert-danger">PLZ ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.addr_location.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_addr_location">{{ locoform.addr_location.label }}</label>

                <div class="controls col-sm-8">
                    {{ locoform.addr_location }}
                </div>
            </div>
            {% if locoform.addr_location.errors %}
                <div class="alert alert-danger">Ort ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.phone.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_phone">{{ locoform.phone.label }}</label>

                <div class="controls col-sm-8">
                    {{ locoform.phone }}
                </div>
            </div>
            {% if locoform.phone.errors %}
                <div class="alert alert-danger">Telefon ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.mobile_phone.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_mobile_phone">{{ locoform.mobile_phone.label }}</label>

                <div class="controls col-sm-8">
                    {{ locoform.mobile_phone }}
                </div>
            </div>
            {% if locoform.mobile_phone.errors %}
                <div class="alert alert-danger">Mobile ungültig</div>
            {% endif %}

            <div class="form-group {% if locoform.email.errors %}error{% endif %}">
                <label class="control-label col-sm-4" for="id_email">E-Mail Adresse</label>

                <div class="controls col-sm-8">
                    {{ locoform.email }}
                </div>
            </div>
            <div class="form-group {% if locoform.email.errors %}error{% endif %}">
                <label class="control-label col-sm-4"></label>

                {% if locoform.email.errors %}
                    <div class="alert alert-danger">E-Mail ungültig</div>
                {% endif %}
                <div class="controls col-sm-8">
                    <a href="/my/passwort">hier kannst du dein Passwort ändern</a>
                </div>
            </div>
            <div class="form-actions col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-success">Personalien ändern</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
