{% extends "base.html" %}

{% block content %}
	<h3>Das Abo</h3>
	KonsumentInnen aus Zürich, Dietikon und Umgebung abonnieren für mindestens ein Jahr eine Gemüsetasche, die wöchentlich ins Quartierdepot gebracht wird. Der Anbau erfolgt nach den Erkenntnissen und Richtlinien der Bio Suisse. ortoloco kultiviert eine grosse Sortenvielfalt und erntet auch verschiedene essbare Wildkräuter. Die Konsumkultur wird den Jahreszeiten und der regionalen Produktion angepasst. Somit ist das Gemüse immer frisch und geschmackvoll. <br/><br/>

	Der jährliche Betriebsbeitrag richtet sich nach der Abo-Grösse:
	<ul>
		<li>kleine Tasche (2-3 Personen): CHF 1'100</li>
		<li>grosse Tasche (4-6 Personen): CHF 2'200</li>
		<li>Gastro-Kiste (für ca. 40 Suppenportionen): CHF 4'400</li>
		<li>Haus-Abo (10 Haushalte): CHF 11'000</li>
		<li>Nachbarschafts-Abo (100 Haushalte): CHF 110'000 </li>
	</ul>

	Zusätzlich zum Gemüse können im Abo auch Obst, Eier und Käse von Partnerbetrieben sowie Brot vom Schwesterprojekt brotoloco bezogen werden. 	
{% endblock %}
