{% extends "base.html" %}

{% block content %}
	<h3>Die Idee</h3>
		ortoloco ist eine selbstverwaltete Gemüsekooperative. Ihre Mitglieder versuchen so zu wirtschaften, dass sie dahinter stehen können - und der Humor dabei nicht auf der Strecke bleibt.<br/><br/>
		Es geht um hochwertige Lebensmittel, faire Arbeitsbedingungen und ökologische Produktionsmethoden. Zudem versteht sich ortoloco als Labor für Wirtschaftsexperimente: ortoloco ist ein Netzwerk von Menschen, die sich gemeinsam Gedanken machen über das gute Leben, und sich für initiative Wirtschaftsprojekte den nötigen Raum schaffen. <br/><br/>Denn vielleicht stimmt ja das Geschwätz von Kostendruck, Konkurrenzkampf und Wachstumszwang gar nicht? 
	
{% endblock %}
