{% extends "base.html" %}

{% block content %}
    <h3>Der Hintergrund</h3>
    ortoloco ist Ende 2009 im Rahmen der "MontagsWerkstatt", dem Forum zu alternativen Wirtschaftsformen, in Zürich entstanden. <br/>
    Die Idee ist inspiriert von P.M.'s Buch "Neustart Schweiz" und basiert
    auf der Vision, eines vielfältigen (Land-)Wirtschafts-betriebes mit integrierten Elementen wie beispielsweise Hofbäckerei, Käserei, Textilien und Kindergarten. Gemäss den eigenen Fähigkeiten und
    Interessen engagieren sich die Beteiligten im Betrieb. Längerfristig würden sich ganze Quartiere anstatt der Einzelhaushalte gemeinsam organisieren. Nach diesem Modell könnte die regionale
    Nahrungsmittelversorgung auch grossräumig in die Stadtplanung einbezogen werden.
    <br/><br/>
    Bereits sind in und aus ortoloco Gruppen aktiv, welche Kräuter, Beeren, Pilze, Brot, Wein und Schuhe produzieren. So wird die Vision Schritt für Schritt zur Realität.
    <br/><br/>
    Die "Regionale Vertragslandwirtschaft (RVL)" ist seit Jahrzehnten ein bewährtes Modell der direkten Zusammenarbeit von ProduzentInnen und KonsumentInnen. Mittlerweile versorgen sich über 6000
    Menschen in der Schweiz in dieser Form mit Gemüse.
{% endblock %}
