{% extends "base.html" %}

{% block content %}
	<h3>Kontakt</h3>
    {% if success == 1  %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% if failure == 1 %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
	<div>Das ortoloco-Gemüsefeld befindet sich am Stadtrand von Dietikon im Zürcher Limmattal</div>
	<div id="map-canvas"></div>
    <br/>
    <br/>
    Hier gehts zu den möglichen <a href="/static/others/Veloroute.pdf">Velorouten</a>
    <br/><br/>
	<div class="addresses row">
		<div class="col-md-6">
			<strong>Adresse ortoloco-Gemüsefeld</strong><br/>
            ortoloco - Die regionale Gartenkooperative<br/>
            Spreitenbacherstrasse 35<br/>
            8953 Dietikon<br/>
            info@ortoloco.ch
		</div>
		<div class="col-md-6">
			<strong>Adresse Administration</strong><br/>
			ortoloco - c/o albizke<br/>
			Albisriederstr. 203b<br/>
			8047 Zürich<br/>
			info@ortoloco.ch<br />
			<br />
			<small>(Wegbeschreibung - 3ter Hauseingang (nach ca. 50m) rechts, dann 1. Stock rechts - <a href="https://www.google.com/maps/place/47°22%2740.9%22N+8°29%2746.7%22E/@47.378032,8.496302,165m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0">Googlemaps</a>)</small>
		</div>
	</div>
	<h3>Newsletter abonnieren</h3>
	<form class="form" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <div class="checkbox">
            <label>
              <input type="checkbox" name="polit" value="subscribe">
              Ich möchte den unregelmässig erscheinenden Polit-Newsletter zu aktuellen Themen und Veranstaltungen der Alternativ-Kultur abonnieren.
            </label>
        </div>
		<div class="email form-inline">
            <div class="form-group">
                <label for="email">Meine Email-Adresse:</label>
                <input id="email" class="form-control" name="email" type="text" placeholder="hans@muster.ch">
            </div>
        </div>
        <br/>
		<div class="form-actions">
		  <button type="submit" class="btn btn-success">Abonnieren</button>
		</div>
        <br/>
        <br/>
        Oder zwitschere mit uns auf Twitter: <a href="https://twitter.com/PolitolocoZueri">@PolitolocoZueri</a>
        <br/>
	</form>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initContact.js"></script>
{% endblock %}
