{% extends "base.html" %}

{% block content %}
    <h3>GenossenschafterIn werden</h3>
    Interessiert an ortoloco?
    <br/><br/>
    Die Mitgliedschaft bei ortoloco ist geknüpft an den Erwerb von rückzahlbaren Anteilscheinen in der Höhe von CHF 250 pro Anteilschein. Die Anzahl Anteilscheine ist abhängig von der Abogrösse. Dabei
    sind in der Regel für ein kleines Gemüseabo zwei und für ein grosses Gemüseabo vier Anteilscheine zu erwerben. Die Anteilscheine sind das Genossenschaftskapital, das vor allem zur Finanzierung von
    Investitionen – zum Beispiel Infrastruktur – verwendet wird.
    <br/><br/>
    Die GenossenschafterInnen tragen im Rahmen ihrer Motivationen, Prioritäten und Möglichkeiten gemeinsam zum Gelingen des Betriebes bei. Wer bei ortoloco ein Gemüseabo bezieht, verpflichtet sich zur
    Mitarbeit: Für's kleine Gemüseabo sind jährlich mindestens 10 und für's grosse Gemüseabo 20 Einsätze. Zusätzliches wie auch spontanes Engagement ist jederzeit willkommen.
    <br/>
    <br/>
    Bevor du dich als GenossenschafterIn anmeldest, lies bitte die Statuten und das Betriebsreglement durch.
    <ul>
        <li><a target="_blank" href="/static/others/160910_-_Statuten_ortoloco.pdf">Statuten</a></li>
        <li><a target="_blank" href="/static/others/160910_-_Betriebsreglement_ortoloco.pdf">Betriebsreglement</a></li>
    </ul>
    <br/>
    <a href="/my/anmelden" class="btn btn-success">GenossenschafterIn werden</a>
{% endblock %}
