{% extends "base.html" %}

{% block content %}
	<h3>GenossenschafterIn werden</h3>
	Interessiert an ortoloco? Melde dich direkt über die Website oder per Talon bei. Quartierdepots gibt es bisher in Dietikon, Altstetten, Wiedikon, Affoltern, Zürich Hardturm und Röntgenplatz. Neue Depots könnten bald in Urdorf, Enge/Wollishofen sowie am Hottingerplatz entstehen. Eine regionale Lebensmittelversorgung kann am besten in bestehenden Nachbarschaften umgesetzt werden. ortoloco sucht die Zusammenarbeit mit sozial und ökologisch ausgerichteten Siedlungen, Grossküchen, Gastrobetrieben und Schulen. <br/><br/>

	Die Mitgliedschaft bei ortoloco ist geknüpft an den Erwerb von rückzahlbaren Anteilscheinen in der Höhe von CHF 250 pro Anteilschein. Die Anzahl Anteilscheine ist abhängig von der Abogrösse. Dabei sind in der Regel für ein kleines Gemüseabo zwei und für ein grosses Gemüseabo vier Anteilscheine zu erwerben. Die Anteilscheine sind das Genossenschaftskapital, das vor allem zur Finanzierung von Investitionen - zum Beispiel Infrastruktur - verwendet wird. <br/><br/>

	Die GenossenschafterInnen tragen im Rahmen ihrer Motivationen, Prioritäten und Möglichkeiten gemeinsam zum Gelingen des Betriebes bei - sei es beim Ernten, Abpacken, Verteilen, Fyrobigjäten, an Aktionstagen oder in der Administration. Wer bei ortoloco ein Gemüseabo bezieht, verpflichtet sich zu jährlich 5 Arbeitseinsätzen, das heisst pro kleine Tasche 10 und pro grosse Tasche 20. Zusätzliches wie auch spontanes Engagement ist jederzeit willkommen. <br/><br/>

	<a href="/my/anmelden" class="btn btn-success"/>GenossenschafterIn werden</a>
{% endblock %}
