{% extends "base.html" %}

{% block content %}
	<h3>Medienecho</h3>
	<table class="table medias">
		{% with lastYear=0 %}
		{% for media in medias %}
	  		<tr class="{% if media.shown %}shown {% endif %}{% ifchanged media.year %} newYear{% endifchanged %}">
	  			<td class="year">
                    {% ifchanged media.year %}
                        {% if not media.shown %} <a href="/medien?year={{ media.year }}"> {% endif %}
                        {{ media.year }}
                        {% if not media.shown %} </a> {% endif %}
                    {% endifchanged %}
	  			</td>
                {% if media.shown %}
	  			    <td><a target="_blank" href="/medias/{{media.mediafile}}">{{media.name}}</a></td>
                {% endif %}
                {% if not media.shown %}
	  			    <td><a href="/medien?year={{ media.year }}">dieses Jahr anzeigen</a></td>
                {% endif %}
	  		</tr>
		{% endfor %}
		{% endwith %}
	</table>
{% endblock %}
