{% extends "base.html" %}

{% block content %}
    <h3>Das Portrait</h3>

    <h5>Jahresberichte</h5>
    <ul>
        <li><a href="/static/others/Jahresbericht_2013.pdf">2013</a></li>
        <li><a href="/static/others/Jahresbericht_2012.pdf">2012</a></li>
        <li><a href="/static/others/Jahresbericht_2011.pdf">2011</a></li>
        <li><a href="/static/others/Jahresbericht_2010.pdf">2010</a></li>
    </ul>

    Als gemeinschaftliche Initiative von LandwirtInnen und KonsumentInnen verfolgt ortoloco ein einfaches Prinzip: Die Genossenschaft ortoloco pachtet vom Limmattaler Biohof "Im Fondli" 1.4 Hektaren
    Ackerland und baut unter der Anleitung von fest angestellten GärtnerInnen über 60 Gemüsesorten an. Das Gemüse wird wöchentlich von den Beteiligten geerntet, verteilt und konsumiert.
    <br/><br/>
    Die Mitglieder fällen die wichtigen Entscheidungen gemeinsam an den Genossenschaftsversammlungen. Durch die Mitarbeit im Betrieb übernehmen die KonsumentInnen Verantwortung. So entsteht ein
    lebendiger Bezug zu den Produkten.
    <br/><br/>
    Sowohl Kosten wie auch Risiken des Betriebs werden gemeinsam getragen: alle leisten den Aufwand und alle ernten den Ertrag. Für die LandwirtInnen fallen die oft fragwürdigen Ansprüche des Marktes
    weg, was ökologisch und sozial zu besseren Bedingungen in der Landwirtschaft führt.
    <br/><br/>
    ortoloco ist ein vielfältiges soziales Netzwerk. Der Fondlihof bietet Raum für Feste, Veranstaltungen und gemütliches Zusammensein.
{% endblock %}