{% extends "base.html" %}

{% block content %}
	<h3>Das Portrait</h3>
			
Als gemeinschaftliche Initiative von LandwirtInnen und KonsumentInnen verfolgt ortoloco ein einfaches Prinzip: KonsumentInnen pachten vom Limmattaler Biohof "Fondli" Ackerland und bauen zusammen mit einer fest angestellten Gärtnerin über 60 Gemüsesorten und anderes Essbares an: von Kopfsalat und Radiesli über Bohnen, Tomaten und Auberginen bis hin zu Schwarzwurzeln, Randen, Palmkohl, Kräutern, Beeren und mehr. Das Gemüse wird durch die Beteiligten geerntet, wöchentlich verteilt und konsumiert. <br/><br/>

Sowohl Kosten wie auch Risiken des Betriebs werden gemeinsam getragen: alle leisten den Aufwand und alle ernten den Ertrag. ortoloco ist als Genossenschaft organisiert. Die Mitglieder fällen die wichtigen Entscheidungen gemeinsam an den Genossenschaftsversammlungen. Durch die Mitarbeit im Garten, bei der Verteilung, in Organisation und Administration übernehmen die KonsumentInnen grosse Teile der betrieblichen Verantwortung. So entsteht ein lebendiger Bezug zu Produktion und Vertrieb. Gleichzeitig fallen für die ProduzentInnen die oft fragwürdigen Ansprüche des Marktes weg, was ökologisch und sozial zu besseren Bedingungen in der Landwirtschaft führt. <br/><br/>

ortoloco ist ein vielfältiges soziales Netzwerk. Kulturstall und Feuerstelle bieten auf dem Fondlihof Raum für Feste, Veranstaltungen und gemütliches Zusammensein. In Arbeits- und Projektgruppen können eigene Ideen umgesetzt werden. 
	
{% endblock %}