{% extends "no_menu_base.html" %}
{% load i18n %}
{% load config %}
{% block allcontent %}
    {% config "enable_registration" as enable_registration %}
    <div class="offset-md-2 col-md-8">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label class="control-label col-md-3" for="username">
                    {% trans "Email" %} {% config "demouser" %}
                </label>
                <div class="controls col-md-6">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Email-Adresse"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3"for="password">
                    {% trans "Passwort" %} {% config "demopwd" %}
                </label>
                <div class="controls col-md-6">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Passwort"/>
                </div>
            </div>
            {% if form.errors %}
                <div class="offset-md-3 col-md-6 alert alert-danger">
                    {% trans "Sorry, das ist kein gültiges Login" %}
                </div>
            {% endif %}
            <div class="form-group row">
                <div class="offset-md-3 col-md-6">
                    <button type="submit" class="btn btn-success">
                        {% trans "Anmelden" %}
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-6">
                    <a href="/my/newpassword">
                        {% trans "Neues Passwort anfordern" %}
                    </a>
                </div>
            </div>
            {% if enable_registration %}
                <div class="form-group row">
                    <div class="offset-md-3 col-md-6">
                        <a href="/my/signup">
                            {% trans "Registrieren und mitmachen!" %}
                        </a>
                    </div>
                </div>
            {% endif %}
            <input type="hidden" name="next" value="{{ next|escape }}"/>
        </form>
    </div>
{% endblock %}
