{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% block allcontent %}
    <div class="offset-md-2 col-md-8">
        <p>{% translate 'Passwort vergessen? Einfach die E-Mail-Adresse unten eingeben und den Anweisungen zum Zurücksetzen des Passworts in der E-Mail folgen.' %}</p>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            <div class="alert alert-danger mb-3">
                {{ form.email.errors }}<br>
                {% translate 'Brauchst du Hilfe? Melde dich bei' %}
                <a href="mailto:{% contacts "technical" %}?subject={% trans "Ich kann mein Passwort nicht zurücksetzen" %} {% site_name %}">
                    {% contacts "technical" %}
                </a>
            </div>
            {% endif %}
            <div class="form-group row">
                <label class="control-label col-md-3" for="email">
                    {% trans "E-Mail-Adresse" %}:
                </label>
                <div class="controls col-md-6">
                    <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput form-control" required="" id="id_email">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-6">
                    <input type="submit" class="btn btn-success" value="{% translate 'Mein Passwort zurücksetzen' %}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
