{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block allcontent %}
    <div class="offset-md-2 col-md-8">

        {% if validlink %}

        <p>{% translate "Bitte gib dein neues Passwort zweimal ein, damit wir überprüfen können, ob es richtig eingetippt wurde." %}</p>

        <form method="post">
        <fieldset class="module aligned">
            {% csrf_token %}
            <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-group row field-password1">
                <label class="control-label col-md-3" for="id_new_password1">{% translate 'Neues Passwort:' %}</label>
                <div class="controls col-md-6">
                    <input type="password" name="new_password1" autocomplete="new-password" required="" class="form-control" id="id_new_password1">
                </div>
            </div>
            <div class="form-group row field-password2">
                <label class="control-label col-md-3" for="id_new_password2">{% translate 'Passwort wiederholen:' %}</label>
                <div class="controls col-md-6">
                    <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control" id="id_new_password2">
                </div>
            </div>

            {% if form.new_password1.errors or form.new_password2.errors %}
            <div class="alert alert-danger mb-3">
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </div>
            {% endif %}

            <div class="offset-md-3 col-md-6">
                <input type="submit" class="btn btn-success" value="{% translate 'Mein Passwort ändern' %}">
            </div>
        </fieldset>
        </form>

        {% else %}

        <div class="alert alert-danger">
            <p>{% translate "Der Link zum Zurücksetzen deines Passworts ist ungültig, wahrscheinlich weil er schon einmal benutzt wurde. Bitte setze dein Passwort erneut zurück." %}</p>
        </div>

        {% endif %}
    </div>
{% endblock %}
