{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block allcontent %}
    <div class="offset-md-3 col-md-6">
        <div class="alert alert-success mb-3">
            <p>{% translate 'Wir haben eine E-Mail zum Zurücksetzen des Passwortes an die angegebene E-Mail-Adresse gesendet, sofern ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.' %}</p>

            <p>{% translate 'Falls die E-Mail nicht angekommen sein sollte, bitte die E-Mail-Adresse auf Richtigkeit und gegebenenfalls den Spam-Ordner überprüfen.' %}</p>

            <p>{% translate 'Brauchst du Hilfe? Melde dich bei' %}
                <a href="mailto:{% contacts "technical" %}?subject={% trans "Ich habe keine E-mail zum Zurücksetzen des Passworts erhalten" %} {% site_name %}">
                    {% contacts "technical" %}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
