{% load juntagrico.common %}
{% load i18n %}
{% load juntagrico.config %}
{% block all %}
    {% config "share_price_display" as c_share_price %}
    {% blocktrans trimmed with v_share=vocabulary.share %}
        1 {{ v_share }} hat einen Wert von {{ c_share_price }}.
    {% endblocktrans %}
    <br>
    {% blocktrans trimmed with v_share_pl=vocabulary.share_pl %}
        Die {{ v_share_pl }} sind das Kapital, das vor allem zur Finanzierung von Investitionen –
        zum Beispiel Infrastruktur - verwendet wird.
        Beim Austritt werden die {{ v_share_pl }} rückerstattet.
    {% endblocktrans %}
{% endblock %}
