{% extends "../part/change.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}{{ v_subscription }} verlängern{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    <div class="alert alert-secondary">
        <i class="bi bi-envelope"></i>
        {% blocktrans trimmed with owner=form.part.subscription.primary_member %}
            {{ owner }} wird bei Bestellung automatisch per E-Mail benachrichtigt.
        {% endblocktrans %}
    </div>
    {{ block.super }}
{% endblock %}