{% extends "base.html" %}
{% block small_menu_content %}
{% endblock %}

{% block all_page_title %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% block title %}{% endblock %}
        </h3>
    </div>
{% endblock %}

{% block allcontent %}
    <div class="offset-md-2 col-md-8">
        <div class="mb-5">
            {% block intro %}{% endblock %}
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer_content %}
{% endblock %}