{% extends "juntagrico/signup/base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}

{% block title %}
    {% blocktrans with v_member_type=vocabulary.member_type %}{{ v_member_type }} werden{% endblocktrans %}
{% endblock %}

{% block intro %}
    {% config "enable_shares" as c_enable_shares %}
    {% config "share_price" as c_share_price %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% block intro_1 %}
        <p>{% blocktrans %}Interessiert an {{ v_d_enriched_organisation }}?{% endblocktrans %}</p>
    {% endblock %}

    <p>
        {% block intro_2 %}
            {% blocktrans trimmed %}
                Bei {{ v_d_enriched_organisation }} tragen Alle im Rahmen ihrer Motivationen, Prioritäten und
                Möglichkeiten gemeinsam zum Gelingen des Betriebes bei.
            {% endblocktrans %}
        {% endblock %}
    </p>

    {% config "business_regulations" as c_business_regulations %}
    {% if c_business_regulations.strip %}
        {% block read_instructions %}
            <p>
                {% blocktrans trimmed with v_member_type=vocabulary.member_type %}
                    Bevor du dich anmeldest, lies bitte Folgendes durch:
                {% endblocktrans %}
                <ul>
                    <li>
                        <a target="_blank" href="{{ c_business_regulations|safe }}">
                            {% trans "Betriebsreglement" %}
                        </a>
                    </li>
                </ul>
            </p>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% crispy form %}
    </form>
{% endblock %}
