{% load juntagrico.common %}
{% load juntagrico.depot_extras %}
{% load i18n %}
{% load juntagrico.config %}
<html>
<head>
    <title>{% trans "Mengen Übersicht" %}</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>

<body>
<div id="header_content">
    {% trans "Erstellt am" %} {% now "d.m.Y H:i" %},
    {% trans "Stichtag" %} {{ date|date:"d.m.Y" }}
</div>

{% if tour_days|count > 1 %}
    {% include "./snippets/snippet_tour_overview.html" %}

    {% regroup tours.sort_by_weekday by weekday as tours_by_day %}
    {% for tour_days in tours_by_day %}
        {% include "./snippets/snippet_tour.html" with day=tour_days.grouper tours=tour_days.list %}
    {% endfor %}
{% else %}
    <div>
    <table cellpadding="5" cellspacing="0" class="bottom-border width-100 mb-5">
            {% include "./snippets/snippet_tour_header.html" %}
            {% for tour in tours %}
                <tr>
                    <td>{{ tour.name }}</td>
                    <td class="text-right">{{ subscriptions|by_tour:tour|count_units:date|floatformat }}</td>
                    {% for product in products %}
                        {% for size in product.sizes.on_depot_list.sorted %}
                            <td class="text-right">{{ subscriptions|by_tour:tour|parts_by_size:size|active_on:date|count|floatformat }}</td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
            {% if subscriptions|by_tour:None|count_units:date %}
                <tr>
                    <td>{% trans "Keine" %}</td>
                    <td class="text-right">{{ subscriptions|by_tour:None|count_units:date|floatformat }}</td>
                    {% for product in products %}
                        {% for size in product.sizes.on_depot_list.sorted %}
                            <td class="text-right">{{ subscriptions|by_tour:None|parts_by_size:size|active_on:date|count|floatformat }}</td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                <td><b>{% trans "Alle" %}</b></td>
                <td class="text-right">{{ subscriptions|count_units:date|floatformat }}</td>
                {% for product in products %}
                    {% for size in product.sizes.on_depot_list.sorted %}
                        <td class="text-right">{{ subscriptions|parts_by_size:size|active_on:date|count|floatformat }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endif %}
</body>
</html>
