{% load depot_extras %}
{% load i18n %}
{% load config %}
{% vocabulary "depot" as v_depot %}
<html>
<head>
    <title>{% blocktrans %}{{ v_depot }}-Listen{% endblocktrans %}</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>

<body>
<div id="header_content" class="gendate">
    {% now "d.m.Y H:i" %}
</div>
<div id="footer_content">
    {% for message in messages %}
        <div class="message">{{ message }}</div>
    {% endfor %}
</div>

{% for depot in depots %}
    {% include "./snippets/snippet_depotlist_header.html" with first=True %}
    {% for subscription in depot.active_subscriptions %}
        <tr class="bottom-border">
            <td class="namecol top-border left-border horz-left">{{ subscription.recipients_display_name }}</td>
            {% for product in products %}
                {% for size in product.sizes_for_depot_list %}
                    <td class="top-border left-border">{{ subscription|get_types_by_size:size|count|default:'' }}</td>
                {% empty %}
                    <td class="top-border left-border"></td>
                {% endfor %}
            {% endfor %}
            {% for category in extra_sub_categories %}
                {% for type in category.types_for_depot_list %}
                    <td class="top-border left-border">{{ subscription|get_extra_subs_by_type:type|count|default:'' }}</td>
                {% empty %}
                    <td class="top-border left-border"></td>
                {% endfor %}
            {% endfor %}
            <td class="checkboxcol top-border left-border"></td>
            <td class="checkboxcol top-border left-border right-border"></td>
        </tr>
    {% endfor %}
    </table>
    <div class="page-break"></div>
{% endfor %}
</body>
</html>
