{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.widgets %}
{% assignment_data request as asdata %}
<hr/>
<div class="assignments">
    {% block assignments %}
        <h5>
            {% vocabulary "subscription" %} {% vocabulary "assignment_pl" %}-{% trans "Übersicht" %}
        </h5>
        {% spaceless %}
        {% for i in asdata.total %}
            {% if i < asdata.member_core %}
                <img alt="{% trans "Kernbereich" %}"
                     title="{% trans "Kernbereich" %}"
                     src="{% images "single_core" %}"/>
            {% elif i < asdata.member %}
                <img alt="{% trans "anderer Tätigkeitsbereich" %}"
                     title="{% trans "anderer Tätigkeitsbereich" %}"
                     src="{% images "single_full" %}"/>
            {% elif i < asdata.partner_core_bound %}
                <img alt="{% trans "Kernbereich Partner" %}"
                     title="{% trans "Kernbereich Partner" %}"
                     src="{% images "single_core" %}" class="partner-assignments"/>
            {% elif i < asdata.partner_bound %}
                <img alt="{% trans "anderer Tätigkeitsbereich Partner" %}"
                     title="{% trans "anderer Tätigkeitsbereich Partner" %}"
                     src="{% images "single_full" %}" class="partner-assignments"/>
            {% else %}
                <img alt="{% trans "noch zu erledigen" %} ({% vocabulary "subscription" %})"
                     title="{% trans "noch zu erledigen" %} ({% vocabulary "subscription" %})"
                     src="{% images "single_empty" %}"/>
            {% endif %}
        {% endfor %}
        {% endspaceless %}
    {% endblock %}
</div>
