{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>
        {% trans "Exporte" %}
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "member_pl" as v_member_pl %}
    {% vocabulary "share_pl" as v_share_pl %}
    {% vocabulary "assignment_pl" as v_assignment_pl %}
    {% vocabulary "subscription_pl" as v_subscription_pl %}
    <div class="alert alert-danger">
        {% trans "Diese Exporte werden in einer zukünftigen Version entfernt. Sprich mit deiner/m System-Admin, falls die neuen Exporte deine Anforderungen nicht abdecken." %}
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            {{ v_member_pl }}
        </div>
        <div class="col-md-3">
            <a href="{% url 'export-members' %}">
                {% trans "exportieren" %}
            </a>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning">
                {% trans "Neu: Datenverwaltung" %}
                <a href="{% url 'admin:juntagrico_member_changelist' %}">&rarr; {{ v_member_pl }}</a>
                {% trans "&rarr; Exportieren (oben rechts)" %}
                {% trans "&rarr; Ressource:" %} "{{ v_member_pl }}"
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            {% blocktrans %}{{ v_member_pl }} mit {{ v_assignment_pl }} und Tätigketsbereichen{% endblocktrans %}
        </div>
        <div class="col-md-3">
            <a href="{% url 'export-membersfilter' %}">
                {% trans "exportieren" %}
            </a>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning">
                {% trans "Neu: Datenverwaltung" %}
                <a href="{% url 'admin:juntagrico_member_changelist' %}">&rarr; {{ v_member_pl }}</a>
                {% trans "&rarr; Exportieren (oben rechts)" %}
                {% trans "&rarr; Ressource:" %} "{{ v_member_pl }} {% trans "mit ..." %}"
            </div>
        </div>
    </div>
    {% config "enable_shares" as c_enable_shares %}
    {% if c_enable_shares %}
        <div class="row mb-4">
            <div class="col-md-3">
                {{ v_share_pl }}
            </div>
            <div class="col-md-3">
                <a href="{% url 'export-shares' %}">
                    {% trans "exportieren" %}
                </a>
            </div>
            <div class="col-md-6">
                <div class="alert alert-warning">
                    {% trans "Neu: Datenverwaltung" %}
                    <a href="{% url 'admin:juntagrico_share_changelist' %}">&rarr; {{ v_share_pl }}</a>
                    {% trans "&rarr; Exportieren (oben rechts)" %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mb-4">
        <div class="col-md-3">
            {{ v_subscription_pl }}
        </div>
        <div class="col-md-3">
            <a href="{% url 'export-subscriptions' %}">
                {% trans "exportieren" %}
            </a>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning">
                {% trans "Neu: Datenverwaltung" %}
                <a href="{% url 'admin:juntagrico_subscription_changelist' %}">&rarr; {{ v_subscription_pl }}</a>
                {% trans "&rarr; Exportieren (oben rechts)" %}
            </div>
        </div>
    </div>
{% endblock %}
