{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.subscription %}
{% vocabulary "subscription" as v_subscription %}
<div class="row mt-3">
    <div class="col-md-2">
        {% trans "Bestandteile" %}
    </div>
    <div class="col-md-4">
        {% blocktrans trimmed with ncd=next_cancel_date|date:"F" nby=next_business_year|date:"F" %}
        Die {{ v_subscription }}-Bestandteile (auch die Kündigung) kann in der Regel nur jährlich geändert
        werden
        und muss bis spätestens Ende {{ ncd }} gemacht werden,
        damit die Änderung auf Anfang {{ nby }} in Kraft tritt.
        {% endblocktrans %}
    </div>
    <div class="col-md-4">
        {% trans "Nächstmögliches Datum" %}:
        <br/>
        {{ next_business_year |date:"d.m.Y" }}
        <br/>
        {% trans "Zukünftige Bestandteile" %}:
        <br/>
        {{ subscription.future_part_overview|overview|safe }}
        <br/>
    </div>
    <div class="col-md-2">
        <a href="{% url 'size-change' subscription.id %}" class="btn btn-success" >
            {% trans "Bestandteile ändern" %}
        </a>
    </div>
</div>