{% extends "../base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% load juntagrico.common %}
{% load juntagrico.snippets %}

{% block page_title %}
    <h3>
        {{ title }}
    </h3>
{% endblock %}

{% block content %}
    {% include '../member/snippets/toggle_buttons.html' with co_members=True %}
    {{ block.super }}
{% endblock %}

{% block list %}
    <table id="filter-table" class="list table">
        <thead>
            <tr>
                {% block list_head %}
                    <th class="filter">
                        {% vocabulary "subscription" %}
                    </th>
                    <th class="filter">
                        {% trans "Inhalt" %}
                    </th>
                    <th class="filter">
                        {% vocabulary "depot" %}
                    </th>
                    <th class="filter">
                        {% trans "Aktivierungsdatum" %}
                    </th>
                    <th class="filter">
                        {% trans "Kontakt" %}
                    </th>
                {% endblock %}
            </tr>
        </thead>
        <tfoot>
            <tr>
                {% block list_foot %}
                    <th>
                        {% vocabulary "subscription" %}
                    </th>
                    <th>
                        {% trans "Inhalt" %}
                    </th>
                    <th>
                        {% vocabulary "depot" %}
                    </th>
                    <th>
                        {% trans "Aktivierungsdatum" %}
                    </th>
                    <th>
                        {% trans "Kontakt" %}
                    </th>
                {% endblock %}
            </tr>
        </tfoot>
        <tbody>
            {% for subscription in object_list %}
                {% block list_entry %}
                    <tr>
                        <td>
                            {% include './snippets/display_linked.html' %}
                        </td>
                        <td>
                            {% for item in subscription.content_strings %}
                                <div>
                                    {{ item }}
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {{ subscription.depot.name }}
                        </td>
                        <td>
                            {{ subscription.activation_date|date:"Y-m-d" }}
                        </td>
                        <td>
                            {% include './snippets/members_linked.html' %}
                        </td>
                    </tr>
                {% endblock %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
