{% extends "../base.html" %}
{% load juntagrico.config %}
{% load juntagrico.common %}
{% load juntagrico.snippets %}
{% load i18n %}

{% block page_title %}
    <h3>
        {% blocktrans with v_subscription_pl=vocabulary.subscription_pl %}Probe-{{ v_subscription_pl }} mit offenem Ende{% endblocktrans %}
    </h3>
{% endblock %}

{% block content %}
    {% action_date request %}
    {% include '../member/snippets/toggle_buttons.html' with co_members=True %}
    {% has_extra_subscriptions as b_has_extra_subscriptions %}
    {% if b_has_extra_subscriptions %}
        <div>
            <span class="switch switch-sm">
                <input class="switch" type="checkbox" id="show_normals" checked="checked">
                <label for="show_normals">{% trans "Normale Bestandteile anzeigen" %}</label>
            </span>
            <span class="switch switch-sm">
                <input class="switch" type="checkbox" id="show_extras" checked="checked">
                <label for="show_extras">{% trans "Zusatz-Abos anzeigen" %}</label>
            </span>
        </div>
    {% endif %}
    {{ block.super }}

    {# Modal: Cancel Part #}
    {% include "./snippets/modal_cancel_part.html" with name='cancel_part' %}
{% endblock %}

{% block list %}
    <table id="filter-table" class="list table">
        <thead>
            <tr>
                <th class="filter">
                    {% vocabulary "subscription" %}-Typ
                </th>
                <th class="filter">
                    {% trans "Bestellt am" %}
                </th>
                <th class="filter">
                    {% trans "Aktiviert am" %}
                </th>
                <th class="filter">
                    {% trans "Verbleibende Laufzeit" %}
                </th>
                <th class="filter">
                    {% trans "Verlängerung" %}
                </th>
                <th class="filter">
                    {% trans "Kontakt" %}
                </th>
                <th>
                    {% trans "Notizen" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for trial_part in object_list %}
                {% with remaining=trial_part.remaining_trial_days %}
                    <tr class="{% if trial_part.is_extra %}show-extra{% else %}show-normal{% endif %}">
                        <td>
                            <a href="{% url 'admin:juntagrico_subscription_change' trial_part.subscription.id %}">
                                {{ trial_part.type }}
                            </a>
                        </td>
                        <td>
                            {{ trial_part.creation_date }}
                        </td>
                        <td>
                            {% if trial_part.activation_date %}
                                {{ trial_part.activation_date }}
                            {% else %}
                                <div class="actions">
                                    <a href="{% url "part-activate" trial_part.id %}" class="btn btn-primary mb-1">
                                        {% trans "Aktivieren" %}
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if remaining is not None %}
                                {% blocktrans trimmed count remaining=remaining %}
                                    {{ remaining }} Tag
                                {% plural %}
                                    {{ remaining }} Tage
                                {% endblocktrans %}
                                {% if remaining < 0 %}
                                    <span class="badge badge-danger">{% trans "Überfällig" %}</span>
                                {% endif %}
                            {% else %}
                                {% blocktrans trimmed count remaining=trial_part.type.trial_days %}
                                    {{ remaining }} Tag ab Aktivierung
                                {% plural %}
                                    {{ remaining }} Tage ab Aktivierung
                                {% endblocktrans %}
                            {% endif %}
                        </td>
                        <td>
                            {% with next_parts=trial_part.follow_up_parts %}
                                {% if next_parts %}
                                    <div>{% trans "Ja" %}</div>
                                    <ul>
                                        {% for next_part in next_parts %}
                                            <li>
                                                {{ next_part.type }}
                                                {% if next_part.activation_date %}
                                                    {% blocktrans trimmed with ad=next_part.activation_date %}
                                                        per {{ ad }}
                                                    {% endblocktrans %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if trial_part.activation_date and not trial_part.deactivation_date %}
                                        <a class="btn btn-primary mb-1"
                                           title="{% trans "Probe nach regulärer Laufzeit deaktivieren." %}">
                                            {% trans "Abschliessen" %}
                                        </a>
                                    {% endif %}
                                {% elif trial_part.cancellation_date %}
                                    <div>{% trans "Nein" %}</div>
                                    {% blocktrans trimmed with cancellation_date=trial_part.cancellation_date %}
                                        <div>Gekündigt seit {{ cancellation_date }}</div>
                                    {% endblocktrans %}
                                    {% if trial_part.activation_date and not trial_part.deactivation_date %}
                                        <a class="btn btn-primary mb-1"
                                           title="{% trans "Probe nach regulärer Laufzeit deaktivieren." %}">
                                            {% trans "Abschliessen" %}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <div>{% trans "noch offen" %}</div>
                                    {% if trial_part.activation_date and not trial_part.deactivation_date %}
                                        <div class="actions">
                                            <a href="{% url 'manage-part-continue' trial_part.id %}" class="btn btn-primary mb-1">
                                                {% trans "Verlängern" %}
                                            </a>
                                            <a data-url="{% url 'manage-part-cancel' trial_part.id %}"
                                               data-toggle="modal" data-target="#cancel_part_modal"
                                               class="btn btn-outline-danger mb-1"
                                               title="{% trans "Lässt die Probe noch für die verbleibende Laufzeit laufen" %}">
                                                {% trans "Nicht verlängern" %}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            {% include "./snippets/members_linked.html" with subscription=trial_part.subscription %}
                        </td>
                        <td>
                            {{ trial_part.subscription.notes }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        function redraw_on_show_normal_extra (button, this_selector, is_checked) {
            // this makes the buttons show up correctly taking show-normal and show-extra status into account
            $('#filter-table').DataTable().draw()
        }

        $(function(){
            $("#show_extras").ToggleButton('.show-extra', redraw_on_show_normal_extra)
            $("#show_normals").ToggleButton('.show-normal', redraw_on_show_normal_extra)
            redraw_on_show_normal_extra()

            // apply submit url to modal button
            $('#cancel_part_modal').on('show.bs.modal', function (event) {
                $(this).find('.modal-submit').attr('href', $(event.relatedTarget).data('url'))
            })
        })
    </script>
{% endblock %}
